<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>it</title>
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
		<link rel="stylesheet" type="text/css" href="__INDEX__/css/index1.css" />


	</head>
	<body style="padding: 0px;">

{include file="index/nav" /}

		<button type="button" class="immediate_experience"></button>
		<header> <img src="__INDEX__/img/picture/nav_bg.jpg" style="width: 100%; height: auto;" />
			<a href="##" title="价值3260元系统只需99元立即领取">
				<p style="bottom:0;height:0.7rem;"></p>
			</a>

		</header>
		<div class="solution ow_ctn tc">
			<h1>解决方案</h1>
			<h6>SOLUTION</h6>
			<div>
				<section> <img src="__INDEX__/img/picture/mdglxt.jpg" alt="维修管理软件" />
					<h2>门店管理系统</h2>
					<p class="mb40">管理系统适用于<br /> 维修、美容、轮胎、钣喷店
					</p>
					<a href="javascript:void(0)" title="维修管理软件">了解更多</a>
				</section>
				<section> <img src="__INDEX__/img/picture/gdfh.jpg" alt="汇谷股东分红" />
					<h2>股东分红</h2>
					<p class="mb40">把客户变成分红股东，轻松增长<br /> 50-300万营业额
					</p>
					<a href="javascript:void(0)" title="股东分红">了解更多</a>
				</section>
				<section> <img src="__INDEX__/img/picture/ygfh.jpg" alt="汇谷员工分红" />
					<h2>员工分红</h2>
					<p>把员工变成“合伙人”轻松解决六大问题</p>
					<a href="javascript:void(0)" title="员工分红">了解更多</a>
				</section>
			</div>
			<div>
				<section> <img src="__INDEX__/img/picture/jkms.jpg" alt="汇谷积客模式" />
					<h2>积客模式</h2>
					<p>解决客源问题，一个月增长1000个新客户</p>
					<a href="javascript:void(0)" title="积客模式">了解更多</a>
				</section>
				<section> <img src="__INDEX__/img/picture/wxyxmk.jpg" alt="汇谷微信营销模块" />
					<h2>微信营销模块</h2>
					<p>28种微信营销方案</p>
					<a href="javascript:void(0)" title="微信营销模块">了解更多</a>
				</section>
				<section> <img src="__INDEX__/img/picture/sjgldp.jpg" alt="汇谷手机管理店铺" />
					<h2>手机管理店铺</h2>
					<p>汇谷软件跟手机打通，信息轻松掌握</p>
					<a href="javascript:void(0)" title="手机管理店铺">了解更多</a>
				</section>
			</div>
		</div>
		<div class="cus_recommend_case ow_ctn">
			<h1 class="">客户案例</h1>
			<h6 class="mb40">CUSTOMER CASE</h6>
			<div class="">
				<section> <img src="__INDEX__/img/yi.png" alt="杭州骇客荷姐" />
					<h3>汇谷影视</h3>
					<div class="mask">
						<p>河南汇谷影视文化传媒有限公司，<br/>经营范围包括设计、制作、代理、发布国内广告等。
						</p>
						<button type="button" data-videourl="">详情</button>
					</div>
				</section>
				<section> <img src="__INDEX__/img/01.jpg" alt="北京致宝行" />
					<h3>自助健身</h3>
					<div class="mask">
						<p>《我爱运动》是专注健康生活方式的品牌,提供瘦身塑形、拳击、舞蹈和瑜伽等近100种高品质的健身团体课和24小时自助健身服务。								</p>
						<button type="button" data-videourl="http://yuntv.letv.com/bcloud.html?uu=7ddc155d09&vu=51cdface20&auto_play=1">详情</button>
					</div>
				</section>
				<section> <img src="__INDEX__/img/01.png" alt="厦门鹭畅行" />
					<h3>趣味农场</h3>
					<div class="mask">
						<p>共享农场就是：把共享经济的理念带到农场经营中去，打造共享农场大联盟。 生活馆配套设施建设：对接农场与消费者，打通线上线下的购物流程，为消费者营造良好的购物体验，促进农场产品的集中展示与销售。								</p>
						<button type="button" data-videourl="http://yuntv.letv.com/bcloud.html?uu=7ddc155d09&vu=1d473dcbc5&auto_play=1">详情</button>
					</div>
				</section>
			</div>
			<button type="button" class="mt60" onClick="javascript: window.open('{:url('cases/index')}');">查看更多</button>
		</div>

		<div class="solution ow_ctn tc">
			<h1>解决方案</h1>
			<h6>SOLUTION</h6>
		<div class="servicesBox clearfix">

			<div class="serBox">
				<div class="serBoxOn" ></div>
				<div class="pic1" style="right: 93px;"> <img src="__INDEX__/img/icon/a1.png"> </div>
				<div class="pic2" style="left: -110px;"> <img src="__INDEX__/img/icon/a2.png"> </div>
				<div class="txt1" style="left: 0px;">
					<span class="tit">在线支付</span>
					<p>定价：1000元/每个接口</p>
				</div>
				<div class="txt2" style="right: -240px; color: rgb(255, 255, 255);">
					<p style="color: rgb(255, 255, 255);">支付宝<br>财付通<br>宝付等</p>
				</div>
			</div>
			<div class="serBox">
				<div class="serBoxOn" ></div>
				<div class="pic1" style="right: 93px;"> <img src="__INDEX__/img/icon/b1.png"> </div>
				<div class="pic2" style="left: -110px;"> <img src="__INDEX__/img/icon/b2.png"> </div>
				<div class="txt1" style="left: 0px;">
					<span class="tit">短信业务</span>
					<p>定价：800元（1毛/条）</p>
				</div>
				<div class="txt2" style="right: -240px; color: rgb(255, 255, 255);">
					<p style="color: rgb(255, 255, 255);">卡发、网关<br>绿色通道<br>安全无拦截</p>
				</div>
			</div>
			<div class="serBox">
				<div class="serBoxOn" ></div>
				<div class="pic1" style="right: 93px;"> <img src="__INDEX__/img/icon/c1.png"> </div>
				<div class="pic2" style="left: -110px;"> <img src="__INDEX__/img/icon/c2.png"> </div>
				<div class="txt1" style="left: 0px;">
					<span class="tit">DDOS安全防护</span>
					<p>定价：3000起</p>
				</div>
				<div class="txt2" style="right: -240px; color: rgb(255, 255, 255);">
					<p style="color: rgb(255, 255, 255);">ddos安全防护为<br>你的网站保驾护航</p>
				</div>
			</div>
			<div class="serBox">
				<div class="serBoxOn" ></div>
				<div class="pic1" style="right: 93px;"> <img src="__INDEX__/img/icon/d1.png"> </div>
				<div class="pic2" style="left: -110px;"> <img src="__INDEX__/img/icon/d2.png"> </div>
				<div class="txt1" style="left: 0px;">
					<span class="tit">域名主机</span>
					<p>定价：200元/100M</p>
				</div>
				<div class="txt2" style="right: -240px; color: rgb(255, 255, 255);">
					<p style="color: rgb(255, 255, 255);">运算速度快<br>国内外主机<br>免网站备案</p>
				</div>
			</div>
			<!-- <div class="serBox">
				<div class="serBoxOn"></div>
				<div class="pic1" style="right: 73px;"> <img src="__INDEX__/img/icon/e1.png"> </div>
				<div class="pic2" style="left: -110px;"> <img src="__INDEX__/img/icon/e2.png"> </div>
				<div class="txt1" style="left: 0px;">
					<span class="tit">策划包装</span>
					<p>定价：10000起/分钟</p>
				</div>
				<div class="txt2" style="right: -240px;">
					<p>诚信保障，信赖基础<br />快速高效，保障成功</p>
				</div>
			</div> -->


		</div>
		<div class="servicesBox clearfix" style="border-top: solid 1px #DDDDDD;">
			<div class="serBox">
				<div class="serBoxOn" ></div>
				<div class="pic1" style="right: 93px;"> <img src="__INDEX__/img/icon/i1.png"> </div>
				<div class="pic2" style="left: -110px;"> <img src="__INDEX__/img/icon/i2.png"> </div>
				<div class="txt1" style="left: 0px;">
					<span class="tit">SSL加密服务</span>
					<p>定价：1500元/年</p>
				</div>
				<div class="txt2" style="right: -240px; color: rgb(255, 255, 255);">
					<p style="color: rgb(255, 255, 255);">提供https://打头加密服务，<br>为你的网站上一层锁</p>
				</div>
			</div>
			<div class="serBox">
				<div class="serBoxOn" ></div>
				<div class="pic1" style="right: 93px;"> <img src="__INDEX__/img/icon/f1.png"> </div>
				<div class="pic2" style="left: -110px;"> <img src="__INDEX__/img/icon/f2.png"> </div>
				<div class="txt1" style="left: 0px;">
					<span class="tit">视频制作</span>
					<p>定价：1000元/分钟</p>
				</div>
				<div class="txt2" style="right: -240px; color: rgb(255, 255, 255);">
					<p style="color: rgb(255, 255, 255);">互动=主动<br>直观性、确定性<br>高效性、广泛性</p>
				</div>
			</div>
			<div class="serBox">
				<div class="serBoxOn" ></div>
				<div class="pic1" style="right: 93px;"> <img src="__INDEX__/img/icon/g1.png"> </div>
				<div class="pic2" style="left: -110px;"> <img src="__INDEX__/img/icon/g2.png"> </div>
				<div class="txt1" style="left: 0px;">
					<span class="tit">官网建设</span>
					<p>定价：2500起</p>
				</div>
				<div class="txt2" style="right: -240px; color: rgb(255, 255, 255);">
					<p style="color: rgb(255, 255, 255);">诚信保障，信赖基础<br>快速高效，保障成功</p>
				</div>
			</div>
			<div class="serBox">
				<div class="serBoxOn" ></div>
				<div class="pic1" style="right: 93px;"> <img src="__INDEX__/img/icon/h1.png"> </div>
				<div class="pic2" style="left: -110px;"> <img src="__INDEX__/img/icon/h2.png"> </div>
				<div class="txt1" style="left: 0px;">
					<span class="tit">境外公司注册</span>
					<p>暂不支持</p>
				</div>
				<div class="txt2" style="right: -240px; color: rgb(255, 255, 255);">
					<p style="color: rgb(255, 255, 255);">多媒体化<br>表现力强<br>呈现快捷</p>
				</div>
			</div>

			<!-- <div class="serBox">
				<div class="serBoxOn"></div>
				<div class="pic1" style="right: 73px;"> <img src="__INDEX__/img/icon/c1.png"> </div>
				<div class="pic2" style="left: -110px;"> <img src="__INDEX__/img/icon/c2.png"> </div>
				<div class="txt1" style="left: 0px;">
					<span class="tit">DDOS安全防护</span>
					<p>定价：3000起</p>
				</div>
				<div class="txt2" style="right: -240px;">
					<p>ddos安全防护为<br />你的网站保驾护航</p>
				</div>
			</div> -->
		</div>

	</div>
		<div class="cus_evaluate ow_ctn tc">
			<h1>解决方案&客户评价</h1>
			<h6 class="fg_white mb40">SOLUTION & CUSTOMER EVALUATION</h6>
			<div class="mt40 mb40 tc">
				<button data-sliderimgs-id="slider_imgs1" class="tab_btn mr40 active">解决方案</button>
				<button data-sliderimgs-id="slider_imgs2" class="tab_btn">客户评价</button>
			</div>
			<div class="slider">
				<button id="sliderBtnLeft" type="button"> <img src="__INDEX__/img/picture/arrow_left.png" /></button>
				<div class="slider_ctn">
					<div id="slider_imgs1" class="slider_imgs">
						<section> <img src="__INDEX__/img/picture/1_120z94f45464.jpg" alt="汇谷维修美容店连锁|加盟|管" />
							<div>
								<h3><a href="http://www.zhongtukj.com/fuwu/fangan/20161209/262.html" title="汇谷维修美容店连锁|加盟|管" target="_blank">汇谷维修美容店连锁|加盟|管</a></h3>
								<p> 而对于不少打工者来说，选择创业是心目中的不错选择。对于那些想要在年后立马创业的人们来说，什么行业更易入门，</p>
							</div>
						</section>
						<section> <img src="__INDEX__/img/picture/1-16102615304na-lp.jpg" alt="汇谷维修客户管理解决方案" />
							<div>
								<h3><a href="http://www.zhongtukj.com/fuwu/fangan/20171012/1802.html" title="汇谷维修客户管理解决方案" target="_blank">汇谷维修客户管理解决方案</a></h3>
								<p>客户转介绍系统 店铺现状： 现在店铺的现状是客户不愿意主动帮店铺转介绍，只有小部分客户会介绍一两个客户，没有持续</p>
							</div>
						</section>
						<section> <img src="__INDEX__/img/picture/1-16102611432n23-lp.png" alt="美容店员工管理解决方案 权" />
							<div>
								<h3><a href="http://www.zhongtukj.com/fuwu/fangan/20171012/1800.html" title="美容店员工管理解决方案 权" target="_blank">美容店员工管理解决方案 权</a></h3>
								<p>美容店员工管理软件权限管理系统 权限管理系统 ，一般指根据系统设置的安全规则或者安全策略，用户可以访问而且只</p>
							</div>
						</section>
						<section> <img src="__INDEX__/img/picture/1-161026104hle-lp.png" alt="美容店客户关系管理解决方案" />
							<div>
								<h3><a href="http://www.zhongtukj.com/fuwu/fangan/20171012/1799.html" title="美容店客户关系管理解决方案" target="_blank">美容店客户关系管理解决方案</a></h3>
								<p>美容店客户管理软件,售后管理系统设置了提醒功能，到了时间系统自动提醒客户和管理员 项目提醒功能 只要有设定的项</p>
							</div>
						</section>
						<section> <img src="__INDEX__/img/picture/1-161026103211100-lp.png" alt="美容店大数据分析解决方案" />
							<div>
								<h3><a href="http://www.zhongtukj.com/fuwu/fangan/20171012/1798.html" title="美容店大数据分析解决方案" target="_blank">美容店大数据分析解决方案</a></h3>
								<p>大数据决策分析系统强大的分析功能，告诉你店铺存在的问题 系统针对大数据分析，自动分析得出以上结果，店家可以针对</p>
							</div>
						</section>
						<section> <img src="__INDEX__/img/picture/1-161026105420236-lp.png" alt="美容店活动营销解决方案 众" />
							<div>
								<h3><a href="http://www.zhongtukj.com/fuwu/fangan/20171012/1797.html" title="美容店活动营销解决方案 众" target="_blank">美容店活动营销解决方案 众</a></h3>
								<p>活动策划做一场火爆的活动，让你的营业额翻倍增长！ 抽奖？优惠券营销？抢红包？砍价活动？圣诞游戏？新年游戏？ 活动</p>
							</div>
						</section>
					</div>
					<div id="slider_imgs2" class="slider_imgs" style="display: none;">
						<section> <img src="__INDEX__/img/picture/1-1610251gu9432.png" />
							<div>
								<h3><a href="http://www.zhongtukj.com/fuwu/pingjia/20161025/62.html" title="感谢汇谷美容管理软件为门店" target="_blank">感谢汇谷美容管理软件为门店</a></h3>
								<p>美容管理软件的使用贯穿门店实际管理的每个环节，影响到门店每一个人的工作效率和整个门店的运转效率。如果选</p>
							</div>
						</section>
						<section> <img src="__INDEX__/img/picture/1-1f51g10a70-l.jpg" />
							<div>
								<h3><a href="http://www.zhongtukj.com/fuwu/pingjia/20170517/555.html" title="感谢汇谷维修管理软件带我走" target="_blank">感谢汇谷维修管理软件带我走</a></h3>
								<p>听十个合伙创业成功的故事，不如看一个失败的故事来得印象深刻。要知道，在这个物价飞涨的年代，创业并不是很容易的事</p>
							</div>
						</section>
						<section> <img src="__INDEX__/img/picture/150t0fi-0-lp.jpg" />
							<div>
								<h3><a href="http://www.zhongtukj.com/fuwu/pingjia/20161101/78.html" title="车爵士:汇谷软件微信拓客功能非" target="_blank">车爵士:汇谷软件微信拓客功能非</a></h3>
								<p>汇谷美容软件财务功能很好，省了好多事！汇谷美容软件很不错，挺符合我的心意！我们是新开的店，试用了好多个</p>
							</div>
						</section>
						<section> <img src="__INDEX__/img/picture/1-161110094250h5.png" />
							<div>
								<h3><a href="http://www.zhongtukj.com/fuwu/pingjia/20161025/63.html" title="大连瓦房车本色:汇谷软件把老板" target="_blank">大连瓦房车本色:汇谷软件把老板</a></h3>
								<p>对于股东分红，员工分红等营销模块，洪姐持谨慎的态度，希望在更深入的了解后再进行合作。能够不远万里过来探讨交流新</p>
							</div>
						</section>
						<section> <img src="__INDEX__/img/picture/1-161020154544591-lp.jpg" />
							<div>
								<h3><a href="http://www.zhongtukj.com/fuwu/pingjia/20161020/42.html" title="上门洗车" target="_blank">上门洗车</a></h3>
								<p>吸粉wifi功能非常好，短短几个月我就获得了几千客户资料，以前老是愁没客户资源，现在再也不用为这个事情发愁了！</p>
							</div>
						</section>
						<section> <img src="__INDEX__/img/picture/1-16102015594i05-lp.jpg" />
							<div>
								<h3><a href="http://www.zhongtukj.com/fuwu/pingjia/20161020/45.html" title="德宝美容" target="_blank">德宝美容</a></h3>
								<p>软件提前买好了,第一天,用微信第一天就有了3百多个粉丝,很惊喜,希望以后可以越来越好.不得不赞下微信功能</p>
							</div>
						</section>
					</div>
				</div>
				<button id="sliderBtnRight" type="button"> <img src="__INDEX__/img/picture/arrow_right.png" /></button>
			</div>
		</div>

		<div class="free_trial">
			<h1 class="fg_white f24 mb15">免费试用</h1>
			<p class="fg_white f16 mb40" style="opacity: 0.8;">专注于it行业，10年行业经验，专业的管理软件服务商</p>
			<div class="row_c">
				<div class="ft_submit row">
					<input id="telephone" type="number" class="cell" placeholder="输入您的手机号" maxlength="11" />
					<button type="button" onClick="javascript: window.location.href = '#';" >点击提交</button>
				</div>
			</div>
		</div>

		<div class="copyright">
			<p>© 2016郑州汇谷电子科技有限公司 All rights reserved 豫ICP备15001063号-3</p>
			<a href="javascript:void(0)">关于汇谷</a> |
			<a href="javascript:void(0)">汇谷软件</a> |
			<a href="javascript:void(0)">积客模式</a> |
			<a href="javascript:void(0)">股东分红</a> |
			<a href="javascript:void(0)">员工分红</a> |
			<a href="javascript:void(0)">微信营销</a> |
			<a href="javascript:void(0)">手机管理</a> |
			<a href="javascript:void(0)">客户案例</a> |
			<a href="http://sj.zhongtukj.com/">手机站</a> |
			<a href="/data/sitemap.html">网站地图</a>
			<p style="opacity: 0.3;"> 地址：河南省郑州市管城区紫荆山路与商城路交叉路口兴达国贸18楼1802室 </p>
		</div>

		<script src="__INDEX__/js/jss/jquery.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
                    $("#sliderBtnLeft").attr("disabled","disabled");
                     $(".cus_evaluate .tab_btn").mouseover(function (){
                     	if($(this).hasClass("active")){}else{
	                     	$(".tab_btn").removeClass("active");
	                        $(this).addClass("active");
	                        var imgs =  $(this).data('sliderimgs-id');
	                        $(".slider_imgs").css("display","none");
	                        $("#"+imgs).css("display","block");
	                        $("#"+imgs).css("margin-left","0px");
	                        $("#sliderBtnLeft").attr("disabled","disabled");
	                        $("#sliderBtnRight").attr("disabled",false);
                     	}
  					});
  					$("#sliderBtnLeft").click(function(){
  						var disp = document.getElementById("slider_imgs2");
  						if(disp.style.display!="none"){
  							$("#slider_imgs2").css("margin-left","0px");
  						}else{
  							$("#slider_imgs1").css("margin-left","0px");
  						}
  						 $("#sliderBtnLeft").attr("disabled","disabled");
  						 $("#sliderBtnRight").attr("disabled",false);
  					})
  					$("#sliderBtnRight").click(function(){
  						var disp = document.getElementById("slider_imgs2");
  						if(disp.style.display!="none"){
  							$("#slider_imgs2").css("margin-left","-1083px");
  						}else{
  							$("#slider_imgs1").css("margin-left","-1083px");
  						}
  						 $("#sliderBtnRight").attr("disabled","disabled");
  						 $("#sliderBtnLeft").attr("disabled",false);
  					})

		</script>
	</body>

</html>