<style type="text/css">
	.header {
    width: 100%;
    min-width: 1200px;
  
    background: #fff;
    border-bottom: 20px  solid #F2F2F2;
}.containers {
    margin: 0px auto;
    width: 1200px;
    display: block;
   
    padding: 0px;
}
.fl {
    display: block;
    float: left;
}

.logo {
    margin-top: 15px;
    width: 156px;
    height: 59px;
    display: block;
}

h1, .h1 {
    font-size: 36px;
}
.logo a {
    width: 100%;
    height: 100%;
    display: block;
    text-indent: -9999px;
   background: url(__INDEX__/img/logos.png) no-repeat center center;
}
.fr {
    display: block;
    float: right;
}

.nav {
    overflow: hidden;
    text-align: center;
}
.fr {
    display: block;
    float: right;
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav ul {
    margin: 0;
    overflow: hidden;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
}
ol, ul {
    list-style: none;
}

.nav li {
    margin: 0 25px;
  
    display: inline;
    padding: 0px;
}
.nav li a {
    color: #333;
     width: 80px;
     text-align: center;
    font-size: 18px;
}

.nav li a {
    margin-top: 30px;
    padding-bottom: 20px;
    display: inline-block;
}
.nav li.on a {
    border-bottom: 4px solid #0368bd;
}
.footer_bg{width:100%;background:#1e2831;}

.footer_auto{
	padding:30px 60px;
	width:1080px;
	margin:0 auto;
	background: #1e2831;
}
.footer_auto .contactUs{
	float: left;
	width: 414px;
}
.footer_auto .contactUs img{
	float: left;
}
.footer_auto .contactUs span{
	display: block;
	margin-top: 15px;
	color: #fff;
	font-size:14px;
}
.footer_auto .listText{
	float: left;
	width: 126px;
}
.footer_auto .listText a{
	display: block;
	padding-bottom: 24px;
	color: #fff;
	font-size:15px;
}
.footer_auto .codeBox{
	float: left;
	margin-left: 100px;
}
.footer_auto .codeBox div:nth-child(1){
	margin-right: 58px;
}
.footer_auto .codeText{
	float: left;
	width: 117px;

}
.footer_auto .codeText span{
	display: block;
	margin-top: 12px;
	font-size: 14px;
	color: #fff;
	text-align: center;
}
.footer{
	width: 100%;
	background-color: #1e2831;
	height: 60px;
	z-index: 100;
	
}
.footer .center{
	width: 75%;
	margin: 0  auto;
} 
.footer .center p{
	width: 100%;
	text-align: center;
	line-height: 60px;
	color: #fff;
	font-size: 14px;
}
</style>
<div class="header">
	<div class="containers" style=" overflow: hidden; height: 80px;">
		<h1 class="logo fl"><a href="{:url('index/one')}"></a></h1>
		<div class="nav fr">
			<ul>
		      <li id="choiceness" ><a href="{:url('demand/index')}">需求</a></li>
		      <!-- <li id='mkBank'><a href="mkBank.do">代码银行</a></li> -->
		      <li id="counselor" ><a href="{:url('cases/index')}">案例</a></li>
		      <li id="selecttype" class="on"><a href="#">人才</a></li>
		      <!-- <li id='findinvestor'><a href="findinvestor.do">找投资人</a></li>
		      <li id='news'><a href="news.do">新闻资讯</a></li>
		      <li id='contact'><a href="contact.do">洽谈合作</a></li> -->
			</ul>
		</div>
	</div>
</div>