{extend name="template/base" /}
{block name="content"}
<div class="page-container">
    <form class="mb-20" method="get" action="{:\\think\\Url::build($Request.action)}">
        <input type="text" class="input-text" style="width:250px" placeholder="订单编号" name="order_id" value="{$Request.param.order_id}" >
        <input type="text" class="input-text" style="width:250px" placeholder="用户id" name="user_id" value="{$Request.param.user_id}" >
        <input type="text" class="input-text" style="width:250px" placeholder="案例id" name="cases_id" value="{$Request.param.cases_id}" >
        <input type="text" class="input-text Wdate" style="width:250px" placeholder="支付时间" name="create_time" value="{$Request.param.create_time}" {literal} onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" {/literal} >
        <button type="submit" class="btn btn-success"><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
    </form>
    <div class="cl pd-5 bg-1 bk-gray">
        <span class="l">
            {tp:menu menu="add,forbid,resume" /}
        </span>
        <span class="r pt-5 pr-5">
            共有数据 ：<strong>{$count ?? '0'}</strong> 条
        </span>
    </div>
    <table class="table table-border table-bordered table-hover table-bg mt-20">
        <thead>
        <tr class="text-c">
            <th width="25"><input type="checkbox"></th>
            <th width="">id</th>
            <th width="">订单编号</th>
            <th width="">用户id</th>
            <th width="">案例id</th>
            <th width="">案例名称</th>
            <th width="">金额</th>
            <th width="">支付时间</th>
            <th width="">状态</th>
            <th width="70">操作</th>
        </tr>
        </thead>
        <tbody>
        {volist name="list" id="vo"}
        <tr class="text-c">
            <td><input type="checkbox" name="id[]" value="{$vo.id}"></td>
            <td>{$vo.id}</td>
            <td>{$vo.order_id|high_light=$Request.param.order_id}</td>
            <td>{$vo.user_id|high_light=$Request.param.user_id}</td>
            <td>{$vo.cases_id|high_light=$Request.param.cases_id}</td>
            <td>{$vo.name}</td>
            <td>{$vo.money}</td>
            <td>{$vo.create_time}</td>
            <td>{$vo.status|get_status}</td>
            <td class="f-14">
                {$vo.status|show_status=$vo.id}
                {tp:menu menu='sedit' /}
                {tp:menu menu='sdeleteforever' /}
            </td>
        </tr>
        {/volist}
        </tbody>
    </table>
    <div class="page-bootstrap">{$page ?? ''}</div>
</div>
{/block}

