<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>潜在客户信息</title>
		<link rel="stylesheet" type="text/css" href="__INDEX__/css/cuiniao/form.css" />
		<script src="__INDEX__/js/jss/jquery.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body>
		<div class="forms">
			<div class="banner-text">

			</div>
			<h1 class="form-title">
            潜在客户信息
          </h1>
			<div class="text">
				<div class="table1">
					
				
				<label>推荐人信息</label>
				<label style="    color: #545454; font-size: 14px;">成交后，我们会即可返佣金</label>
				<table border="1" cellspacing="0" cellpadding="0">

					<tr>
						<td></td>
						<td>姓名</td>
						<td>微信号</td>
						<td>联系方式</td>
						<td>微信收款</td>
						<td>收款账号</td>
						<td>支付宝收款</td>
						<td>收款账号</td>
					</tr>
					<tr>
						<td>1</td>
						<td><input type="" name="" id="" value="" /></td>
						<td><input type="" name="" id="" value="" /></td>
						<td><input type="" name="" id="" value="" /></td>
						<td><input type="" name="" id="" value="" /></td>
						<td><input type="" name="" id="" value="" /></td>
						<td><input type="" name="" id="" value="" /></td>
						<td><input type="" name="" id="" value="" /></td>
					</tr>

				</table>
				</div>
				<div class="select">
					<label>与客户关系</label>
				<select name="">
					<option value="">朋友</option>
					<option value="">同事</option>
					<option value="">同学</option>
					<option value="">亲戚</option>
					<option value="">不认识</option>
					<option value="">其他</option>
				</select>
				</div>
				
				<div class="table2">
					<label>潜在客户信息</label>
				<label style="    color: #545454; font-size: 14px;">请准确填写以下信息，以便我们与潜在客户联系</label>
				<table border="1" cellspacing="0" cellpadding="0">

					<tr>
						<td></td>
						<td>姓名</td>
						<td>联系方式</td>
						<td>微信号</td>
						<td>公司/单位名称</td>
						<td>职务</td>
						<td>意向服务</td>
						
					</tr>
					<tr>
						<td>1</td>
						<td><input type="" name="" id="" value="" /></td>
						<td><input type="" name="" id="" value="" /></td>
						<td><input type="" name="" id="" value="" /></td>
						<td><input type="" name="" id="" value="" /></td>
						<td><input type="" name="" id="" value="" /></td>
						<td><input type="" name="" id="" value="" /></td>
						
					</tr>

				</table>
				</div>
				<div class="inpput">
					<label>潜在客户基本情况描述</label>
				<input type="" name="" id="" value="" />
				</div>
				<div class="inpput">
					<label>问题反馈</label>
					<label style="    color: #545454; font-size: 14px;">有什么需要跟我们讲的，请留言</label>
				
				<input type="" name="" id="" value="" />
				
				<button id="bth">提交</button>
				</div>
				<div class="texts">
					<img src="_INDEX__/ing/cuiniao/img/08.png"/>
					<label>潜在客户信息</label>
					<label style=" font-size: 15px;">提交成功</label>
				

				
				
				</div>
			</div>
		</div>
		<script type="text/javascript">
			$("#bth").click(function(){
				$(".forms h1").css("display","none");$(".forms .text>div").css("display","none");
				$(".forms .text>div.texts").css("display","block");
				$(".forms .text").css("background-color","white");
			})
		</script>
	</body>

</html>