<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>小程序制作</title>
		<link rel="stylesheet" type="text/css" href="__INDEX__/css/cuiniao/index.css"/>
	</head>
	<body>
		{include file="index/nav" /}
		<div class="main" style="padding-top: 60px;">
			<div class="main2">
				<p>为什么要做小程序</p>
				<div class="main2_s">
					<div class="four">
						<div class="top">
							<img src="_INDEX__/ing/cuiniao/img/125.png" />
						</div>
						<div class="buttom">
							<h4>多一个获客的渠道</h4>
							<p>微信9亿用户给小程序带来了巨大的流量，天然的流量红利，优质的潜在客户。</p>
						</div>
					</div>
					<div class="four">
						<div class="top">
							<img src="_INDEX__/ing/cuiniao/img/127.png" />
						</div>
						<div class="buttom">
							<h4>转化率更高</h4>
							<p>以电商为例，传统网站转化率为5%，而小程序在30%，因为小程序打开更快，体验更好！</p>
						</div>
					</div>
					<div class="four">
						<div class="top">
							<img src="_INDEX__/ing/cuiniao/img/08.png" />
						</div>
						<div class="buttom">
							<h4>制作周期短</h4>
							<p>仅需要7个工作日就能完成制作，如果素材内容简单，在3天能就能完成制作</p>
						</div>
					</div>
					<div class="four">
						<div class="top">
							<img src="_INDEX__/ing/cuiniao/img/170.png" />
						</div>
						<div class="buttom">
							<h4>竞争对手已行动</h4>
							<p>在您思考的时候，您的竞争对手可能已经在行动了！并且，你的客户在用微信。</p>
						</div>
					</div>
				</div>
			</div>
			<div class="main8">
				<div class="header_bottom" style="position: absolute; top: 0px; padding: 0px; margin: 0px ;width: 100%; z-index: 10;">
					<span class="header_bottom_bai a3"></span>
					<span class="header_bottom_bai a4"></span>
				</div>
				<div class="center">
					<img src="_INDEX__/ing/cuiniao/img/3.png"/>
					<div class="left">
						<p style="font-size: 30px;">
						<span class="s-text-color-orange">1000元／年<sub style="font-size: 20px;">起</sub></span>
					</p>
					<p style="font-size: 28px;">每天3元起，即可拥有新的流量入口</p>
					
					<p style="font-size: 28px; opacity: 0;">&nbsp;</p>
					<p style="font-size: 26px;">分销｜优惠券｜会员卡｜限时秒杀｜拼团</p>
					<p style="font-size: 22px;">充分利用微信的社交红利</p>
					<a href="" class="a-buttoms " style="margin:20px 0px;">案例</a>
					</div>
					</div>
			</div>
			<div class="main7" >
				
				<p style="color: black;">小程序制作案例</p>
				<div class="">
					<div class="">
						<img src="_INDEX__/ing/cuiniao/img/1.png"/>
					</div>
					<div class="">
						<img src="_INDEX__/ing/cuiniao/img/2.png"/>
					</div>
					<div class="">
						<img src="_INDEX__/ing/cuiniao/img/3.png"/>
					</div>
					<div class="">
						<img src="_INDEX__/ing/cuiniao/img/4.png"/>
					</div>
					<div class="">
						<img src="_INDEX__/ing/cuiniao/img/5.jpg"/>
					</div>
					<div class="">
						<img src="_INDEX__/ing/cuiniao/img/6.png"/>
					</div>
				</div>
				
				
			</div>
			<div class="main9">
				<div class="header_bottom" style="position: absolute; top: 0px; padding: 0px; margin: 0px ;width: 100%; z-index: 10;">
					<span class="header_bottom_bai a3"></span>
					<span class="header_bottom_bai a4"></span>
				</div>
				<div class="center">
					
					<div class="left">
						
					<p style="font-size: 38px;">简单的操作</p>
					
					<p style="font-size: 28px; opacity: 0;">&nbsp;</p>
					
					<p style="font-size: 18px;">提交您想要展示的素材，其他的全交给我们。甚至您可以向我扔一堆资料过来，比如微信公众号、网页、图片、视频、文字等等</p>
					<a href="" class="a-buttoms" style="margin:20px 0px;">提交素材</a>
					</div>
					<img src="_INDEX__/ing/cuiniao/img/18.png"/>
					</div>
			</div>
			<div class="main4" style="background-color: #F1A852;">
				<p>服务环节</p>
				<div class="cenner" style="width: 900px;">
					<div class="process-item-wrapper">
						<div class="process-item-infos">
							<div class="process-item-index s-font-body">1</div>
							<div class="process-item-linker"></div>
						</div>
						<div class="s-item-text-group ">
							<div class=""></div>
							<div class="s-item-title">
								<div class="s-component s-text">
									<h3 class="s-component-content s-font-heading"><p style="font-size: 80%;">注册与备案</p></h3></div>
							</div>
							<div class="s-item-text">
								<div class="s-component s-text">
									<div class="s-component-content s-font-body">
										<p style="font-size: 80%;">域名与网站的注册、备案、ICP备案、服务器配置</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="process-item-wrapper">
						<div class="process-item-infos">
							<div class="process-item-index s-font-body">2</div>
							<div class="process-item-linker"></div>
						</div>
						<div class="s-item-text-group ">
							<div class=""></div>
							<div class="s-item-title">
								<div class="s-component s-text">
									<h3 class="s-component-content s-font-heading"><p style="font-size: 80%;">网站策划</p></h3></div>
							</div>
							<div class="s-item-text">
								<div class="s-component s-text">
									<div class="s-component-content s-font-body">
										<p style="font-size: 80%;">栏目规划、要点提炼</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="process-item-wrapper">
						<div class="process-item-infos">
							<div class="process-item-index s-font-body">3</div>
							<div class="process-item-linker"></div>
						</div>
						<div class="s-item-text-group ">
							<div class=""></div>
							<div class="s-item-title">
								<div class="s-component s-text">
									<h3 class="s-component-content s-font-heading"><p style="font-size: 80%;">网站编辑</p></h3></div>
							</div>
							<div class="s-item-text">
								<div class="s-component s-text">
									<div class="s-component-content s-font-body">
										<p style="font-size: 80%;">图片与文字排版、商品编辑</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="process-item-wrapper">
						<div class="process-item-infos">
							<div class="process-item-index s-font-body">4</div>
							
						</div>
						<div class="s-item-text-group ">
							<div class=""></div>
							<div class="s-item-title">
								<div class="s-component s-text">
									<h3 class="s-component-content s-font-heading"><p style="font-size: 80%;">支付配置</p></h3></div>
							</div>
							<div class="s-item-text">
								<div class="s-component s-text">
									<div class="s-component-content s-font-body">
										<p style="font-size: 80%;">企业支付宝账户、微信企业支付账户开户与配置</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</body>
</html>
