<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>it</title>
		<link rel="stylesheet" type="text/css" href="__INDEX__/css/index1.css" />		
	</head>
	<body>
		<!-- 
		      index.html
		      <project>
		      
		      Created by Administrator on 2018-05-07.
		      Copyright 2018 Administrator. All rights reserved.
		 -->
		<nav class="header_nav">
			<a> <img src="__INDEX__/img/hui.png" /></a>
			<a id="nav_sy" href="{:url('index/index')}" title="首页" target="_blank">首页</a>
			<a href="{:url('demand/index')}" title="需求" target="_blank">需求</a>
			<a href="{:url('cases/index')}" title="案例" target="_blank">案例</a>
			<a href="#" title="人才" target="_blank">人才</a>
			<a  href="{:url('index/lxwm')}" titile="联系我们" target="_blank">联系我们</a>						
		</nav>
		<button type="button" class="immediate_experience"></button>
		<header> <img src="__INDEX__/img/picture/nav_bg.jpg" style="width: 100%; height: auto;" />
			<a href="##" title="价值3260元系统只需99元立即领取">
				<p style="bottom:0;height:0.7rem;"></p>
			</a>
			
		</header>
		<div class="solution ow_ctn tc">
			<h1>解决方案</h1>
			<h6>SOLUTION</h6>
			<div>
				<section> <img src="__INDEX__/img/picture/mdglxt.jpg" alt="汽车维修管理软件" />
					<h2>门店管理系统</h2>
					<p class="mb40">管理系统适用于<br /> 维修、美容、轮胎、钣喷店
					</p>
					<a href="#" title="汽车维修管理软件">了解更多</a>
				</section>
				<section> <img src="__INDEX__/img/picture/gdfh.jpg" alt="众途股东分红" />
					<h2>股东分红</h2>
					<p class="mb40">把客户变成分红股东，轻松增长<br /> 50-300万营业额
					</p>
					<a href="#" title="股东分红">了解更多</a>
				</section>
				<section> <img src="__INDEX__/img/picture/ygfh.jpg" alt="众途员工分红" />
					<h2>员工分红</h2>
					<p>把员工变成“合伙人”轻松解决六大问题</p>
					<a href="#" title="员工分红">了解更多</a>
				</section>
			</div>
			<div>
				<section> <img src="__INDEX__/img/picture/jkms.jpg" alt="众途积客模式" />
					<h2>积客模式</h2>
					<p>解决客源问题，一个月增长1000个新客户</p>
					<a href="#" title="积客模式">了解更多</a>
				</section>
				<section> <img src="__INDEX__/img/picture/wxyxmk.jpg" alt="众途微信营销模块" />
					<h2>微信营销模块</h2>
					<p>28种微信营销方案</p>
					<a href="#" title="微信营销模块">了解更多</a>
				</section>
				<section> <img src="__INDEX__/img/picture/sjgldp.jpg" alt="众途手机管理店铺" />
					<h2>手机管理店铺</h2>
					<p>众途软件跟手机打通，信息轻松掌握</p>
					<a href="#" title="手机管理店铺">了解更多</a>
				</section>
			</div>
		</div>
		<div class="cus_recommend_case ow_ctn">
			<h1 class="">客户案例</h1>
			<h6 class="mb40">CUSTOMER CASE</h6>
			<div class="">
				<section> <img src="__INDEX__/img/yi.png" alt="杭州骇客荷姐" />
					<h3>杭州骇客荷姐<br />
        一年增长300万营业额</h3>
					<div class="mask">
						<p>骇客荷姐分享股东分红使用效果——<br /> 如何在一年内拓展六家分店，招募200名股东，增长300万营业额，带动近千名优质客源
						</p>
						<button type="button" data-videourl="http://yuntv.letv.com/bcloud.html?uu=7ddc155d09&vu=9a2ab0c353&auto_play=1">视频讲解</button>
					</div>
				</section>
				<section> <img src="__INDEX__/img/01.jpg" alt="北京致宝行" />
					<h3>北京致宝行<br />
        把员工变成合伙人</h3>
					<div class="mask">
						<p>致宝行蔺总分享员工分红模式使用效果——<br /> 通过员工分红模式把员工变成合伙人，不占股权，提高员工效率两倍以上，门店项目业绩增长了3倍，员工零流失
						</p>
						<button type="button" data-videourl="http://yuntv.letv.com/bcloud.html?uu=7ddc155d09&vu=51cdface20&auto_play=1">视频讲解</button>
					</div>
				</section>
				<section> <img src="__INDEX__/img/01.png" alt="厦门鹭畅行" />
					<h3>厦门鹭畅行<br />
        月新增办卡客户3000个</h3>
					<div class="mask">
						<p>鹭畅行余总分享积客模式使用效果——<br /> 通过积客模式月办卡超过3000张，微信粉丝增长10000名，员工积极性大大提高，营业额突破120万
						</p>
						<button type="button" data-videourl="http://yuntv.letv.com/bcloud.html?uu=7ddc155d09&vu=1d473dcbc5&auto_play=1">视频讲解</button>
					</div>
				</section>
			</div>
			<button type="button" class="mt60" onClick="javascript: window.location.href = '#';">查看更多</button>
		</div>
		<div class="cus_evaluate ow_ctn tc">
			<h1>解决方案&客户评价</h1>
			<h6 class="fg_white mb40">SOLUTION & CUSTOMER EVALUATION</h6>
			<div class="mt40 mb40 tc">
				<button data-sliderimgs-id="slider_imgs1" class="tab_btn mr40 active">解决方案</button>
				<button data-sliderimgs-id="slider_imgs2" class="tab_btn">客户评价</button>
			</div>
			<div class="slider">
				<button id="sliderBtnLeft" type="button"> <img src="__INDEX__/img/picture/arrow_left.png" /></button>
				<div class="slider_ctn">
					<div id="slider_imgs1" class="slider_imgs">
						<section> <img src="__INDEX__/img/picture/1_120z94f45464.jpg" alt="众途汽车维修美容店连锁|加盟|管" />
							<div>
								<h3><a href="http://www.zhongtukj.com/fuwu/fangan/20161209/262.html" title="众途汽车维修美容店连锁|加盟|管" target="_blank">众途汽车维修美容店连锁|加盟|管</a></h3>
								<p> 而对于不少打工者来说，选择创业是心目中的不错选择。对于那些想要在年后立马创业的人们来说，什么行业更易入门，</p>
							</div>
						</section>
						<section> <img src="__INDEX__/img/picture/1-16102615304na-lp.jpg" alt="众途汽车维修客户管理解决方案" />
							<div>
								<h3><a href="http://www.zhongtukj.com/fuwu/fangan/20171012/1802.html" title="众途汽车维修客户管理解决方案" target="_blank">众途汽车维修客户管理解决方案</a></h3>
								<p>客户转介绍系统 店铺现状： 现在店铺的现状是客户不愿意主动帮店铺转介绍，只有小部分客户会介绍一两个客户，没有持续</p>
							</div>
						</section>
						<section> <img src="__INDEX__/img/picture/1-16102611432n23-lp.png" alt="汽车美容店员工管理解决方案 权" />
							<div>
								<h3><a href="http://www.zhongtukj.com/fuwu/fangan/20171012/1800.html" title="汽车美容店员工管理解决方案 权" target="_blank">汽车美容店员工管理解决方案 权</a></h3>
								<p>汽车美容店员工管理软件权限管理系统 权限管理系统 ，一般指根据系统设置的安全规则或者安全策略，用户可以访问而且只</p>
							</div>
						</section>
						<section> <img src="__INDEX__/img/picture/1-161026104hle-lp.png" alt="汽车美容店客户关系管理解决方案" />
							<div>
								<h3><a href="http://www.zhongtukj.com/fuwu/fangan/20171012/1799.html" title="汽车美容店客户关系管理解决方案" target="_blank">汽车美容店客户关系管理解决方案</a></h3>
								<p>汽车美容店客户管理软件,售后管理系统设置了提醒功能，到了时间系统自动提醒客户和管理员 项目提醒功能 只要有设定的项</p>
							</div>
						</section>
						<section> <img src="__INDEX__/img/picture/1-161026103211100-lp.png" alt="汽车美容店大数据分析解决方案" />
							<div>
								<h3><a href="http://www.zhongtukj.com/fuwu/fangan/20171012/1798.html" title="汽车美容店大数据分析解决方案" target="_blank">汽车美容店大数据分析解决方案</a></h3>
								<p>大数据决策分析系统强大的分析功能，告诉你店铺存在的问题 系统针对大数据分析，自动分析得出以上结果，店家可以针对</p>
							</div>
						</section>
						<section> <img src="__INDEX__/img/picture/1-161026105420236-lp.png" alt="汽车美容店活动营销解决方案 众" />
							<div>
								<h3><a href="http://www.zhongtukj.com/fuwu/fangan/20171012/1797.html" title="汽车美容店活动营销解决方案 众" target="_blank">汽车美容店活动营销解决方案 众</a></h3>
								<p>活动策划做一场火爆的活动，让你的营业额翻倍增长！ 抽奖？优惠券营销？抢红包？砍价活动？圣诞游戏？新年游戏？ 活动</p>
							</div>
						</section>
					</div>
					<div id="slider_imgs2" class="slider_imgs" style="display: none;">
						<section> <img src="__INDEX__/img/picture/1-1610251gu9432.png" />
							<div>
								<h3><a href="http://www.zhongtukj.com/fuwu/pingjia/20161025/62.html" title="感谢众途汽车美容管理软件为门店" target="_blank">感谢众途汽车美容管理软件为门店</a></h3>
								<p>汽车美容管理软件的使用贯穿汽车门店实际管理的每个环节，影响到门店每一个人的工作效率和整个门店的运转效率。如果选</p>
							</div>
						</section>
						<section> <img src="__INDEX__/img/picture/1-1f51g10a70-l.jpg" />
							<div>
								<h3><a href="http://www.zhongtukj.com/fuwu/pingjia/20170517/555.html" title="感谢众途汽车维修管理软件带我走" target="_blank">感谢众途汽车维修管理软件带我走</a></h3>
								<p>听十个合伙创业成功的故事，不如看一个失败的故事来得印象深刻。要知道，在这个物价飞涨的年代，创业并不是很容易的事</p>
							</div>
						</section>
						<section> <img src="__INDEX__/img/picture/150t0fi-0-lp.jpg" />
							<div>
								<h3><a href="http://www.zhongtukj.com/fuwu/pingjia/20161101/78.html" title="车爵士:众途软件微信拓客功能非" target="_blank">车爵士:众途软件微信拓客功能非</a></h3>
								<p>众途汽车美容软件财务功能很好，省了好多事！众途汽车美容软件很不错，挺符合我的心意！我们是新开的店，试用了好多个</p>
							</div>
						</section>
						<section> <img src="__INDEX__/img/picture/1-161110094250h5.png" />
							<div>
								<h3><a href="http://www.zhongtukj.com/fuwu/pingjia/20161025/63.html" title="大连瓦房车本色:众途软件把老板" target="_blank">大连瓦房车本色:众途软件把老板</a></h3>
								<p>对于股东分红，员工分红等营销模块，洪姐持谨慎的态度，希望在更深入的了解后再进行合作。能够不远万里过来探讨交流新</p>
							</div>
						</section>
						<section> <img src="__INDEX__/img/picture/1-161020154544591-lp.jpg" />
							<div>
								<h3><a href="http://www.zhongtukj.com/fuwu/pingjia/20161020/42.html" title="上门洗车" target="_blank">上门洗车</a></h3>
								<p>吸粉wifi功能非常好，短短几个月我就获得了几千客户资料，以前老是愁没客户资源，现在再也不用为这个事情发愁了！</p>
							</div>
						</section>
						<section> <img src="__INDEX__/img/picture/1-16102015594i05-lp.jpg" />
							<div>
								<h3><a href="http://www.zhongtukj.com/fuwu/pingjia/20161020/45.html" title="德宝汽车美容" target="_blank">德宝汽车美容</a></h3>
								<p>德宝汽车美容：软件提前买好了,第一天,用微信第一天就有了3百多个粉丝,很惊喜,希望以后可以越来越好.不得不赞下微信功能</p>
							</div>
						</section>
					</div>
				</div>
				<button id="sliderBtnRight" type="button"> <img src="__INDEX__/img/picture/arrow_right.png" /></button>
			</div>
		</div>
		
		<div class="free_trial">
			<h1 class="fg_white f24 mb15">免费试用</h1>
			<p class="fg_white f16 mb40" style="opacity: 0.8;">专注于汽车服务行业，10年行业经验，专业的汽车管理软件服务商</p>
			<div class="row_c">
				<div class="ft_submit row">
					<input id="telephone" type="number" class="cell" placeholder="输入您的手机号" />
					<button type="button" onClick="javascript: window.location.href = '#';">点击提交</button>
				</div>
			</div>
		</div>
		
		<div class="copyright">
			<p>© 2016郑州汇谷电子科技有限公司 All rights reserved 豫ICP备15001063号-3</p>
			<a href="#">关于众途</a> |
			<a href="#">汽修软件</a> |
			<a href="#">积客模式</a> |
			<a href="#">股东分红</a> |
			<a href="#">员工分红</a> |
			<a href="#">微信营销</a> |
			<a href="#">手机管理</a> |
			<a href="http://www.zhongtukj.com/zhishi/">知识学院</a> |
			<a href="#">客户案例</a> |
			<a href="http://sj.zhongtukj.com/">手机站</a> |
			<a href="http://www.zhongtukj.com/old/">返回旧版</a> |
			<a href="/data/sitemap.html">网站地图</a> |
			<a href="/data/rssmap.html">RSS地图</a>
			<p style="opacity: 0.3;"> 地址：河南省郑州市管城区紫荆山路与商城路交叉路口兴达国贸18楼1802室 </p>
		</div>
		
		<script src="__INDEX__/js/jss/jquery.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			 //添加鼠标移入事件  
                    /*list[i].onmouseover=function(){  
                        this.style.backgroundColor="#ffcc00";  
                        this.style.fontSize="20px";  
                    }  
                    //添加鼠标移出事件  
                    list[i].onmouseout=function(){  
                        this.style.backgroundColor="#eeeeee";  
                        this.style.fontSize="16px";  
                    }  */
                    $("#sliderBtnLeft").attr("disabled","disabled");
                     $(".cus_evaluate .tab_btn").mouseover(function (){  
                     	if($(this).hasClass("active")){
                     		
                     	}else{
                     		$(".tab_btn").removeClass("active");                    	 
                         $(this).addClass("active");
                        var imgs =  $(this).data('sliderimgs-id');
                         $(".slider_imgs").css("display","none");
                         $("#"+imgs).css("display","block");    
                         $("#"+imgs).css("margin-left","0px");
                         $("#sliderBtnLeft").attr("disabled","disabled");
                         $("#sliderBtnRight").attr("disabled",false);
                     	}
        				
  					});  
  					$("#sliderBtnLeft").click(function(){  						  						
  						var disp = document.getElementById("slider_imgs2");
  						if(disp.style.display!="none"){
  							$("#slider_imgs2").css("margin-left","0px");
  						}else{
  							$("#slider_imgs1").css("margin-left","0px");
  						} 						
  						 $("#sliderBtnLeft").attr("disabled","disabled");
  						 $("#sliderBtnRight").attr("disabled",false);
  					})
  					$("#sliderBtnRight").click(function(){
  						var disp = document.getElementById("slider_imgs2");
  						if(disp.style.display!="none"){
  							$("#slider_imgs2").css("margin-left","-1083px");
  						}else{
  							$("#slider_imgs1").css("margin-left","-1083px");
  						}
  						 $("#sliderBtnRight").attr("disabled","disabled");
  						 $("#sliderBtnLeft").attr("disabled",false);
  					})
        
		</script>
	</body>

</html>