<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>网站制作</title>
		<link rel="stylesheet" type="text/css" href="__INDEX__/css/cuiniao/index.css" />
	</head>

	<body>
	{include file="index/nav" /}
		<div class="header">
			<div class="header_text">
				<h2>我们只做有调性的网站&小程序</h2>
				<p>您的产品很好</p>
				<p>但没有一个有调性的网站</p>
				<p>在这个看脸的年代</p>
				<p>似乎缺了点什么</p>
			</div>
			<div class="header_bottom">
				<span class="header_bottom_bai a1"></span>
				<span class="header_bottom_bai a2"></span>
			</div>
		</div>
		<div class="main">
			<div class="main1">
				<p style="height: auto;"><span class="s-text-color-black">6800元/年<sub>起</sub></span></p>
				<p>每天18元起，就拥有一个属于自己的网站！</p>
				<p>不用自己动手，我们全部搞定！</p>
				<a href="" class="a-buttom">案例</a>
			</div>
			<div class="main2">
				<p>功能齐全</p>
				<div class="main2_s">
					<div class="four">
						<div class="top">
							<img src="_INDEX__/ing/cuiniao/img/12.png" />
						</div>
						<div class="buttom">
							<h4>营销功能丰富</h4>
							<p>会员系统、限时秒杀、优惠券、分销等营销功能应有尽有，让您牢牢把握好顾客。</p>
						</div>
					</div>
					<div class="four">
						<div class="top">
							<img src="_INDEX__/ing/cuiniao/img/36.png" />
						</div>
						<div class="buttom">
							<h4>多种支付方式</h4>
							<p>支持微信支付、支付宝支付以及线下支付（货到付款），还支持paypal哦！</p>
						</div>
					</div>
					<div class="four">
						<div class="top">
							<img src="_INDEX__/ing/cuiniao/img/58.png" />
						</div>
						<div class="buttom">
							<h4>适应各尺寸屏幕</h4>
							<p>手机、平板、电脑都能无缝对接，一套系统，pc端、移动端、微信端全适用。</p>
						</div>
					</div>
					<div class="four">
						<div class="top">
							<img src="_INDEX__/ing/cuiniao/img/87.png" />
						</div>
						<div class="buttom">
							<h4>与搜索引擎友好</h4>
							<p>丰富的描述等有价值的信息能让网站内的内容很容易被搜索引擎爬虫抓取。</p>
						</div>
					</div>
				</div>
			</div>
			<div class="main6" >
				<p style="color: #000000; font-size: 35px;margin-bottom: 20px;">网站制作案例</p>
				<div class="anlis">
					<div class="anli">
						<div class="img">
							<img src="_INDEX__/ing/cuiniao/img/img1.png"/>
							<p></p>
						</div>
						<div class="text">
							美食电商：王破仑
						</div>
					</div>
					<div class="anli">
						<div class="img">
							<img src="_INDEX__/ing/cuiniao/img/img2.png"/>
							<p></p>
						</div>
						<div class="text">
							健身房：乐体健身
						</div>
					</div>
					<div class="anli">
						<div class="img">
							<img src="_INDEX__/ing/cuiniao/img/img3.png"/>
							<p></p>
						</div>
						<div class="text">
							家居电商：凡式家居
						</div>
					</div>
					<div class="anli">
						<div class="img">
							<img src="_INDEX__/ing/cuiniao/img/img4.png"/>
							<p></p>
						</div>
						<div class="text">
							民宿：成都铂泊客
						</div>
					</div>
					<div class="anli">
						<div class="img">
							<img src="_INDEX__/ing/cuiniao/img/img5.png"/>
							<p></p>
						</div>
						<div class="text">
							律师服务平台：无讼法务
						</div>
					</div>
					<div class="anli">
						<div class="img">
							<img src="_INDEX__/ing/cuiniao/img/img6.png"/>
							<p></p>
						</div>
						<div class="text">
							智能硬件：小喵科技
						</div>
					</div>
					
				</div>
			</div>
			<div class="main7" style="background-color: #F1A852; position: relative; padding-bottom: 0px;">
				<div class="header_bottom" style="position: absolute; top: 0px; padding: 0px; margin: 0px ;width: 100%;">
					<span class="header_bottom_bai a3"></span>
					<span class="header_bottom_bai a4"></span>
				</div>
				<p>小程序制作案例</p>
				<div class="">
					<div class="">
						<img src="_INDEX__/ing/cuiniao/img/1.png"/>
					</div>
					<div class="">
						<img src="_INDEX__/ing/cuiniao/img/2.png"/>
					</div>
					<div class="">
						<img src="_INDEX__/ing/cuiniao/img/3.png"/>
					</div>
					<div class="">
						<img src="_INDEX__/ing/cuiniao/img/4.png"/>
					</div>
					<div class="">
						<img src="_INDEX__/ing/cuiniao/img/5.jpg"/>
					</div>
					<div class="">
						<img src="_INDEX__/ing/cuiniao/img/6.png"/>
					</div>
				</div>
				<h5><a href="" class="a-buttom">提交素材</a></h5>
				
			</div>
			<div class="main3">
				<div class="one">
					<div class="ba_img">
						<p><span>个性化定制和运营维护服务</span></p>
					</div>
				</div>
				<div class="two">
					<div class="ba_img">
						<p><span>可多次修改直到满意</span></p>
					</div>
				</div>
				<div class="there">
					<div class="ba_img">
						<p><span>7个工作日交成品</span><em>不含网站备案等不可控因素</em></p>
					</div>
				</div>
				<div class="fours">
					<div class="ba_img">
						<p><span>设计师1对1服务</span></p>
					</div>
				</div>
			</div>
			<div class="main4" style="background-color: #F1A852;">
				<p>服务环节</p>
				<div class="cenner">
					<div class="process-item-wrapper">
						<div class="process-item-infos">
							<div class="process-item-index s-font-body">1</div>
							<div class="process-item-linker"></div>
						</div>
						<div class="s-item-text-group ">
							<div class=""></div>
							<div class="s-item-title">
								<div class="s-component s-text">
									<h3 class="s-component-content s-font-heading"><p style="font-size: 80%;">注册与备案</p></h3></div>
							</div>
							<div class="s-item-text">
								<div class="s-component s-text">
									<div class="s-component-content s-font-body">
										<p style="font-size: 80%;">域名与网站的注册、备案、ICP备案、服务器配置</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="process-item-wrapper">
						<div class="process-item-infos">
							<div class="process-item-index s-font-body">2</div>
							<div class="process-item-linker"></div>
						</div>
						<div class="s-item-text-group ">
							<div class=""></div>
							<div class="s-item-title">
								<div class="s-component s-text">
									<h3 class="s-component-content s-font-heading"><p style="font-size: 80%;">网站策划</p></h3></div>
							</div>
							<div class="s-item-text">
								<div class="s-component s-text">
									<div class="s-component-content s-font-body">
										<p style="font-size: 80%;">栏目规划、要点提炼</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="process-item-wrapper">
						<div class="process-item-infos">
							<div class="process-item-index s-font-body">3</div>
							<div class="process-item-linker"></div>
						</div>
						<div class="s-item-text-group ">
							<div class=""></div>
							<div class="s-item-title">
								<div class="s-component s-text">
									<h3 class="s-component-content s-font-heading"><p style="font-size: 80%;">网站编辑</p></h3></div>
							</div>
							<div class="s-item-text">
								<div class="s-component s-text">
									<div class="s-component-content s-font-body">
										<p style="font-size: 80%;">图片与文字排版、商品编辑</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="process-item-wrapper">
						<div class="process-item-infos">
							<div class="process-item-index s-font-body">4</div>
							<div class="process-item-linker"></div>
						</div>
						<div class="s-item-text-group ">
							<div class=""></div>
							<div class="s-item-title">
								<div class="s-component s-text">
									<h3 class="s-component-content s-font-heading"><p style="font-size: 80%;">支付配置</p></h3></div>
							</div>
							<div class="s-item-text">
								<div class="s-component s-text">
									<div class="s-component-content s-font-body">
										<p style="font-size: 80%;">企业支付宝账户、微信企业支付账户开户与配置</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="process-item-wrapper">
						<div class="process-item-infos">
							<div class="process-item-index s-font-body">5</div>
							<!--<div class="process-item-linker"></div>-->
						</div>
						<div class="s-item-text-group ">
							<div class=""></div>
							<div class="s-item-title">
								<div class="s-component s-text">
									<h3 class="s-component-content s-font-heading"><p style="font-size: 80%;">数据分析与SEO</p></h3></div>
							</div>
							<div class="s-item-text">
								<div class="s-component s-text">
									<div class="s-component-content s-font-body">
										<p style="font-size: 80%;">关键词优化、数据分析</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="main5" style="background-color: #A0D36E;">
				<p>只需要向我们提交素材</p>
				<p>其他的都交给我们吧！</p>
				<a href="" class="a-buttoms">提交素材</a>
			</div>
			
			
		</div>
	</body>

</html>