<nav class="header_nav">
<a> <img src="__INDEX__/img/xxxlogo.png" /></a>
<a id="nav_sy" href="{:url('index/index')}" title="首页" target="_blank">首页</a>
<a href="{:url('cases/index')}" title="案例" target="_blank">案例</a>

<a  href="{:url('index/index-1')}" titile="网站制作" target="_blank">网站制作</a>
<a  href="{:url('index/index-2')}" titile="小程序制作" target="_blank">小程序制作</a>
<a  href="{:url('index/index-0')}" titile="成为代理" target="_blank">成为代理</a>
<a  href="{:url('index/lxwm')}" titile="联系我们" target="_blank">联系我们</a>
<!-- <a  id="personage" href="{:url('user/index')}" titile="" target="_blank">{if condition="session('user')"}<img src="__INDEX__/img/icon/geren.png"/>{else/}登录/注册{/if}</a> -->
</nav>
