{extend name="template/base" /}
{block name="content"}
<div class="page-container">
    <form class="form form-horizontal" id="form" method="post" action="{:\\think\\Request::instance()->baseUrl()}">
        <input type="hidden" name="id" value="{$vo.id ?? ''}">
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3"><span class="c-red">*</span>需求名称：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <input type="text" class="input-text" placeholder="需求名称" name="name" value="{$vo.name ?? ''}"  datatype="*" nullmsg="请填写需求名称">
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3"><span class="c-red">*</span>预算金额：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <input type="text" class="input-text" placeholder="预算金额" name="money" value="{$vo.money ?? ''}"  datatype="*" nullmsg="请填写预算金额">
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3"><span class="c-red">*</span>所属类型：</label>
            <div class="formControls col-xs-6 col-sm-6">

                <div class="select-box">
                    <select name="type" class="select" datatype="*" nullmsg="请选择案例类型">
                        {if condition="$vo?? ''"}
                            {volist name="type" id="vos"}
                                <option value="{$vos.id}" {if condition="$vo.type eq $vos.id"}selected="selected"{/if}>{$vos.name}</option>
                            {/volist}
                        {else/}
                            {volist name="type" id="vos"}
                                <option value="{$vos.id}">{$vos.name}</option>
                            {/volist}
                        {/if}
                    </select>
                </div>

            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3"><span class="c-red">*</span>所属行业：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <div class="select-box">
                    <select name="industry" class="select" datatype="*" nullmsg="请选择案例功能">
                    {if condition="$vo?? ''"}
                        {volist name="trade" id="voss"}
                            <option value="{$voss.id}" {if condition="$vo.industry eq $voss.id"}selected="selected"{/if}>{$voss.name}</option>
                        {/volist}
                    {else/}
                        {volist name="trade" id="voss"}
                            <option value="{$voss.id}">{$voss.name}</option>
                        {/volist}
                    {/if}
                    </select>
                </div>
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3"><span class="c-red">*</span>开发周期：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <div class="radio-box">
                    <input type="radio" name="period" id="status-1" value="1" datatype="*" nullmsg="请选择状态" {$vo.period ==1 ? 'checked' : ''}>
                    <label for="status-1">少于1周</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="period" id="status-2" value="2" datatype="*" nullmsg="请选择状态" {$vo.period ==2 ? 'checked' : ''}>
                    <label for="status-2">少于1个月</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="period" id="status-3" value="3" datatype="*" nullmsg="请选择状态" {$vo.period ==3 ? 'checked' : ''}>
                    <label for="status-3">1-3个月</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="period" id="status-4" value="4" datatype="*" nullmsg="请选择状态" {$vo.period ==4 ? 'checked' : ''}>
                    <label for="status-4">3-6个月</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="period" id="status-5" value="5" datatype="*" nullmsg="请选择状态" {$vo.period ==5 ? 'checked' : ''}>
                    <label for="status-4">超过6个月</label>
                </div>

            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3"><span class="c-red">*</span>紧急程度：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <div class="radio-box">
                    <input type="radio" name="urgency" id="status-1" value="1" datatype="*" nullmsg="请选择状态" {$vo.urgency ==1 ? 'checked' : ''}>
                    <label for="status-1">不紧急</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="urgency" id="status-2" value="2" datatype="*" nullmsg="请选择状态" {$vo.urgency ==2 ? 'checked' : ''}>
                    <label for="status-2">一般紧急</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="urgency" id="status-3" value="3" datatype="*" nullmsg="请选择状态" {$vo.urgency ==3 ? 'checked' : ''}>
                    <label for="status-3">比较紧急</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="urgency" id="status-4" value="4" datatype="*" nullmsg="请选择状态" {$vo.urgency ==4 ? 'checked' : ''}>
                    <label for="status-4">非常紧急</label>
                </div>
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3"><span class="c-red">*</span>已申请人数：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <input type="text" class="input-text" placeholder="已申请人数" name="apply" value="{$vo.apply ?? ''}"  datatype="*" nullmsg="请填写已申请人数">
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3"><span class="c-red">*</span>浏览人数：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <input type="text" class="input-text" placeholder="浏览人数" name="browse" value="{$vo.browse ?? ''}"  datatype="*" nullmsg="请填写浏览人数">
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3"><span class="c-red">*</span>项目进度：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <div class="radio-box">
                    <input type="radio" name="schedule" id="status-1" value="1" datatype="*" nullmsg="请选择状态" {$vo.schedule ==1 ? 'checked' : ''}>
                    <label for="status-1">招募中</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="schedule" id="status-2" value="2" datatype="*" nullmsg="请选择状态" {$vo.schedule ==2 ? 'checked' : ''}>
                    <label for="status-2">对接中</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="schedule" id="status-3" value="3" datatype="*" nullmsg="请选择状态" {$vo.schedule ==3 ? 'checked' : ''}>
                    <label for="status-3">执行中</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="schedule" id="status-4" value="4" datatype="*" nullmsg="请选择状态" {$vo.schedule ==4 ? 'checked' : ''}>
                    <label for="status-4">已完成</label>
                </div>
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3"><span class="c-red">*</span>任务详情：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <textarea name="info" datatype="*" nullmsg="请填写任务详情" rows="10" cols="70">{$vo.info ?? ''}</textarea>
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3"><span class="c-red">*</span>参考网站/产品：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <input type="text" class="input-text" placeholder="参考网站/产品" name="reference" value="{$vo.reference ?? ''}"  datatype="*" nullmsg="请填写参考网站/产品">
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3"><span class="c-red">*</span>官方观点：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <textarea name="authority" datatype="*" nullmsg="请填写官方观点" rows="10" cols="70">{$vo.authority ?? ''}</textarea>
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3"><span class="c-red">*</span>公司名称：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <input type="text" class="input-text" placeholder="公司名称" name="company_name" value="{$vo.company_name ?? ''}"  datatype="*" nullmsg="请填写公司名称">
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3"><span class="c-red">*</span>发布人姓名：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <input type="text" class="input-text" placeholder="发布人姓名" name="user_name" value="{$vo.user_name ?? ''}"  datatype="*" nullmsg="请填写发布人姓名">
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3"><span class="c-red">*</span>手机号码：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <input type="text" class="input-text" placeholder="手机号码" name="mobile" value="{$vo.mobile ?? ''}"  datatype="*" nullmsg="请填写手机号码">
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>

        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <button type="submit" class="btn btn-primary radius">&nbsp;&nbsp;提交&nbsp;&nbsp;</button>
                <button type="button" class="btn btn-default radius ml-20" onClick="layer_close();">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
    </form>
</div>
{/block}
{block name="script"}
<script type="text/javascript" src="__LIB__/Validform/5.3.2/Validform.min.js"></script>
<script>
    $(function () {


        $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });

        $("#form").Validform({
            tiptype: 2,
            ajaxPost: true,
            showAllError: true,
            callback: function (ret){
                ajax_progress(ret);
            }
        });
    })
</script>
{/block}
