<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>网站顾问</title>
		<!--<link rel="stylesheet" type="text/css" href="__INDEX__/css/header.css" />-->
<link rel="stylesheet" type="text/css" href="__INDEX__/css/nav.css" />
<link rel="stylesheet" type="text/css" href="__INDEX__/css/phone.computer.css"/>
<link rel="stylesheet" type="text/css" href="__INDEX__/css/phone.css" />
		<script src="__INDEX__/js/jss/jquery.js" type="text/javascript" charset="utf-8"></script>

<link rel="stylesheet" type="text/css" href="__INDEX__/css/table.css" />
<link rel="stylesheet" type="text/css" href="__INDEX__/css/login.css"/>
<script src="__INDEX__/js/login.js" type="text/javascript" charset="utf-8"></script>
<style type="text/css">
	    input{outline:none;}
</style>
	</head>
<script>
(function(b,a,e,h,f,c,g,s){b[h]=b[h]||function(){(b[h].c=b[h].c||[]).push(arguments)};
b[h].s=!!c;g=a.getElementsByTagName(e)[0];s=a.createElement(e);
s.src="//s.union.360.cn/"+f+".js";s.defer=!0;s.async=!0;g.parentNode.insertBefore(s,g)
})(window,document,"script","_qha",224241,false);
</script>
	<body>
		 <!-- <div style="width:100%;box-shadow:0 2px 4px 0 rgba(58,68,85,0.16);position:relative;z-index:99999; background-color: rgba(0,0,0,0.1);" id="nav">
            <div class="head">
                <div class="logo">
                    <a href="###">
                        </a>
                </div>
                <ul class="navs">


					<li>
						<a href="{:url('index/one')}" class="is ">首页</a>
					</li>

                    <li>
                        <a href="{:url('demand/index')}" class="is ">需求</a>
                    </li>
                    <li>
                        <a href="{:url('cases/index')}" class="is actives">案例</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"class="is">人才</a>
                    </li>


                </ul>

                <div style="clear:both"></div>
            </div>
        </div>-->
    
<div class="login_background" style="display:none" onclick="loginNone();">

		</div>

		<div class="login" style="display:none">
				<div class="login_logo">
					<span style="float: left;">登录</span>
					<img src="__INDEX__/img/icon/cas.png" style="float: right;" id="login-none" onclick="loginNone();"/>
				</div>

				<div class="login1">
					<p  style="width: 100%;text-align: right; font-size: 14px;">短信快捷登录</p>
					<div class="form-group">
							<input id="phones" value="" name="phone" type="text" placeholder="输入手机号" maxlength="11" class="form-control x319 in" autocomplete="off">
						</div>
						<div class="form-group">

							<input id="j_captcha" name="j_captcha"  placeholder="输入短信验证码" type="text" maxlength="8" class="form-control x164 in">
							<span id="yan" class="btn-primary" >
								获取短信验证码
							</span>
						</div>
						<div class="form-group">
							<input type="reset" id="login1s"   value="&nbsp;登&nbsp;录&nbsp;" class="btn btn-default btn-lg">
						</div>
					<div class="login_logos">
					<p class="one"><span id="">第三方登录</span></p>
					<p class="two"><span></span> </p>
					</div>
				<span id="quehuan1" onclick="quehuan1();">

				</span>
				</div>

				<div class="login2" style="display: none;">
					<p  style="width: 100%;text-align: center; font-size: 16px;  font-weight: bold;">微信登录</p>
					<img src="__INDEX__/img/saoma.png" style="width: 240px; height: auto; display: block;margin: 0px  auto;"/>
					<p  style="width: 100%;text-align: center; font-size: 14px; line-height: 30px; font-weight: bold;">使用微信扫描二维码登录</p>

				<span id="quehuan2" onclick="quehuan2();">

				</span>
				</div>

			</div>
<div class="header">
	<div class="container">
		<h1 class="logo fl"><a href="{:url('index/one')}"></a></h1>
		<div class="nav fr">
			<ul>
		      <li id="choiceness" ><a href="{:url('demand/index')}">需求</a></li>
		      <!-- <li id='mkBank'><a href="mkBank.do">代码银行</a></li> -->
		      <li id="counselor" class="on"><a href="{:url('cases/index')}">案例</a></li>
		     <!-- <li id="selecttype"><a href="javascript:void(0)">人才</a></li>-->
		      <!-- <li id='findinvestor'><a href="findinvestor.do">找投资人</a></li>
		      <li id='news'><a href="news.do">新闻资讯</a></li>
		      <li id='contact'><a href="contact.do">洽谈合作</a></li> -->
			</ul>
		</div>
	</div>
</div>

		<div class="container">
			<div class="current" id="phone_height">
				<div class="center">
					<div class="left" style="margin-bottom: 10px;">
						<div class="ban2" id="ban_pic1">
							<div class="all" id='box'>
								<div class="screen">
									<ul>
										{volist name="cases.images" id="vos"}
										<li><img src="{$vos}"  / ></li>
										{/volist}
									</ul>
									<ol>
										<!-- 动态创建的小方块，添加在这里，样式已经给写好了-->
									</ol>
								</div>
								<div id="arr"><span id="left">&lt;</span><span id="right">&gt;</span></div>
							</div>
						</div>
					</div>
					<div class="right">
						<h4 id="right-h4">{$cases.case_name}</h4>
						<div class="money">
							<span>
								￥
							</span>
							<span id="">
								{$cases.money}
							</span>
						</div>
						<div class="text">
							<div class="">
								<p>产品简介
								</p>
								<p>{$cases.brief}
								</p>
							</div>
							<div class="">
								<p>产品类型
								</p>
								<p>{$cases.type}
								</p>
							</div>
							<div class="">
								<p>适用行业
								</p>
								<p>								{volist name="specific" id='naa'}
                                {$naa}
                                {/volist}
								</p>
							</div>
							<div class="">
								<p>系统类型
								</p>
								<p>
									{volist name="system_type" id='na'} {$na} {/volist}
								</p>
							</div>
						</div>
						<div class="submit">
                        	<p class="submits">提交项目需求</p>
                        	<p class="gou">立即购买</p>
                        </div>
						<div class="code">
							<img id="right-img" title="点击弹出大图" src="{$cases.code}" />
							<a  href="{$cases.preview}" id="right-a" target="_blank">预览</a>
						</div>
					</div>
				</div>
			</div>
			<div class="current">
				<div class="center" id="center">
					<div class="submenu" id="nav2">
						<a href="#zero" class="active">项目报价</a>
						<a href="#one">功能菜单</a>
						<!--<a href="#two">思维导图</a>-->
						<a href="#three">开发顾问</a>
					</div>

					<div class="column" id="column">
						{$cases.info}
					</div>
					<div class="columns">
						<!--<h3 >网站代建服务</h3>
						<table border="" cellspacing="" cellpadding="" id="table" style="" class="nan">
							<tr >
									<td colspan="5" >
有专业建站师为您量身制作网站，您仅需联系客服、购买服务、传送资料，1~2个工作日就可“坐享其成”
										
									</td>

								</tr>

								<tr>
									<td>
										套餐名称
									</td>
									<td>
										微型网站代建
									</td>
									<td>
										小型网站代建
									</td>
									<td>
										中型网站代建
									</td>
									<td>
										大型网站代建
									</td>
								</tr>
								<tr>
									<td>
										页面数量
									</td>
									<td>
										≤5个
									</td>
									<td>
										≤10个
									</td>
									<td>
										≤30个
									</td>
									<td>
										大于30个
									</td>
								</tr>
								<tr>
									<td>
										素材
									</td>
									<td>
										您需要提供资料和图片
									</td>
									<td>
										您需要提供资料和图片
									</td>
									<td>
										您需要提供资料和图片
									</td>
									<td>
										您需要提供资料和图片
									</td>
								</tr>
								<tr>
									<td>
										代建
									</td>
									<td>
										我们负责录入和设定
									</td>
									<td>
										我们负责录入和设定
									</td>
									<td>
										我们负责录入和设定
									</td>
									<td>
										我们负责录入和设定
									</td>
								</tr>
								<tr >
									<td>
										价格
									</td>
									<td class="red">
										200元
									</td>
									<td class="red">
										400元
									</td>
									<td class="red">
										800元
									</td>
									<td class="red">
										20元/每页
									</td>
								</tr>
								<tr>
									<td>
										购买
									</td>
									<td class="blue">
										购买服务
									</td>
									<td class="blue">
										购买服务>
									</td>
									<td class="blue">
										购买服务
									</td>
									<td class="blue">
										购买服务
									</td>
								</tr>
							</table>-->
						<h3 id="three">开发顾问</h3>
						<img src="__INDEX__/img/service-instructions_1.jpg"style="width: 100%;" />
						</div>
					</div>
				</div>

			</div>

		</div>
		<!--<div class="phone">
			<iframe src="{:url('cases/phones',['id'=>$cases.id])}" width="" height=""></iframe>
		</div>-->
		<div class="forms">
			<form action="" method="post">
				<ul>
					<li class="item-li">
						<h3>提交项目需求</h3>
						<p><img src="__INDEX__/img/icon/ca.png" style="width: 60px;" /></p>
					</li>
					<li class="item-li" style="margin-top: 10vh;">
						<li class="item-li" style="margin-top: 80px">
							<div class="item-name">项目名称：</div>
							<div class="item-input"><input type="text" class="" id="Xname" placeholder="仅需对接平台" readonly="readonly"><span></span>

							</div>
						</li>
						<li class="item-li">
							<div class="item-name">补充说明：</div>
							<div class="item-input"><textarea placeholder="可以将您不同于此项目的功能或者需求特别说明的事项写在这里（限制140字）" id="brief" class="" maxlength="140"></textarea><span></span>

							</div>
						</li>
						<li class="item-li">
							<div class="item-name">您的姓名：</div>
							<div class="item-input"><input type="text" class="" id="names" placeholder="请输入您的姓名（限制6字）" maxlength="6"><span></span>

							</div>
						</li>
						<li class="item-li">
							<div class="item-name">微信：</div>
							<div class="item-input"><input type="text" class="" id="weixin" placeholder="请输入微信号"><span></span>

							</div>
						</li>
						<li class="item-li">
							<div class="item-name">手机：</div>
							<div class="item-input"><input type="tel" class="" id="ph" placeholder="请输入手机号（限制11位）" maxlength="11"><span></span>

							</div>
						</li>
						<li class="item-li">
							<div class="item-name">邮箱：</div>
							<div class="item-input"><input type="tel" class="" id="mail" placeholder="请输入邮箱 （限制20字）" maxlength="20"><span></span>

							</div>
						</li>
						<li class="item-li">
							<div class="item-name"></div>
							<div class="item-input">
								<!--<input type="button" value="联系我们" class="btn"/>-->
								<p class="btn">请联系我</p>

							</div>
						</li>
				</ul>

			</form>
		</div>
		<div class="beijin">
			<div class="good">
				<h5>提交项目需求成功！</h5>
				<p class="qud" id="qd">确定</p>
			</div>
		</div>
		<div class="gous" onclick="nos();">

		</div>
		<div class="gou_bth" >
			<p class="no"><input type="hidden" name="" id="hiddens" value="{$cases.money}" />
					<span class="h5">购买须知！</span>
					<span class="nos" id="" onclick="nos();"></span></p>


				<p>购买后您将获得账户和密码，需联系客服进行交接，交接后，确认交易金额将直接打给卖家。</p>

					<p class="money">￥<strong>{$cases.money}</strong>元</p>
					<div class="radio">
					<div class="on" data-type = "0">
						全款
					</div>
					<div class="" data-type = "1">
						首付60%
					</div>
					<div class="" data-type = "2">

						<span>自定义</span>
						<input type="number" name="money" id="money" value="" placeholder="自定义金额" style="outline:none ;" oninput="if(value.length>11)value=value.slice(0,11)" onkeyup="value=value.replace(/[^\d]/g,'') " ng-pattern="/[^a-zA-Z]/"/>
					</div>

				</div>




				<p class="qud" >确定</p>
			</div>
		<div class="gou_er">
			<p class="no"><span class="nos" id="" onclick="nos();"></span></p>
				<h5>购买须知！</h5>
				<div class="img">
					<img src="__INDEX__/img/saoma.png" id="wxpayimg" />
					<p>微信扫码，快捷支付</p>
				</div>



			</div>
			<div class="tis">
			<p style="font-size: 20px; color: #e51515;">付款成功！</p>
<p style="font-size: 14px;">购买记录请到个人账户中查询</p>


			</div>
		<div class="imgs" style="width: 100vw;height: 100vh;position: fixed;top: 0px ;left: 0px ;background-color: rgba(0,0,0,.2); display: none;">
			<img  id="imgs" src="{$cases.code}" style="width: 400px;height: 400px;display: block;position: absolute;top: 50%;left: 50%;margin-top: -200px;margin-left: -200px;" />
		</div>
		<div class="footer" style="background-color: #1e2831;">
			<div class="center">
				<p>2011-2018 汇谷科技  版权所有：豫ICP备12027515号-1 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#0368bd" onclick="javascript:window.open('{:url("index/index_bak")}')">IT联合办公</span></p>
			</div>
		</div>
		<script src="__INDEX__/js/form.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			/*登录 开始*/
			var session = "{:session('user.id')}";			
/*登录 结束*/
$("#yan").click(function () {
			  	
                if($("#phones").val() == "") {
                    blockh("请输入手机号码"); 
                }  else {
             
                	if(!(/^1[3456789]\d{9}$/.test($("#phones").val()))) {
						blockh("手机号码有误，请重填"); 
					} else {

                            $("#yan").addClass("disabled");
                            $.post("{:url('login/codemsg')}",{mobile:$("#phones").val()},function(data) {
                                if (data.code==1) {
                                	 
                                    var s = 60;
                                    var j = setInterval(function() {
                                        s = s - 1;
                                        $("#yan").html(s + "秒后重新获取");
                                        if(s == 0) {

                                            clearInterval(j);
                                            $("#yan").remove("disabled");
                                            $("#yan").html("请重新获取");
                                        }
                                    }, 1000)
                                }else{
                                   blockh(data.msg); $("#yan").remove("disabled");
                                }
                            })

					}
				}
			})
			$("#login1s").click(function () {
                if($("#phones").val() == "") {
                    blockh("请输入手机号码");
                }  else {
                	if(!(/^1[3456789]\d{9}$/.test($("#phones").val()))) {
						blockh("手机号码有误，请重填");
					} else {
						if($("#j_captcha").val()!=""){

							var mobile = $("#phones").val();
							var code = $("#j_captcha").val();
							$.post("{:url('login/checkindex')}",{mobile:mobile,code:code},function(data) {
								if (data.code==1) {
									blockh("登录成功");
									window.location.href='{:url("user/index")}';
								}else{
									blockh(data.msg);
								}
							})
						}else{
							blockh("请输入短信验证码");
						}
					}
				}
			})

			var cases_id = {$cases.id};
			var order_id;
			/*购买-开始*/
			$(".gou").click(function(){

				if (session == ""){

					$(".login_background").css("display","block");
					$(".login").css("display","block");
				}else{
					$(".gous").css("display","block");
					$(".gou_bth").css("display","block");
				}

			})
			var j;
			$(".gou_bth .qud").click(function(){
				var moneys = parseInt($(".gou_bth .money strong").text());
				var name = $("#right-h4").text();
				clearInterval(j);
            $.post(
                "{:url('Native/index')}",
                {money:moneys,name:name,cases_id:cases_id},
                function(data){
                    if (data.code==1) {
						order_id = data.order_id;

                    	$("#wxpayimg").attr("src",data.data);
						$(".gou_bth").css("display","none");
						$(".gou_er").css("display","block");

						 var j = setInterval(function(){
			            $.post(
			                "{:url('Native/inquire')}",
			                {order_id:order_id},
			                function(data){

			                    if (data.code==1) {

			                    	//二维码消失
									clearInterval(j);
									
									
									$(".gou_bth").css("display","none");
									$(".gou_er").css("display","none");
									$(".tis").css("display","block");
									window.load.href="http://keji.yingjisong.com/bak/user/index";
									

			                    }else{
			                    	//未支付
			                    }
			                   }
			                )
						},3000);

                    }else{
                    	blockh(data.msg);
                    }
                   }
                )
			})

			function inquire()
			{
            $.post(
                "{:url('Native/inquire')}",
                {order_id:order_id},
                function(data){
                	blockh('定时器执行中');
                    if (data.code==1) {
                		blockh('定时器终止');

                    	//二维码消失
						clearInterval(j);
						nos();
                    }else{
                    	//未支付
                    }
                   }
                )
			}

function hrefs(){
				setTimeout(function(){
										window.load.href="http://keji.yingjisong.com/bak/user/index";
									},2000);
			}
			$(".gou_bth .radio div").click(function(){
				$(".gou_bth .radio div").removeClass("on");
				$(this).addClass("on");
				var datas = $(this).attr("data-type");
				if(datas==1){
					$(".gou_bth .money strong").text($("#hiddens").val()*0.6);
				}else if(datas==2){
					if($("#money").val()>0 &&$("#money").val()!=""){
						$(".gou_bth .money strong").text($("#money").val());
					}else{
						$(".gou_bth .money strong").text($("#hiddens").val());
					}
				}else{
					$(".gou_bth .money strong").text($("#hiddens").val());
				}

			})

			$("#money").bind('input', function() {
				if($(this).val() !="") {
					if($(this).val()>0){
						var inputs = $(this).val().toString();
						var ins = inputs.replace('.','');
						$(".gou_bth .money strong").text(ins);
					}else{
						$(".gou_bth .money strong").text($("#hiddens").val());
					}
				}else{
					$(".gou_bth .money strong").text($("#hiddens").val());
				}
			})
			function nos(){
				$(".gous").css("display","none");
				$(".gou_bth").css("display","none");
				$(".gou_er").css("display","none");
$(".tis").css("display","none");
			}
			function money(){
				$(".beijin").css("display", "block");
				$(".beijin .good .text").css("display", "block");
			}
			/*购买-结束*/
			$("#Xname").val($(".center .right h4").text());
			$(".submits").click(function() {
				$(".forms").css("display", "block");
			})
			$(".forms form li:nth-child(1) p").click(function() {
				$(".forms").css("display", "none");
			})

			$(".beijin").click(function() {
				$(".beijin").css("display", "none");


			})
			/*表单*/
			var xname = document.getElementById("Xname");
			var brief = document.getElementById("brief");
			var names = document.getElementById("names");
			var wei = document.getElementById("weixin");
			var phs = document.getElementById("ph");
			var mail = document.getElementById("mail");

			yanZheng(xname, /^[\s\S]*.*[^\s][\s\S]*$/);
			yanZheng(brief, /^[\s\S]*.*[^\s][\s\S]*$/);
			yanZheng(names, /^[\s\S]*.*[^\s][\s\S]*$/);
			/*yanZheng(wei, /^[a-z_\d]+$/);*/
			yanZheng(phs, /^[\s\S]*.*[^\s][\s\S]*$/);
			/*yanZheng(mail, /^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(.[a-zA-Z0-9_-])+/);*/
			$(".forms form ul li p.btn").click(function() {
				yanz(xname, /^[\s\S]*.*[^\s][\s\S]*$/);
				yanz(brief, /^[\s\S]*.*[^\s][\s\S]*$/);
				yanz(names, /^[\s\S]*.*[^\s][\s\S]*$/);
				/*yanz(wei, /^[a-z_\d]+$/);*/
				yanz(phs, /^[\s\S]*.*[^\s][\s\S]*$/);
				/*yanz(mail, /^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(.[a-zA-Z0-9_-])+/);*/
				if(xname.value == "") {
					blockh("请输入项目名称");
				} else {
					if(brief.value == "") {
						blockh("请输入补充说明");
					} else {
						if(names.value == "") {
							blockh("请输入您的姓名");
						} else {
							/*if(weixin.value == "") {
								blockh("请输入微信号")
							} else {*/
								if(phs.value == "") {
									blockh("请输入手机号");
								} else {
									if(!(/^1[3456789]\d{9}$/.test(phs.value))) {

										blockh("手机号错误，请重新输入");
									} else {
										if(mail.value != "") {
                                            if(!(/^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+((\.[a-zA-Z0-9_-]{2,3}){1,2})$/.test(mail.value))) {
                                                blockh("邮箱错误，请重新输入");return false;
                                            }
										}

                                                var name = xname.value;
                                                var remark = brief.value;
                                                var username = names.value;
                                                var wxchat = weixin.value;
                                                var phone = phs.value;
                                                var email = mail.value;

                                                $.post(
                                                    "{:url('cases/order')}",
                                                    {cases_id:cases_id,name:name,remark:remark,username:username,wxchat:wxchat,phone:phone,email:email},
                                                    function(data){
                                                        if (data.code==1) {
                                                            $(".forms").css("display", "none");
                                                              blockh("提交项目需求成功！");
                                                            xname.value="";
                                                            brief.value="";
                                                            names.value="";
                                                            weixin.value="";
                                                            phs.value="";
                                                            mail.value="";

                                                        }else{
                                                            blockh(data.msg);
                                                        }
                                                       }
                                                    )

									}
								}
							/*}*/
						}
					}
				}
			})
		</script>
		<script type="text/javascript">
			$("input").onmouseover = function() {
				$("input").css("border-color", "#cccccc");
			};
			$("input").onmouseout = function() {
				$("input").css("border-color", "#f5f5f5");
			}

			$(".head .nav li:eq(2) a").addClass("active");
			$("#box .screen").click(function() {
				$(".phone").css("display", "block");
			})
			$(".phone").click(function() {
				$(".phone").css("display", "none");
			})
			/*第一个；轮播*/
			//获取元素
			var box = document.getElementById("box");
			var screen = box.children[0];
			var ul = screen.children[0];
			var lisUl = ul.children;
			var ol = screen.children[1];
			var arr = box.children[1];
			var arrLeft = arr.children[0];
			var arrRight = arr.children[1];

			//获取图片宽
			var imgWid = screen.offsetWidth;
			//获取宽度时，我们借助父元素的宽度，原因是因为图片加载速度比较慢，结构生成的快。
			//1 获取同等大小的父级元素的宽
			//2 在事件内获取
			//3 在window.onload中执行代码

			//根据图片张数创建小方块
			for(var i = 0; i < lisUl.length; i++) {
				var li = document.createElement("li");
				li.innerHTML = i + 1;
				ol.appendChild(li);
			}

			//跟每一个li添加事件效果
			var lisOl = ol.children;
			lisOl[0].className = "current";

			for(var i = 0; i < lisOl.length; i++) {
				lisOl[i].index = i;
				lisOl[i].onclick = function() {
					//检测抽回
					if(pic == lisUl.length - 1) {
						ul.style.left = 0 + "px";
					}

					for(var i = 0; i < lisOl.length; i++) {
						lisOl[i].className = "";
					}

					this.className = "current";
					//让ul运动
					animate(ul, -imgWid * this.index);

					pic = this.index;
				};
			}

			//左右按钮点击效果
			var pic = 0;
			//克隆第一张图片
			var firstPic = lisUl[0].cloneNode(true);
			ul.appendChild(firstPic);

			//点击右按钮
			arrRight.onclick = play;

			arrLeft.onclick = function() {
				if(pic == 0) {
					ul.style.left = -ul.offsetWidth + imgWid + "px";
					pic = lisUl.length - 1;
				}
				pic--;
				animate(ul, -pic * imgWid);

				for(var i = 0; i < lisOl.length; i++) {
					lisOl[i].className = "";
				}
				lisOl[pic].className = "current";

			};

			//自动播放
			var timer = null;

			timer = setInterval(play, 8000);

			//移入移出
			box.onmouseover = function() {
				arr.style.display = "block";
				clearInterval(timer);
			};

			box.onmouseout = function() {
				arr.style.display = "none";
				timer = setInterval(play, 8000);
			};

			function play() {
				if(pic == lisUl.length - 1) {
					//抽回
					ul.style.left = 0 + "px";
					//pic归零
					pic = 0;
				}
				//跑起来
				pic++;
				animate(ul, -pic * imgWid);

				//使用pic作为索引值
				for(var i = 0; i < lisOl.length; i++) {
					lisOl[i].className = "";
				}

				//如果显示的是假的第一张
				if(pic == lisUl.length - 1) {
					lisOl[0].className = "current";
				} else {
					lisOl[pic].className = "current";
				}

			};

			function animate(tag, target) {
				clearInterval(tag.timer);
				tag.timer = setInterval(function() {
					var leader = tag.offsetLeft;
					//step = ( target - leader ) / 10
					var step = (target - leader) / 10;
					//处理一下step的值，对step进行向上取整
					step = leader > target ? Math.floor(step) : Math.ceil(step);
					//leader = leader +  step
					leader = leader + step;

					//设置给left值
					tag.style.left = leader + "px";
					if(leader == target) {
						clearInterval(tag.timer);
					}
				}, 17);
			}
		</script>

		<script type="text/javascript">
			var righ = $(".forms form ul li:nth-child(1) p");
			setInterval(function() {
				var ri = ($(window).width() - 1000) / 2 - 40;
				$(".forms form ul li:nth-child(1) p").css("right", ri + "px");
			}, 1000);
			$("#nav2 a").click(function() {
				$("#nav2 a").removeClass("active");
				$(this).addClass("active");
			})

			quweinongchang();
			function quweinongchang(){
				if($('#right-a').attr('href')!=""){

				}else{
					$('#right-a').attr("href","javascript:void(0)");
				}

			}
			$("#right-img").click(function(){
				$(".imgs").css("display", "block");
			})
			$(".imgs").click(function(){
				$(this).css("display", "none");
			})
			$("#right-a").click(function(){
				var hrefs = $(this).attr("href");
				if(hrefs !="javascript:void(0)"){

				}else{
					$(".imgs").css("display", "block");
				}
			})

			/*var ph = document.getElementById("phone_height");
			var nav2 = document.getElementById("nav2");
			var nav = document.getElementById("nav");
			var column = document.getElementById("column");
			var col1 = document.getElementById("column_1");
			var col2 = document.getElementById("column_2");
			var col3 = document.getElementById("column_3");

			function myScroll() {
				return {
					top: window.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop || 0,
					left: window.pageXOffset || document.documentElement.scrollLeft || document.body.scrollLeft || 0
				};
			}
			window.onscroll = function() {
				var pos = myScroll();
				var phs = nav.offsetHeight + ph.offsetHeight;
				var two = col1.offsetHeight + nav.offsetHeight + ph.offsetHeight;
				var tr2 = col2.offsetHeight + col1.offsetHeight + nav.offsetHeight + ph.offsetHeight;
				var tr3 = col3.offsetHeight + col2.offsetHeight + col1.offsetHeight + nav.offsetHeight + ph.offsetHeight;

				if(pos.top > phs) {
					nav2.className = "submenu2 submenu";
					column.style.marginTop = "41px";
					$("#nav2 a").removeClass("active");
					$("#nav2 a:nth-child(1)").addClass("active");
					if(pos.top > two) {
						$("#nav2 a").removeClass("active");
						$("#nav2 a:nth-child(2)").addClass("active");
						if(pos.top > tr2) {
							$("#nav2 a").removeClass("active");
							$("#nav2 a:nth-child(3)").addClass("active");
							if(pos.top > tr3) {
								$("#nav2 a").removeClass("active");
								$("#nav2 a:nth-child(4)").addClass("active");
							}
						}
					}

				} else {
					nav2.className = "submenu";
					column.style.marginTop = "0px";

				}

			};*/
		</script>
	<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?44df8059d678095fffc254927a44f54d";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
</body>

</html>