<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>IT联合办公</title>
		<link rel="stylesheet" type="text/css" href="__INDEX__/css/header.css" />
		<!--<link href="https://innsta.b0.upaiyun.com/favicon_new.ico" mce_href="https://innsta.b0.upaiyun.com/favicon.ico" rel="bookmark" type="image/x-icon">
		<link href="https://innsta.b0.upaiyun.com/favicon_new.ico" mce_href="https://innsta.b0.upaiyun.com/favicon.ico" rel="icon" type="image/x-icon">
		<link href="https://innsta.b0.upaiyun.com/favicon_new.ico" mce_href="https://innsta.b0.upaiyun.com/favicon.ico" rel="shortcut icon" type="image/x-icon">-->
		<link rel="stylesheet" href="https://innsta.b0.upaiyun.com/css_v2/inn.css?_=310_13">
		<!--<link rel="stylesheet" href="https://innsta.b0.upaiyun.com/css_v2/page/resume.css?_=310_13">-->
		<!--<script src="//hm.baidu.com/hm.js?c92adf6182a39eb23c24cf43abc3f439"></script>
		<script async="" charset="UTF-8" src="//eco-api.meiqia.com/dist/meiqia.js?v=1"></script>-->
		<!--<link charset="utf-8" rel="stylesheet" href="https://innsta.b0.upaiyun.com/plugin/selectize/__INDEX__/css/selectize.css?version=310_13">
		<link charset="utf-8" rel="stylesheet" href="https://innsta.b0.upaiyun.com/plugin/datetimepicker/jquery.datetimepicker.css?version=310_13">-->
		
		<style type="text/css">
			.fields .inline:nth-child(2) section {
				height: ;
			}

			.fields .inline:nth-child(2) section option {
				padding: 10px 0;
			}
			
			.beijin {
				width: 100vw;
				height: 100vh;
				background-color: rgba(0, 0, 0, 0.5);
				position: fixed;
				top: 0;
				left: 0;
				z-index: 200;
				display: none;
			}

			.good {
				margin: 30vh auto;
				padding: 50px;
				width: 400px;
				background-color: white;
				border-radius:10px ;
			}
				.good img{
				width: 50px;
				height: 50px;
				display: block;
				margin: 10px  auto;

			}
			.good p {
				width: 100%;
				text-align: center;
				font-size: 15px;
				font-weight: 600;
			}
			.fields{
				position: relative;
				top: 0;
				left: 0;			}
				.plus{
					position: absolute;
					top: 10px;
					right: 250px;

				}
				.trash{
					position: absolute;
					top: 10px;
					right: 230px;

				}
		</style>
	</head>
<script>
(function(b,a,e,h,f,c,g,s){b[h]=b[h]||function(){(b[h].c=b[h].c||[]).push(arguments)};
b[h].s=!!c;g=a.getElementsByTagName(e)[0];s=a.createElement(e);
s.src="//s.union.360.cn/"+f+".js";s.defer=!0;s.async=!0;g.parentNode.insertBefore(s,g)
})(window,document,"script","_qha",224241,false);
</script>
	<body style="padding: 0;">
		<!-- <div style="width:100%;box-shadow:0 2px 4px 0 rgba(58,68,85,0.16);position:relative;z-index:99999; background-color: rgba(0,0,0,0.1);" id="nav">
            <div class="head">
                <div class="logo">
                    <a href="###">
                        </a>
                </div>
                <ul class="navs">

                  
					<li>
						<a href="{:url('index/one')}" class="is ">首页</a>
					</li>
                    
                    <li>
                        <a href="{:url('demand/index')}" class="is ">需求</a>
                    </li>
                    <li>
                        <a href="{:url('cases/index')}" class="is actives">案例</a>
                    </li>
                    <li>
                        <a href="#"class="is">人才</a>
                    </li>
                    

                </ul>
            
                <div style="clear:both"></div>
            </div>
        </div>-->
       {include file="index/nav" /}
		<div class="main" style="min-height: 830px;margin: 10px  auto;">
			<div class="ui segment header" style="text-align: center;">
				<i class="write icon"></i>编辑个人技能
			</div>
			<div class="ui segment">
				<div class="ui form">
					<!--<span style="float:right"><a href="###" target="_blank"><i class="reply icon"></i>谁看过我</a>
						<a href="###" target="_blank"><i class="history icon"></i>编辑历史</a>
						<a href="###" target="_blank"><i class="help yellow circle icon"></i>如何上首页</a></span>-->

					<form action="" id="resumecontentform" method="post">

						<!--<div class="field hide">
							<div class="textarea_content_div">
								<textarea id="content" placeholder="这里输入内容" name="content">&lt;p&gt;互联网产品深度研究爱好者，对交互设计和用户分析上有较丰富经验，能准确把握需求，逻辑思维慎密，能高效完成前后台需求闭合，拥有良好的产品思维和熟悉互联网产品开发原理。主要熟悉C端产品，对产品要求极致到位。&lt;/p&gt;</textarea>
							</div>
						</div>-->

						<h4 class="ui header"><i class="configure icon"></i>技能</h4>
						<div class="field" data-widget="skill-editor">
						{if condition="$skill"}
							{volist name="skill" id="vo"}
							<div class="fields J_Fields" data-role="row" data-id="{$vo.id}">
								<span class="resume_hand_li">
								<i class="plus icon link" title="添加" data-role="add"></i> <i class="trash icon link" data-role="delete" title="删除"></i>   </span>
								<div class="inline field"> <label style="margin-top: 8px;">技能工具</label> </div>
								<div class="inline field" style="width: 200px;padding-left: 0;">
									<select name="" class="jinen" text="paraText">
										<option value="-1">请选择技能</option>
										<option value="java" {if condition="$vo.skill == 'java'"}selected="selected"{/if}>java</option>
										<option value="php" {if condition="$vo.skill == 'php'"}selected="selected"{/if}>php</option>
										<option value="html5" {if condition="$vo.skill == 'html5'"}selected="selected"{/if}>html5</option>
										<option value="css" {if condition="$vo.skill == 'css'"}selected="selected"{/if}>css</option>
										<option value="go" {if condition="$vo.skill == 'go'"}selected="selected"{/if}>go</option>
										<option value="javascript" {if condition="$vo.skill == 'javascript'"}selected="selected"{/if}>javascript</option>
										<option value="python" {if condition="$vo.skill eq 'python'"}selected="selected"{/if}>python</option>
										<option value="c++"  {if condition="$vo.skill eq 'c++'"}selected="selected"{/if}>c++</option>

									</select>
								</div>
								<div class="inline field"> <label style="margin-top: 8px;">经验自评</label> </div>
								<div class="inline field" style="width: 200px;padding-left: 0;">
									<select name="" class="fen" text="paraText">
										<option value="1" {if condition="$vo.grade eq 1"}selected="selected"{/if}>1分</option>
										<option value="2" {if condition="$vo.grade eq 2"}selected="selected"{/if}>2分</option>
										<option value="3" {if condition="$vo.grade eq 3"}selected="selected"{/if}>3分</option>
										<option value="5" {if condition="$vo.grade eq 4"}selected="selected"{/if}>4分</option>
										<option value="5" {if condition="$vo.grade eq 5"}selected="selected"{/if}>5分</option>
									</select>
								</div>
								<div class="inline field"> <label style="margin-top: 8px; color: gray;">1分为新入门，5分为满分</label> </div>
							</div>
							{/volist}
						{else/}
							<div class="fields J_Fields" data-role="row" data-id="0" >
								<span class="resume_hand_li">
								<i class="plus icon link" title="添加" data-role="add"></i> <i class="trash icon link" data-role="delete" title="删除"></i>   </span>
								<div class="inline field"> <label style="margin-top: 8px;">技能工具</label> </div>
								<div class="inline field" style="width: 200px;padding-left: 0;">
									<select name="" class="jinen" text="paraText">
										<option value="-1">请选择技能</option>
										<option value="java">java</option>
										<option value="php">php</option>
										<option value="html5">html5</option>
										<option value="css">css</option>
										<option value="go">go</option>
										<option value="javascript">javascript</option>
										<option value="python">python</option>
										<option value="c++">c++</option>

									</select>
								</div>
								<div class="inline field"> <label style="margin-top: 8px;">经验自评</label> </div>
								<div class="inline field" style="width: 200px;padding-left: 0;">
									<select name="" class="fen" text="paraText">
										<option value="1">1分</option>
										<option value="2">2分</option>
										<option value="3">3分</option>
										<option value="4">4分</option>
										<option value="5">5分</option>
									</select>
								</div>
								<div class="inline field"> <label style="margin-top: 8px; color: gray;">1分为新入门，5分为满分</label> </div>
							</div>
						{/if}

						</div>
					</form>

					<div class="field" style="padding: 10px 0;">
						<a id="resume_submit_btn_a" class="ui button blue" style="margin-left:0.5em;"><i class="write icon"></i>确定</a>
					</div>
				</div>
			</div>

		</div>
		<div class="beijin" >
			<div class="good">
				<img src="__INDEX__/img/duihao.png"/>
				<p></p>
			</div>
		</div>
		<div class="footer" style="background-color: #1e2831; ">
			<div class="center">
				<p>2011-2018 汇谷科技  版权所有：豫ICP备12027515号-1</p>
			</div>
		</div>
						<style type="text/css">
			#beijin {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
  display: none;
}
#good {
	 position: fixed;
    top: 50%;
    left: 50%;
    z-index: 201;
    
    padding: 50px;
    width: 400px;
    margin-left: -250px;
    margin-top: -150px;
    background-color: white;
    border-radius: 10px;
    display: none;
}
#good h5 {
    font-size: 16px;
    margin: 0;
    margin-bottom: 20px;
}

#good h5,#good p {
    width: 100%;
    text-align: center;
}
#good p {
    font-size: 15px;
    font-weight: 600;
}

#good h5, #good p {
    width: 100%;
    text-align: center;
}
.qud {
    border: 1px solid red;
    color: red;
    border-radius: 10px;
    padding: 10px 0;
    margin-top: 20px;
}
		</style>
		<div id="beijin" onclick="none();">
			
		</div>
		<div id="good">
				<h5>提示</h5>
				<p class="texts"></p>
				<p class="qud" id="qd" onclick="none();">确定</p>
			</div>
		<script src="__INDEX__/js/jss/jquery.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			function none(){
  						$("#beijin").css("display", "none");
						$("#good").css("display", "none");
  					}
  					function block(s){
  						$("#beijin").css("display", "block");
						$("#good").css("display", "block");
						$("#good .texts").text(s);						
  					}
			$("#resumecontentform .field .fields .resume_hand_li  .plus").click(function() {
				var fields = $("#resumecontentform .J_Fields").length;
				var jinen = $("#resumecontentform .J_Fields:nth-child(" + fields + ") .jinen option:selected").text(); /*现在状态*/

				if(jinen != "请选择技能") {

				$(this).parent().parent().parent().append($(this).parent().parent().clone(true));
					$("#resumecontentform .J_Fields:nth-child(" + (fields+1) + ")").attr("data-id","0");
//					$("#resumecontentform .J_Fields:nth-child(" + (fields+1) + ") .jinen ").val() = "-1";
$("#resumecontentform .J_Fields:nth-child(" + (fields+1) + ") select.jinen").html('<option value="-1">请选择技能</option><option value="0">java</option><option value="1">php</option><option value="2">html5</option><option value="3">css</option><option value="4">c++</option>')

				$("#resumecontentform .J_Fields:nth-child(" + (fields+1) + ") select.fen").html('<option value="-1">1分</option><option value="0">2分</option><option value="1">3分</option><option value="2">4分</option><option value="3">5分</option>')
				} else {
					block("第" + fields + "份技能内容不完整，无法添加。");
				}


			})
			$("#resumecontentform .field .fields .resume_hand_li  .trash").click(function() {
				var rem = $(this).parent().parent();
				var con;
				con=confirm("确认删除本条记录?"); //在页面上弹出对话框
				if(con==true){
					if($("#resumecontentform .field .fields").length>1){
					var id = $(this).parent().parent().data('id');

					$.post("{:url('user/deskill')}",{id:id},function(data){
						console.log(data);
						if (data.code==1) {
							block("删除成功");
							rem.remove();

						}else{
							block("删除失败");
						}
					}, "json");

					//$(this).parent().parent().remove();
				}else{
					$(".beijin").css("display", "block");
					$(".beijin .good p").text("至少保留一条记录");
					$(".beijin .good img").css("display","none");
					$(".beijin").css("background-color","rgba(0, 0, 0, 0.5)");
				}
				}else{

				}



			})
			$(".beijin").click(function(){
				$(".beijin").css("display","none");
				$(".beijin .good p").text(" ");

			})
			$("#resume_submit_btn_a").click(function() {
				var is = $("#resumecontentform .J_Fields").length;
				var nones = false;
				var aCity1 = new Array();
				for(var i = 0; i < is; i++) {
					aCity1[i] = new Array();
					var jinen = $("#resumecontentform .J_Fields:nth-child(" +  (i+1) + ") .jinen option:selected").text();
					var fen = $("#resumecontentform .J_Fields:nth-child(" +  (i+1) + ") .fen option:selected").text();
					var Data1 = $("#resumecontentform .J_Fields:nth-child(" +  (i+1) + ")").data('id');
					if(jinen!= "请选择技能") {
						aCity1[i][0]=jinen;
						aCity1[i][1]=fen;
						aCity1[i][2] = Data1;
						if(i!=0){
							for(var s= 0;s<i;s++){
								aCity1[i][0]=jinen;
								if(aCity1[i][0]!=aCity1[s][0]){}else{
									block("第" + (i+1) + "份技能与第"+(s+1)+"份内容重复，无法提交。");
									nones = true;
								}
							}
						}
					} else {
						block("第" + (i+1) + "份技能内容不完整，无法提交。");
						nones = true;
					}
				}
				if(nones!=false){
					/*block("作品内容不完整，无法提交。");*/
				}else{
					console.log(aCity1);
					$.post("{:url('user/bianji1')}",{skill:aCity1},function(data){
						console.log(data);
						if (data.code==1) {
							block("提交成功");
							window.location.href = "{:url('user/resume')}";
						}else{
							block("提交失败");
						}
					}, "json");
				}
				/*var is = $(".field .fields").length;
				for(var i=0; i<is;i++){}
				$(".beijin").css("display","block");
				$(".beijin").css("background-color","rgba(255, 255, 255, 0.8)");
				$(".beijin .good img").css("display","block")
				$(".beijin .good p").text("已保存");
				$(".beijin .good ").css("background-color","rgba(255, 255, 255, 0)");
				setTimeout(function(){
					window.location.href="#";
				},1000)*/

			})
			/*添加*/
		</script>
	</body>

</html>