<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="" content="">
		<meta name="d" content="">
		<title>个人中心-基本信息</title>

		<link rel="stylesheet" href="__INDEX__/css/csss/style.css">
		<link rel="stylesheet" href="__INDEX__/css/csss/user_center_reset.css">
		<link rel="stylesheet" href="__INDEX__/css/csss/laydate.css">
		<link rel="stylesheet" type="text/css" href="__INDEX__/css/restre.css" />
		<!--  地区插件    -->
		<!--<link rel="stylesheet" type="text/css" href="__INDEX__/css/header.css" />-->
		<link rel="stylesheet" href="__INDEX__/css/csss/areaselect.css">
		<link rel="stylesheet" type="text/css" href="__INDEX__/css/csss/pretty.min.css" />
	<!--	<link rel="stylesheet" type="text/css" href="__INDEX__/css/nav.css" />-->
		<!--	<link rel="stylesheet" href="__INDEX__/css/csss/inn.css">-->
		<!--  地区插件end   -->
		<!--<script charset="utf-8" src="https://lxbjs.baidu.com/lxb.js?sid=10694576"></script>-->
		<!--<script charset="utf-8" src="https://tag.baidu.com/vcard/v.js?siteid=10694576&amp;url=https%3A%2F%2Fwww.315pr.com%2Fuser%2Fuser_center.shtml&amp;source=http%3A%2F%2F127.0.0.1%3A8020%2Fsan%2Findexs.html%3F__hbt%3D1511768718260&amp;rnd=1782945575&amp;hm=1"></script>-->
		<!--<script src="https://hm.baidu.com/hm.js?c16e71335ce5575c1aab0ce71c7415ae"></script>-->
		<!-- <script src="__INDEX__/js/jss/jquery-2.1.3.min.js"></script> -->
		<script src="__INDEX__/js/jss/jquery.js"></script>

		<!--<script type="text/javascript" charset="utf-8" src="https://dut.zoosnet.net/js/CdCheck.aspx?id=20380941&amp;sid=1511765651350480413414&amp;d=1511768960039"></script>-->

		<style type="text/css">


			#s_province,
			#s_city,
			#s_county {
				display: block;
				width: 32%;
				height: 36px;
				float: left;
				margin-right: 1%;
			}

			.time-item {
				overflow: hidden;
				margin-bottom: 10px;
			}

			.time-item input {
				width: 40%;
				height: 36px;
				float: left;
				margin-right: 5%;
			}

			.div1-info1 {
				margin: 24px 0;
			}

			.div1-info1 span {
				float: left;
			}

			.div1-info1 span:nth-child(1) {
				width: 200px;
				line-height: 36px;
				font-size: 16px;
				color: gray;
			}

			.div1-info span:nth-child(1) {
				color: gray;
			}

			.div1-info1 span:nth-child(2) div {
				display: block;
				line-height: 36px;
				font-size: 16px;
			}

			.div1-info1 span input,
			.div1-info1 span label,
			.div1-info1 span div,
			.div1-info1 span select option,
			.div1-info span input,
			.div1-info span label,
			.div1-info span div,
			.div1-info span select option {
				font-size: 16px;
			}

			.div1-info1 span input[type=checkbox] {
				width: 15px;
				height: 15px;
				background-color: white;
			}

			.div_checkbox input,
			.div_checkbox label {
				float: left;
				margin-right: 10px;
			}

			.div_checkbox input {
				margin-top: 11px;
			}

			.div_time input,
			.div_time select {
				float: left;
				box-sizing: border-box;
				padding: 10px 5px;
				height: 36px;
				width: 150px;
				margin-right: 15px;
			}

			.div_time select {
				padding: 0;
			}

			.div_time select option {
				padding: .67861em 1em;
				width: 150px;
			}

			input[type=checkbox],
			input[type=radio] {
				width: auto;
				height: auto;
				border-color: red;
			}

			.div1-info1:nth-child(8) span:nth-child(2) input,
			.div1-info1:nth-child(9) span:nth-child(2) input,
			.div1-info1:nth-child(10) span:nth-child(2) input,
			.div1-info1:nth-child(11) span:nth-child(2) input,
			.div1-info1:nth-child(12) span:nth-child(2) input {
				font-size: 15px;
			}
.info-right{
	min-height: 800px;
}

			/*nav*/

		</style>

</head>
<script>
(function(b,a,e,h,f,c,g,s){b[h]=b[h]||function(){(b[h].c=b[h].c||[]).push(arguments)};
b[h].s=!!c;g=a.getElementsByTagName(e)[0];s=a.createElement(e);
s.src="//s.union.360.cn/"+f+".js";s.defer=!0;s.async=!0;g.parentNode.insertBefore(s,g)
})(window,document,"script","_qha",224241,false);
</script>
	<body style="padding: 0;">
		<!--<div style="width:100%;box-shadow:0 2px 4px 0 rgba(58,68,85,0.16);position:relative;z-index:99999;background-color: rgba(0,0,0,0.1)">
			<div class="head">
				<div class="logo">
					<a href="###"></a>
				</div>
				<ul class="navs">
						<li>
						<a href="{:url('index/one')}" class="is ">首页</a>
					</li>
					<li>
						<a href="{:url('demand/index')}" class="is">需求</a>
					</li>
					<li>
						<a href="{:url('cases/index')}" class="is ">案例</a>
					</li>
					<li>
						<a href="###" class="is actives">人才</a>
					</li>

				</ul>
				<div style="clear:both"></div>
			</div>
		</div>-->
  {include file="index/nav1"/}
		<div class="page-content">

			<div id="user-info">
				<div class="info-left">

					<a href="{:url('user/index')}" class="active">基本信息</a>
					<a href="{:url('user/order')}"><em></em>我的订单</a>
					<a href="{:url('user/account')}">个人账户</a>
					<a href="{:url('user/resume')}">个人主页</a>
					<!--<a href="###">我的工作</a>-->
					<!--<a class="active" href="###">我的作品</a>-->
					<a href="javascript:if(confirm('确认要退出登录吗?')){location='{:url("login/exits")}'}">退出登录</a>
				</div>
				<div class="info-right">
					<div class="right-bg">
						<div class="right-head">
							<img src="__INDEX__/img/bai.png" alt="三点一刻营销平台" class="head_img1">
							<div class="head_div">
								<span><h3>{$user.user_name}</h3><i>0</i><em class="clear"></em></span>
							</div>
							<p class="head_img2" style="color: red; line-height: 50px; font-size: 16px; ">信息修改</p>
							<!--<img src="http://file.315pr.com/upload/20171116/f7d9a51a54a64ed59ffc9a50be69e827.png" class="head_img2">-->
							<i class="clear"></i>
						</div>
						<div class="info-myself">
							<h3>基本信息</h3>
							<div>
								<span>姓名</span>
								<span>{$user.user_name}</span>
								<i class="clear"></i>
							</div>
							<div>
								<span>性别</span>
								<span>{$user.gender ? $user.gender : '请选择'}</span>
								<i class="clear"></i>
							</div>
							<div>
								<span>所在地区</span>
								<span>{$user.address ? $user.address : '请设置'}</span>
								<i class="clear"></i>
							</div>
							<!--<div>
								<span>出生日期</span>
								<span>{$user.birth}</span>
								<i class="clear"></i>
							</div>-->
							<div>
								<span>现在状态</span>
								<span>{$user.user_status ? $user.user_status : '请设置'}</span>
								<i class="clear"></i>
							</div>
							<div>
								<span>职业</span>
								<span>{$user.occupation ? $user.occupation : '请设置'}</span>
								<i class="clear"></i>
							</div>
							<div>
								<span>工作年限</span>
								<span>{$user.years ? $user.years : '请设置'}</span>
								<i class="clear"></i>
							</div>
							<div>
								<span>联系方式</span>
								<span class="contact">
							<div>
								<p>电话</p>
								<p>{$user.mobile ? $user.mobile : '请设置'}</p>
							</div>
							<div>
								<p>微信</p>
								<p>{$user.wxchat ? $user.wxchat : '请设置'}</p>
							</div>
							<div>
								<p>邮箱</p>
								<p>{$user.email ? $user.email : '请设置'}</p>
							</div>
						</span>
								<i class="clear"></i>
							</div>
							<!--<div class="profile">
								<span>自我介绍</span>
								<span>前段</span>
								<i class="clear"></i>
							</div>
							<div class="skill">
								<span>技能标签</span>
								<span>
							<i>H5开发-全部</i>
	                        </span>
								<i class="clear"></i>
							</div>-->
							<div class="skill">
								<span>关注领域</span>
								<span>
								{if condition="$user.attention"}
									{volist name="$user.attentions" id="vo"}
										<i>{$vo}</i>
									{/volist}
								{else/}
									<i>请设置</i>
								{/if}

		                    </span>
								<i class="clear"></i>
							</div>
						</div>
					</div>
					<div id="center">
						<div class="center1">
							<div class="center-div1">
								<!--<div class="form-sub">
									<img alt="" src="__INDEX__/img/bai.png" id="imgHead">
									<form id="attachForm11" method="post" action="" enctype="multipart/form-data">
										<input type="file" accept="" class="uploadFile" name="file" id="attachFile11">
										<input type="hidden" value="http://file.315pr.com/upload/20171116/f7d9a51a54a64ed59ffc9a50be69e827.png"></form>
								</div>
								<h3 class="form-sub-h3">上传头像</h3>
								<p class="form-sub-p">＊支持JPG、PNG、JPEG等格式的图片</p>-->
								<div class="center-div1-info">
									<div class="div1-info"><span>基本信息</span>
										<!--<span>  号为必填</span>--><i class="clear"></i></div>
									<div class="div1-info"><span>姓名  </span><span><input type="text" value="{$user.user_name}" id="name">
											<img src="__INDEX__/img/privacy0.png" data-type = "0" class="privacy-img" title="隐藏您的个人信息" tit="0"></span><i class="clear"></i></div>
									<div class="div1-info">
										<span>性别  </span>
										<span>
											<select id="sex" style="font-size: 16px;">
												<option {if condition="$user.gender == ''"}selected="selected"{/if}>请选择</option>
												<option {if condition="$user.gender == '男'"}selected="selected"{/if}>男</option>
												<option {if condition="$user.gender == '女'"}selected="selected"{/if}>女</option>
											</select>
										</span>
										<i class="clear"></i></div>
									<div class="div1-info">
										<span>所在地区  </span>
										<span>
				        			<div class="demo-wrap" style="overflow: hidden;">

				        					<select id="s_province" name="s_province" style="font-size: 16px;">

				        					</select>
										    <select id="s_city" name="s_city" style="font-size: 16px;">

										    </select>
										    <select id="s_county" name="s_county" style="font-size: 16px;" value="管城回族区">

										    </select>

										    <script class="resources library" src="__INDEX__/area.js" type="text/javascript"></script>
										    <script type="text/javascript">_init_area();</script>
						       		</div>
						       	</span>
										<i class="clear"></i></div>
									<div class="div1-info"><span>现在状态  </span><span>
				        		<select placeholder="请选择现在状态" id="workingLife1"style="font-size: 16px;">
					        		<option {if condition="$user.gender == '自由工作'"}selected="selected"{/if}>自由工作</option>
				                    <option {if condition="$user.gender == '在职'"}selected="selected"{/if}>在职</option>
				                    <option {if condition="$user.gender == '离职'"}selected="selected"{/if}>离职</option>

			                 	</select></span><i class="clear"></i></div>
									<div class="div1-info"><span>选择职业  </span><span>

						         	   <select name="" id="occupation1" style="width: 49%; height: 34px;font-size: 16px;">
						         	   	<option value="{if condition='$user["occupations"][0]'}{$user['occupations'][0]}{else/}请选择{/if}" selected = "selected">{if condition='$user["occupations"][0]'}{$user['occupations'][0]}{else/}请选择{/if}</option>


						         	   </select>
						         	  <select name="" id="occupation2" style="width: 49%; height: 34px;font-size: 16px;">
						         	  	<option value="{$user['occupations'][1] ?? '请选择'}">{$user['occupations'][1] ?? '请选择'}</option>

						         	  </select>
						       		</span><i class="clear"></i>

									</div>

									<div class="div1-info"><span>工作年限  </span><span>
				        		<select placeholder="请选择您的工作年限" id="workingLife" style="font-size: 16px;">
					        		<option {if condition="$user.years == '1-3年'"}selected="selected"{/if}>1-3年</option>
				                    <option {if condition="$user.years == '3-5年'"}selected="selected"{/if}>3-5年</option>
				                    <option {if condition="$user.years == '5-8年'"}selected="selected"{/if}>5-8年</option>
				                    <option {if condition="$user.years == '8-10年'"}selected="selected"{/if}>8-10年</option>
				                    <option {if condition="$user.years == '10年以上'"}selected="selected"{/if}>10年以上</option>
			                 	</select></span><i class="clear"></i></div>
									<!--<div class="div1-info">
										<span>出生日期  </span>
										<span>

												<input type="text"  id="time-init" placeholder="您的出生日期例：1995-12-03" value=""maxlength="10">
										</span><i class="clear"></i></div>-->

									<div class="div1-info"><span>微信号  </span><span><input type="text" placeholder="请填写您的微信号" value="{$user.wxchat}" id="wxNum" maxlength="20"></span><i class="clear"></i></div>
									<div class="div1-info"><span>邮箱  </span><span><input type="text" placeholder="请填写您的邮箱" value="{$user.email}" id="email" maxlength="25"></span><i class="clear"></i></div>
									<div class="div1-info"><span>联系电话  </span><span><input type="text"  maxlength="11" placeholder="请填写您的联系电话" value="{$user.mobile}" id="mobile"></span><i class="clear"></i></div>
<!-- 									<div class="div1-info1" id="times">
										<span>可工作时间  </span>
										<span>
											<div class="div_checkbox">
												<input type="checkbox" name="value1" id="" value="工作日"  id="in1"/><label>工作日</label><i class="clear"></i>
											</div>

											<div class="div_time div_time1 ">
												<input class="J_WorkTime start" type="text" placeholder="开始时间：09-00"maxlength="10" value="">
												<input class="J_WorkTime end" type="text" placeholder="结束时间：17-00" maxlength="10"value=""><i class="clear"></i>
											</div>
											<div class="div_checkbox">
												<input type="checkbox" name="value1" id="" value="周末"  id="in1"/><label>周末</label><i class="clear"></i>
											</div>

											<div class="div_time div_time2">
												<input class="J_WorkTime start" type="text" placeholder="开始时间：20-00" maxlength="10" value="">
												<input class="J_WorkTime end" type="text" placeholder="结束时间：23-00" maxlength="10"value=""><i class="clear"></i>
											</div>
											<i class="clear"></i>
										</span>
										<i class="clear"></i>
									</div> -->
								<!--<div class="div1-info1">
										<span>可工作区域 </span>
										<span>
											<div class="div_checkbox" id="checkbox1">
												<input type="radio" name="radioday" id="" value="远程工作"  checked="checked" /><label>远程工作</label>
												<input type="radio" name="radioday" id="" value="驻场工作"  /><label>驻场工作</label><i class="clear"></i>
											</div>

											<div class="div_time" >
												<select name="" id="div_select1" style="font-size: 16px;">
													<option value="-1">选择省份</option>
												</select>
												<select name="" id="div_select2" style="font-size: 16px;">
													<option value="-1">选择城市  </option>
												</select><label style="line-height: 36px; height: 36px; color: gray;">(可驻场地址)</label><i class="clear"></i>
											</div>



											<i class="clear"></i>
										</span>
										<i class="clear"></i>
									</div> -->
									<div class="div1-info1">
										<span>日薪</span>
										<span>
											<div class="div_time">
												<input type="number" id="xinsui" name="" value="{$user.daily_money}" style="font-size: 16px;"/>
												<label style="line-height: 36px; height: 36px; color: gray;">元/天(8小时)</label>
											</div>
											<i class="clear"></i>
										</span>
										<i class="clear"></i>
									</div>
<!-- 									<div class="div1-info1" id="div_checkbox2">

										<span>接单状态</span>
										<span>
											<div class="div_checkbox" >
												<input type="radio" name="you" id=""  value="接单" checked="checked" style="font-size: 16px;"/><label class="ches">接单</label><i class="clear"></i>
											</div>
											<div class="div_checkbox" >
												<input type="radio" name="you" id=""  value="不接单" style="font-size: 16px;"/><label class="ches">不接单</label><i class="clear"></i>
											</div>
											<i class="clear"></i>
										</span>
										<i class="clear"></i>
									</div> -->

								</div>

								<div class="center-div1-skill">
									<div class="skill-div1-info"><span>关注领域</span><span>（必填信息）</span><i class="clear"></i></div>
									<div class="basic-skill gzly">

										<span tid="1" {volist name="$user.attentions" id="vo"}{if condition="$vo == '科技/互联网'"} class="onstyle"{/if}{/volist} >科技/互联网</span>
										<span tid="18" {volist name="$user.attentions" id="vo"}{if condition="$vo == '金融/财经'"} class="onstyle"{/if}{/volist}>金融/财经</span>
										<span tid="33" {volist name="$user.attentions" id="vo"}{if condition="$vo == '搞笑/段子手'"} class="onstyle"{/if}{/volist}>搞笑/段子手</span>
										<span tid="38" {volist name="$user.attentions" id="vo"}{if condition="$vo == '营销/广告'"} class="onstyle"{/if}{/volist}>营销/广告</span>
										<span tid="42" {volist name="$user.attentions" id="vo"}{if condition="$vo == '创业'"} class="onstyle"{/if}{/volist}>创业</span>
										<span tid="47" {volist name="$user.attentions" id="vo"}{if condition="$vo == '媒体/自媒体'"} class="onstyle"{/if}{/volist}>媒体/自媒体</span>
										<span tid="2" {volist name="$user.attentions" id="vo"}{if condition="$vo == '母婴/育儿'"} class="onstyle"{/if}{/volist}>母婴/育儿</span>
										<span tid="3" {volist name="$user.attentions" id="vo"}{if condition="$vo == '教育'"} class="onstyle"{/if}{/volist}>教育</span>
										<span tid="5" {volist name="$user.attentions" id="vo"}{if condition="$vo == '零售连锁'"} class="onstyle"{/if}{/volist}>零售连锁</span>
										<span tid="6" {volist name="$user.attentions" id="vo"}{if condition="$vo == '文化传媒'"} class="onstyle"{/if}{/volist}>文化传媒</span>
										<span tid="7" {volist name="$user.attentions" id="vo"}{if condition="$vo == '旅行'"} class="onstyle"{/if}{/volist}>旅行</span>
										<span tid="8" {volist name="$user.attentions" id="vo"}{if condition="$vo == '汽车'"} class="onstyle"{/if}{/volist}>汽车</span>
										<span tid="10" {volist name="$user.attentions" id="vo"}{if condition="$vo == '地产/房产'"} class="onstyle"{/if}{/volist}>地产/房产</span>
										<span tid="12" {volist name="$user.attentions" id="vo"}{if condition="$vo == '医疗/健康'"} class="onstyle"{/if}{/volist}>医疗/健康</span>
										<span tid="16" {volist name="$user.attentions" id="vo"}{if condition="$vo == '时尚'"} class="onstyle"{/if}{/volist}>时尚</span>
										<span tid="17" {volist name="$user.attentions" id="vo"}{if condition="$vo == '娱乐'"} class="onstyle"{/if}{/volist}>娱乐</span>
										<span tid="20" {volist name="$user.attentions" id="vo"}{if condition="$vo == '体育'"} class="onstyle"{/if}{/volist}>体育</span>
										<span tid="21" {volist name="$user.attentions" id="vo"}{if condition="$vo == '艺术'"} class="onstyle"{/if}{/volist}>艺术</span>
										<span tid="24" {volist name="$user.attentions" id="vo"}{if condition="$vo == '动漫/漫画/游戏'"} class="onstyle"{/if}{/volist}>动漫/漫画/游戏</span>
										<span tid="25" {volist name="$user.attentions" id="vo"}{if condition="$vo == '服装'"} class="onstyle"{/if}{/volist}>服装</span>
										<span tid="26" {volist name="$user.attentions" id="vo"}{if condition="$vo == '新闻/资讯'"} class="onstyle"{/if}{/volist}>新闻/资讯</span>
										<span tid="27" {volist name="$user.attentions" id="vo"}{if condition="$vo == '创意/生活'"} class="onstyle"{/if}{/volist}>创意/生活</span>
										<span tid="28" {volist name="$user.attentions" id="vo"}{if condition="$vo == '购物'"} class="onstyle"{/if}{/volist}>购物</span>
										<span tid="29" {volist name="$user.attentions" id="vo"}{if condition="$vo == '情感'"} class="onstyle"{/if}{/volist}>情感</span>
										<span tid="30" {volist name="$user.attentions" id="vo"}{if condition="$vo == '宠物'"} class="onstyle"{/if}{/volist}>宠物</span>
										<span tid="31" {volist name="$user.attentions" id="vo"}{if condition="$vo == '百科'"} class="onstyle"{/if}{/volist}>百科</span>
										<span tid="32" {volist name="$user.attentions" id="vo"}{if condition="$vo == '物流'"} class="onstyle"{/if}{/volist}>物流</span>
										<span tid="34" {volist name="$user.attentions" id="vo"}{if condition="$vo == '女性'"} class="onstyle"{/if}{/volist}>女性</span>
										<span tid="35" {volist name="$user.attentions" id="vo"}{if condition="$vo == '产品评测'"} class="onstyle"{/if}{/volist}>产品评测</span>
										<span tid="36" {volist name="$user.attentions" id="vo"}{if condition="$vo == '电商'"} class="onstyle"{/if}{/volist}>电商</span>
										<span tid="37" {volist name="$user.attentions" id="vo"}{if condition="$vo == '创投'"} class="onstyle"{/if}{/volist}>创投</span>
										<span tid="39" {volist name="$user.attentions" id="vo"}{if condition="$vo == '管理'"} class="onstyle"{/if}{/volist}>管理</span>
										<span tid="40" {volist name="$user.attentions" id="vo"}{if condition="$vo == '影视'"} class="onstyle"{/if}{/volist}>影视</span>
										<span tid="41" {volist name="$user.attentions" id="vo"}{if condition="$vo == '阅读'"} class="onstyle"{/if}{/volist}>阅读</span>
										<span tid="43" {volist name="$user.attentions" id="vo"}{if condition="$vo == 'IT/数码'"} class="onstyle"{/if}{/volist}>IT/数码</span>
										<span tid="48" {volist name="$user.attentions" id="vo"}{if condition="$vo == '艺人/网红'"} class="onstyle"{/if}{/volist}>艺人/网红</span>
										<span tid="49" {volist name="$user.attentions" id="vo"}{if condition="$vo == '公益'"} class="onstyle"{/if}{/volist}>公益</span>
									</div>
								</div>
								<button class="next1" style="font-size: 18px;">完成</button>
								<!--onclick="edit_user();"-->
							</div>
						</div>
					</div>
				</div>
				<i class="clear"></i>
			</div>
		</div>
		<i class="clear"></i>
		<script type="text/javascript">
			/*选择职业 联动*/
			var json1 = {
				
				"产品经理": ["产品经理", "项目经理", "产品其他"],
				"UI设计": ["平面设计", "WEB前端设计", "移动端设计", "交互设计"],
				"前端工程师": ["前端工程师"],
				"后端工程师": ["Java", "c++", "PHP", "c", "c#", "Python", "node.js", "全栈", "Go"],
				"测试": ["性能测试", "连接速度测试", "负载测试", "压力测试", "基本测试 ", "技术测试 "]
			};
			for(var i in json1) {
				var pwd = i;
				var op = new Option(pwd, pwd);
				document.getElementById("occupation1").appendChild(op);
			}
			document.getElementById("occupation1").onchange = function() {
				document.getElementById("occupation2").length = 1;
				for(var i in json1) {

					if(i == this.value) {
						for(var s = 0; s < json1[i].length; s++) {
							var pwd = json1[i][s];
							var op = new Option(pwd, pwd);
							document.getElementById("occupation2").appendChild(op);
						}
					}
				}
				document.getElementById("occupation2")[1].selected = true;
			}

			//		var json0 = {
			//				"河南省": ["郑州市", "开封市", "洛阳市", "平顶山市", "焦作市", "鹤壁市", "新乡市", "安阳市","濮阳市","许昌市","漯河市","三门峡市","南阳市","商丘市","信阳市","周口市","驻马店市","济源市"],
			//				"青海省": ["西宁市","格尔木","德令哈"],
			//				"云南省": ["昆明市","曲靖市","玉溪市","丽江市","普洱市","保山市","昭通市","临沧市"],
			//				"江苏省":["南京市","无锡市","徐州市","常州市","苏州市","南通市","连云港市","淮安市","盐城市","扬州市","镇江市","泰州市","宿迁市"]
			//			};
			//			for(var i in json0) {
			//				var pwd = i;
			//				var op = new Option(pwd, pwd);
			//				document.getElementById("div_select1").appendChild(op);
			//			}
			//			document.getElementById("div_select1").onchange = function() {
			//				document.getElementById("div_select2").length = 1;
			//				for(var i in json0) {
			//
			//					if(i == this.value) {
			//						for(var s = 0; s < json0[i].length; s++) {
			//							var pwd = json0[i][s];
			//							var op = new Option(pwd, pwd);
			//							document.getElementById("div_select2").appendChild(op);
			//						}
			//					}
			//				}
			//				document.getElementById("div_select2")[1].selected = true;
			//			}
		</script>
							<style type="text/css">
			.beijin {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 700;
  display: none;
}
#goods{
				position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    margin-top: -200px;
    width: 450px !important;
	padding: 0px !important;
    background-color: white;
    overflow: hidden;
    border-radius: 10px;
    z-index: 999;
    display: none;
			}
.goods {
    margin: 35vh auto;
    padding: 50px;
    width: 400px;
    background-color: white;
    border-radius: 10px;
}
.goods h5,#goods h5 {
    font-size: 16px;
    margin: 0;
    margin-bottom: 20px;
}
#goods h5{
	padding: 20px 0px;
}
.goods h5, .goods p,#goods h5, #goods p {
    width: 100%;
    text-align: center;
}
.goods p,#goods p {
    font-size: 15px;
    font-weight: 600;
}

.goods h5, .goods p,#goods h5, #goods p  {
    width: 100%;
    text-align: center;
}
.qud {
    border: 1px solid red;
    color: red;
    border-radius: 10px;
    padding: 10px 0;
    margin-top: 20px;
}


			#goods .buttoms{
	display: flex;
	padding-top: 20px;
}
#goods .buttoms p{
	width: 50%;
	height: 40px;
	line-height: 40px;
	margin: 0px ;
	padding: 0px;
	color: white;
}

		</style>
		<div class="beijin">
			<div class="goods">
				<h5>提示</h5>
				<p class="texts"></p>
				<p class="qud" id="qd">确定</p>
			</div>
		</div>
		<div class="footer" style="background-color: #1e2831;" >
			<div class="center">
				<p>2011-2018 汇谷科技  版权所有：豫ICP备12027515号-1</p>
			</div>
		</div>
		<script type="text/javascript">
$("#qd").click(function() {
				$(".beijin").css("display", "none");
			})
$(".beijin").click(function() {$(".beijin").css("display", "none");
			})
		var address = "{$user.address}";

			$(".head_img2").click(function() {
				$(".right-bg").css("display", "none");
				$("#center").css("display", "block");
			})
			/*工作区域切换*/
			$("#div_select1").attr("disabled", "disabled");
			$("#div_select2").attr("disabled", "disabled");
//			var value = "";
//			$("#checkbox1 input").click(function() {
//
//				var radio = document.getElementsByName("radioday");
//				for(var i = 0; i < radio.length; i++) {
//					if(radio[i].checked == true) {
//						value = radio[i].value;
//						break;
//					}
//				}
//				if(value == "驻场工作") {
//					document.getElementById('div_select1').disabled = false;
//					document.getElementById('div_select2').disabled = false;
//				} else if(value == "远程工作") {
//					document.getElementById('div_select1').disabled = true;
//					document.getElementById('div_select2').disabled = true;
//				}
//			})
 $("#times .div_time1 input").attr("disabled", "disabled");
  $("#times .div_time2 input").attr("disabled", "disabled");
 var chestr="";
$("#times .div_checkbox input").click(function() {

				var str=document.getElementsByName("value1");
var objarray=str.length;
var chestr1="";
for (i=0;i<objarray;i++)
{
  if(str[i].checked == true)
  {
   chestr1+=str[i].value;
  }
}
 chestr =chestr1;
$("#times .div_time1 input").attr("disabled", "disabled");
  $("#times .div_time2 input").attr("disabled", "disabled");
if(chestr == "")
{
  $("#times .div_time1 input").attr("disabled", "disabled");
  $("#times .div_time2 input").attr("disabled", "disabled");
}
else if(chestr=="工作日周末")
{
 $("#times .div_time1 input").removeAttr("disabled");
  $("#times .div_time2 input").removeAttr("disabled");
}else if(chestr=="工作日"){
	$("#times .div_time1 input").removeAttr("disabled");

}else if(chestr=="周末"){
	$("#times .div_time1 input").attr("disabled", "disabled");
  $("#times .div_time2 input").removeAttr("disabled");
}

			})
			/*接单状态*/
			var value1 = "接单";
			$("#div_checkbox2 input").click(function() {
				var radio = document.getElementsByName("you");
				for(var i = 0; i < radio.length; i++) {
					if(radio[i].checked == true) {
						 value1 = radio[i].value;
						break;
					}
				}
			})
			/**/

			$(".next1").click(function() {
				/*$(".right-bg").css("display", "block");
				$("#center").css("display", "none");*/
				var names = $("#name").val(); /*姓名*/
				var sex = $("#sex option:selected").text(); /*性别*/
				var s_province = $("#s_province option:selected").text(); /*省*/
				var s_city = $("#s_city option:selected").text(); /*县*/
				var s_county = $("#s_county option:selected").text(); /*乡*/
				var workingLife1 = $("#workingLife1 option:selected").text(); /*现在状态*/
				var occupation1 = $("#occupation1 option:selected").text(); /*职业选择1*/
				var occupation2 = $("#occupation2 option:selected").text(); /*职业选择2*/

				var workingLife = $("#workingLife option:selected").text(); /*工作年限*/
				//	var timeinit = $("#time-init").val();/*出生日期*/
				var wxNum = $("#wxNum").val(); /*微信号*/
				var email = $("#email").val(); /*邮箱*/
				var mobile = $("#mobile").val(); /*电话*/
				/*工作时间  未获取*/
				var xinsui = $("#xinsui").val();/*日薪*/
				var ches = $(".ches").text();/*接单状态*/
				var gzly = $(".gzly span.onstyle");
				/*关注领域*/
				var gzs;
				if(gzly.length>0){
					for(var n = 0;n<gzly.length;n++){
						if(n!=0){
							gzs = gzs+","+gzly.eq(n).text();
						}else{
							gzs = gzly.eq(n).text();
						}
					}
				}
	if(sex!="请选择"){


				if(names != "") {
					if(s_province == "省份" && s_city == "县、市" && s_county == "乡（镇）") {
						if (address=="") {
							$(".beijin").css("display", "block");$(".beijin .texts").text('请选择地区');return false;
						}
					}
						if(occupation1 != "选择职业") {
							var occupation = occupation1+"/"+occupation2;
							if(xinsui !=""){


								if(email == "") {
										if(mobile!=""){
											if(!(/^1[3456789]\d{9}$/.test(mobile))) {
												$(".beijin").css("display", "block");$(".beijin .texts").text("手机号码有误，请重填")
											} else {
												var ress = s_province+"/"+s_city+"/"+s_county;
												if(s_province == "省份" && s_city == "县、市" && s_county == "乡（镇）") {
													ress = address;
												}

												post(names,sex,ress,workingLife1,occupation,workingLife,mobile,wxNum,email,xinsui,gzs);
											}
										}else{
											var ress = s_province+"/"+s_city+"/"+s_county;
												if(s_province == "省份" && s_city == "县、市" && s_county == "乡（镇）") {
													ress = address;
												}

												post(names,sex,ress,workingLife1,occupation,workingLife,mobile,wxNum,email,xinsui,gzs);
										}
										document.getElementById("email").focus();
										return false;

									}
									var pattern = /^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/;
									strEmail = pattern.test(email);
									if(strEmail) {
										/*return true;*/
										if(mobile!=""){
											if(!(/^1[3456789]\d{9}$/.test(mobile))) {
												$(".beijin").css("display", "block");$(".beijin .texts").text("手机号码有误，请重填")
											} else {
												//if(chestr != ""){
													// var gongzuotime = new Array();
													// var gays = true;
													// var gaystext = "";
													// if(chestr=="工作日周末"){
													// 	gongzuotime[0] = new Array();
													// 	var divtime = $("#times .div_time input");
													// 	if(divtime.eq(0).val()!=""&&divtime.eq(1).val()!=""&&divtime.eq(2).val()!=""&&divtime.eq(3).val()!=""){
													// 		gongzuotime[0][0] = divtime.eq(0).val();
													// 		gongzuotime[0][1] = divtime.eq(1).val();
													// 		gongzuotime[0][2] = divtime.eq(2).val();
													// 		gongzuotime[0][3] = divtime.eq(3).val();
													// 		gays = true;
													// 	}else{
													// 		gaystext = "可工作时间未填写";
													// 		gays = false;
													// 	}
													// }else if(chestr=="工作日"){
													// 	gongzuotime[0] = new Array();
													// 	var divtime = $("#times .div_time1 input");
													// 	if(divtime.eq(0).val()!=""&&divtime.eq(1).val()!=""){
													// 		gongzuotime[0][0] = divtime.eq(0).val();
													// 		gongzuotime[0][1] = divtime.eq(1).val();
													// 		gays = true;
													// 	}else{
													// 		gaystext = "工作日时间未填写";
													// 		gays = false;
													// 	}
													// }else if(chestr=="周末"){
													// 	gongzuotime[0] = new Array();
													// 	var divtime = $("#times .div_time2 input");
													// 	if(divtime.eq(0).val()!=""&&divtime.eq(1).val()!=""){
													// 		gongzuotime[0][0] = divtime.eq(0).val();
													// 		gongzuotime[0][1] = divtime.eq(1).val();
													// 		gays = true;
													// 	}else{
													// 		gaystext ="周末时间未填写";
													// 		gays = false;
													// 	}
													// }
													// if(value1 !="接单"){
													// 	/*接单状态 不接单*/
													// }else{
													// 	/*接单状态 接单*/
													// }


						var ress = s_province+"/"+s_city+"/"+s_county;


						// console.log(ress);
						// console.log(workingLife1);
						// console.log(workingLife);
						// console.log(mobile);
						// console.log(email);
						// console.log(xinsui);
						// console.log(gzs);
						if(s_province == "省份" && s_city == "县、市" && s_county == "乡（镇）") {
							ress = address;
						}

						console.log(occupation);
post(names,sex,ress,workingLife1,occupation,workingLife,mobile,wxNum,email,xinsui,gzs);

											}
										}else{
											var ress = s_province+"/"+s_city+"/"+s_county;
												if(s_province == "省份" && s_city == "县、市" && s_county == "乡（镇）") {
													ress = address;
												}
												console.log(occupation);
												post(names,sex,ress,workingLife1,occupation,workingLife,mobile,wxNum,email,xinsui,gzs);
										}
									} else {
										$(".beijin").css("display", "block");$(".beijin .texts").text("邮箱格式不正确！");
									}
									}else{
										$(".beijin").css("display", "block");$(".beijin .texts").text("请输入日薪！");
									}

						} else {
							$(".beijin").css("display", "block");$(".beijin .texts").text("请选择职业");
						}
				} else {
					$(".beijin").css("display", "block");$(".beijin .texts").text("请输入姓名");
				}
}else{
		$(".beijin").css("display", "block");$(".beijin .texts").text('请选择性别')
	}
			})
			function Email(){

			}
			function post(names,sex,ress,workingLife1,occupation,workingLife,mobile,wxNum,email,xinsui,gzs){
				$.post("{:url('user/index')}",{
							user_name:names,
							gender:sex,
							address:ress,
							user_status:workingLife1,
							occupation:occupation,
							years:workingLife,
							mobile:mobile,
							wxchat:wxNum,
							email:email,
							daily_money:xinsui,
							attention:gzs,
						},function(data){
							console.log(data);
							if (data.code==1) {
								window.location.href = "{:url('user/index')}";
							}else{
								$(".beijin").css("display", "block");$(".beijin .texts").text("提交失败");
							}
						}, "json");
			}
			/*可工作时间*/
			/*邮箱验证*/
			function isEmail() {
									var email = document.getElementById("email").value;
									if(email == "") {
										$(".beijin").css("display", "block");$(".beijin .texts").text("请输入邮箱！");
										document.getElementById("email").focus();
										return false;
									}
									var pattern = /^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/;
									strEmail = pattern.test(email);
									if(strEmail) {
										return true;
									} else {
										$(".beijin").css("display", "block");$(".beijin .texts").text("邮箱格式不正确！");
									}
								}
			function mobile(){
				var mobile = $("#mobile").val(); /*电话*/
				if(mobile!=""){
					if(!(/^1[3456789]\d{9}$/.test($("#dl_mobile1").val()))) {
						$(".beijin").css("display", "block");$(".beijin .texts").text("手机号码有误，请重填")
					} else {

					}
				}else{
					$(".beijin").css("display", "block");$(".beijin .texts").text("请输入手机号")
				}


			}
		</script>
		<script type="text/javascript">
			$(".gzly span").click(function() {
				$(this).toggleClass("onstyle");
			})

			$(".privacy-img").click(function() {
				var types = $(this).data("type");

				if(types != 1) {
					$(".privacy-img").attr("src", "__INDEX__/img/privacy1.png");
					$("#name").attr('type', 'password');

					$(".privacy-img").data("type", "1");
				} else {
					$(".privacy-img").attr("src", "__INDEX__/img/privacy0.png");
					$("#name").attr('type', 'text');
					$(".privacy-img").data("type", "0");
				}

			})
		</script>

	</body>

</html>