a {
				text-decoration: none;
				color: black;
			}

			a:link {
				text-decoration: none;
				color: black;
			}

			a:visited {
				text-decoration: none;
			}

			a:active {
				text-decoration: none;
				color: black;
			}

			a:hover {
				text-decoration: none;
			}

			.relative {
				position: relative;
				top: 0;
				left: 0;
			}

			.footer {
				width: 100%;
				background-color: #1e2831;
				height: 60px;
				z-index: 100;
			}

			.footer .center {
				width: 75%;
				margin: 0 auto;
			}

			.footer .center p {
				width: 100%;
				text-align: center;
				line-height: 60px;
				color: #fff;
				font-size: 14px;
			}

			.content .center {
				width: 80%;
				margin: 0 auto;
				padding-top: 50px;
				min-width: 890px;
				display: flex;
			}

			.center_left {
				width: 250px;
				padding-top: 20px;
				position: relative;
				top: 0;
				left: 0;
				display: flex;
				flex-direction: column;
			}

			.center_left a {
				width: 108px;
				height: 36px;
				text-align: center;
				line-height: 36px;
				font-size: 16px;
				border-radius: 18px;
				margin: 15px 0px 0px 10px;
				color: #3a4455;
			}

			.center_left a:hover {
				background: #ff5353;
				color: white;
			}

			.active {
				background: #ff5353;
			}

			.center_cen {
				box-shadow: 0 2px 10px 1px rgba(28, 57, 81, 0.18);
			}

			.cente-head {
				display: flex;
				justify-content: space-around;
				padding: 20px 0;
			}

			.cente-head .p2 {
				float: left;
				width: 20%;
				margin: 0;
				text-align: center;
				font-size: 15px;
				padding: 10px 0;
				box-sizing: border-box;
			}

			.cente-head .on {
				color: red;
				border-bottom: 4px solid red;
			}

			.p2:hover {
				color: red;
				border-bottom: 4px solid red;
			}

			.cente_b {
				width: 100%;
				min-height: 80vh;
				overflow: hidden;
			}

			.cente_ul {
				width: 400%;
				display: flex;
				margin-left: 0px;
				transition:margin-left .5s ;
			}

			.cente_ul ul {
				width: 25%;
			}
			/*ul*/

			.cente_ul ul .li_one {
				width: 100%;
			}

			.cente_ul ul .li_one .top {
				width: 100%;
				box-sizing: border-box;
				padding: 15px 40px;
				display: flex;
			}

			.li_one .top .top_left img {
				width: 50px;
			}

			.li_one .top .top_center {
				margin-left: 20px;
			}

			.li_one .top .top_center p:nth-child(1) span {
				height: 21px;
				font-size: 16px;
				margin-bottom: 10px;
			}

			.li_one .top .top_center p:nth-child(2) span {
				height: 15px;
				font-size: 12px;
				line-height: 15px;
			}

			.li_one .top .top_center p:nth-child(2) span:nth-child(3) {
				font-size: 13px;
			}

			.li_one .top .top_right {
				position: absolute;
				right: 90px;
				bottom: 30px;
			}

			.li_one .top .top_right span {
				padding: 2px 6px;
				background-color: #f7b100;
				color: white;
				font-size: 12px;
			}
			/*bottom*/

			.cente_ul ul .li_one .bottom{
				width: 100%;
				border-top: 1px dotted #d3d0d0;
				padding: 10px 40px;
				box-sizing: border-box;
				display: none;
				overflow: hidden;
			}
			.cente_ul ul .li_ones .bottom {
				display: block ;
			}

			.li_one .bottom .demanddel-type {
				position: absolute;
				top: 20px;
				right: 10%;
				width: 250px;
				box-shadow: 0 0 10px rgba(0, 0, 0, .2);
				height: auto;
			}

			.li_one .bottom .demanddel-type .demanddel-num {
				overflow: hidden;
			}

			.demanddel-type {
				font-size: 14px;
				text-align: center;
				padding: 15px 0 10px 0;
			}
			/*.demanddel-type span{
				display: block;
				font-size: 14px;
			   text-align: center;
			    padding: 10px 0;
			}*/

			.demanddel-type .demanddel-num p {
				float: left;
				width: 49%;
				margin: 0;
				margin: 10px 0;
			}

			.demanddel-type .demanddel-num p:nth-child(2) {
				border-left: 1px dotted #7d7d7d;
			}

			.demanddel-type .demanddel-num p span {
				display: block;
				width: 100%;
				text-align: center;
				padding: 5px 0;
			}

			.li_one .bottom>p {
				margin: 22px 0;
				overflow: hidden;
			}

			.li_one .bottom>p span:nth-child(1) {
				float: left;
				width: 100px;
				padding-right: 20px;
				text-align: right;
				color: gray;
			}

			.li_one .bottom>p span {
				font-size: 15px;
			}

			.li_one .bottom>p span:nth-child(2) {
				float: left;
				width: 80%;
				word-break: break-all;
				display: -webkit-box;
				-webkit-line-clamp: 3;
				-webkit-box-orient: vertical;
				overflow: hidden;
			}

			.participations {
				display: flex;
				padding: 10px 0;
				margin-left: 120px;
				margin-top: -25px;
			}

			.participation {
				width: 120px;
				height: 120px;
				display: flex;
				flex-direction: column;
				border: 1px solid #eee;
				margin-bottom: 10px;
				margin-right: 10px;
				background-color: rgb(255, 255, 255);
				position: relative;
				left: 0;
				top: 0;
			}

			.participation a {
				width: 100%;
				text-align: center;
				font-size: 16px;
				height: 40px;
				line-height: 40px;
				font-weight: 700;
				display: block;
			}

			.participation a:nth-child(1) {
				border-bottom: 1px solid #eee;
				font-size: 14px;
				height: 30px;
				line-height: 30px;
				font-weight: 400;
				background-color: rgb(250, 250, 250);
			}

			.participation img {
				width: 40px;
				margin-left: 40px;
				margin-top: 10px;
			}

			.participation i {
				position: absolute;
				left: 5px;
				top: 5px;
				display: none;
			}

			.participation1 {
				border-color: red;
			}

			.participation1 i {
				display: block;
			}

			.participation>i>img {
				display: block;
				margin: 0;
				padding: 0;
				width: 25px;
			}

			.participation a:hover {
				color: black;
			}

			.bottom_bottom {
				width: 100%;
				padding: 20px 40px;
				margin: 0 -40px;
				display: flex;
				justify-content: space-between;
			}

			.bottom_bottom:nth-child(1) {
				background-color: #F7F7F7;
				justify-content: space-between;
			}

			.bottom_bottom:nth-child(2) {
				flex-direction: column;
			}

			.bottom_bottom p {
				width: 20%;
				display: flex;
				flex-direction: column;
				margin: 0;
				overflow: hidden;
			}

			.bottom_bottom p span {
				width: 100%;
				margin: 0;
				padding: 0;
				color: grey;
			}

			.bottom_bottom p .sptext {
				text-align: left;
				font-size: 14px;
			}

			.bottom_bottom p .spbackground {
				margin-top: 10px;
				height: 6px;
				background-color: #a8a4a4;
				display: block;
			}

			.bottom_bottom p:nth-child(1) .sptext,
			.bottom_bottom.blue1 p:nth-child(2) .sptext,
			.bottom_bottom.blue2 p:nth-child(2) .sptext,
			.bottom_bottom.blue2 p:nth-child(3) .sptext,
			.bottom_bottom.blue3 p:nth-child(2) .sptext,
			.bottom_bottom.blue3 p:nth-child(3) .sptext,
			.bottom_bottom.blue3 p:nth-child(4) .sptext {
				color: #0082E6;
				background-color: white;
			}

			.bottom_bottom p:nth-child(1) .spbackground,
			.bottom_bottom.blue1 p:nth-child(2) .spbackground,
			.bottom_bottom.blue2 p:nth-child(2) .spbackground,
			.bottom_bottom.blue2 p:nth-child(3) .spbackground,
			.bottom_bottom.blue3 p:nth-child(2) .spbackground,
			.bottom_bottom.blue3 p:nth-child(3) .spbackground,
			.bottom_bottom.blue3 p:nth-child(4) .spbackground {
				background-color: #0082E6;
			}

			.cente_ul ul .string{
				width: 100%;
				padding: 10px 40px;
				box-sizing: border-box;
				background-color: #F7F7F7;
				background-color: rgba(247, 247, 247, 0.2);
			}

			.cente_ul ul .string .renyuean,
			.cente_ul ul .string .renyuean2,
			.cente_ul ul .string .renyuean3{
				width: 100%;
				overflow: hidden;
				padding: 10px 0;
				display: none;
			}

			.cente_ul ul .string .renyuean div:nth-child(1),
			.cente_ul ul .string .renyuean2 div:nth-child(1),
			.cente_ul ul .string .renyuean3 div:nth-child(1) {
				float: left;
				width: 45px;
			}

			.cente_ul ul .string .renyuean div:nth-child(2),
			.cente_ul ul .string .renyuean2 div:nth-child(2),
			.cente_ul ul .string .renyuean3 div:nth-child(2) {
				float: left;
				padding-left: 10px;
			}

			.cente_ul ul .string .renyuean div:nth-child(1) img,
			.cente_ul ul .string .renyuean2 div:nth-child(1) img,
			.cente_ul ul .string .renyuean3 div:nth-child(1) img{
				height: 45px;
			}

			.cente_ul ul .string .renyuean div:nth-child(1) i,
			.cente_ul ul .string .renyuean2 div:nth-child(1) i,
			.cente_ul ul .string .renyuean3 div:nth-child(1) i{
				font-weight: 600;
				display: block;
				width: 45px;
				text-align: center;
				font-size: 14px;
			}

			.cente_ul ul .string .renyuean div:nth-child(2) h5,
			.cente_ul ul .string .renyuean2 div:nth-child(2) h5,
			.cente_ul ul .string .renyuean3 div:nth-child(2) h5 {
				margin: 0;
				font-size: 16px;
				margin-bottom: 10px;
			}

			.cente_ul ul .string .renyuean div:nth-child(2) i,
			.cente_ul ul .string .renyuean2 div:nth-child(2) i,
			.cente_ul ul .string .renyuean3 div:nth-child(2) i {
				padding: 0 5px;
				font-size: 14px;
			}

			.none {
				display: block;
			}

			.navs {
				width: 90%;
				margin: 0 auto;
				padding: 10px;
			}

			.navs li {
				float: left;
			}

			.navs .is {
				display: block;
				width: 90px;
				height: 38px;
				text-align: center;
				line-height: 40px;
				font-size: 14px;
				color: black;
				z-index: 100;
			}

			.navs a:hover {
				color: #fff !important;
				background: url(__INDEX__/img/navBg.png);
				background-size: 100%;
				/*background-color: #ff5454;*/
			}

			.actives {
				color: #fff !important;
				background: url(__INDEX__/img/navBg.png);
				background-size: 100%;
				/*background-color: #ff5454;*/
			}

			.string .wu {
				display: flex;
				padding-top: 100px;
				justify-content: center;
			}

			.string .wu img {
				width: 300px;
				height: 300px;
			}

			.string .wu p {
				height: 300px;
				line-height: 300px;
				font-size: 28px;
				font-weight: bold;
				color: gray;
				text-align: center;
			}

			/*项目详情*/
			.bottom.relative .string>h3,.bottom.relative .string>div{
				display: none;
			}
			.bottom.relative .string.string1>h3,
			.bottom.relative .string.string1>.renyuean,
			.bottom.relative .string.string2>h3,
			.bottom.relative .string.string2>.renyuean,
			.bottom.relative .string.string2>.renyuean2,
			.bottom.relative .string.string3>h3,
			.bottom.relative .string.string3>.renyuean,
			.bottom.relative .string.string3>.renyuean2,
			.bottom.relative .string.string3>.renyuean3{
				display: block;
			}
			.bottom.relative .string>div{
				position: relative;
			}
			.kai,.yanshou{
				display: block;
				position: absolute;
				right: 10px;
				bottom: 10px;
				background-color: #0082E6;
				color: white;
				padding: 10px 10px !important;
				border-radius: 5px;
			}
			.strings{}
			.li_ones{}
		.li_one .top:hover{
			background-color: rgba(0,0,0,.1);
		}
		.li_one .liBackground{
			background-color: rgba(0,0,0,.1);
		}
		.li_ones .top{
			background-color: rgba(0,0,0,.1);
		}
