 @font-face {
                font-family: "微软雅黑";
            }

            input:not([type]),
            input[type="email" i],
            input[type="number" i],
            input[type="password" i],
            input[type="tel" i],
            input[type="url" i],
            input[type="text" i] {
                padding: 1px 0px;
            }


            user agent stylesheet input {
                -webkit-appearance: textfield;
                background-color: white;
                -webkit-rtl-ordering: logical;
                cursor: auto;
                padding: 1px;
                border-width: 2px;
                border-style: inset;
                border-color: initial;
                border-image: initial;
            }

            user agent stylesheet input,
            textarea,
            select,
            button {
                text-rendering: auto;
                color: initial;
                letter-spacing: normal;
                word-spacing: normal;
                text-transform: none;
                text-indent: 0px;
                text-shadow: none;
                display: inline-block;
                text-align: start;
                margin: 0em;
                font: 400 13.3333px Arial;
            }

            user agent stylesheet input,
            textarea,
            select,
            button,
            meter,
            progress {
                -webkit-writing-mode: horizontal-tb;
            }

            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
                -webkit-appearance: none !important;
                margin: 0;
                text-align: right;
                text-indent: 2em;
            }

            body,
            div,
            span,
            p,
            a,
            img,
            input,
            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            button,
            ul,
            li,
            iframe {
                margin: 0;
                padding: 0;
            }

            body {
                -moz-user-select: none;
                /*firefox私有属性*/
                -webkit-user-select: none;
                /*webkit内核私有属性*/
                -ms-user-select: none;
                /*ie 私有属性*/
                -khtml-user-select: none;
                /*khtml 内核私有属性*/
                -o-user-select: none;
                /*Opera 私有属性*/
                user-select: none;
                /*css3 属性*/
            }

            a {
                display: block;
                text-decoration: none;
                color: #737373;
            }

            img {
                display: block;
            }
            
			.container {
				width: 100%;
				background-color: #F2F2F2;
			}
			/*one*/

			.container .current {
				margin-bottom: 20px;
				background-color: white;
				padding: 20px 0;
			}

			.center {
				width: 1200px;
				margin: 0 auto;
				overflow: hidden;
			}

			

			.left {
				box-shadow: 0 4px 12px 0 rgba(28, 57, 81, 0.16);
				border: none;
			}

			.left:hover {
				box-shadow: 0 8px 20px 0 rgba(28, 57, 81, 0.24);
			}
			.center .right {
                position: relative;
                width: 565px;
                color: #333;
                float: right;
            }

            .right {
                margin-top: 20px;
                width: 600px;
                overflow: hidden;
            }
            /*two*/
           .submenu {
                width: 1200px;
                border-bottom: 1px solid #0368BD;
                overflow: hidden;
                height: 40px;
                background-color: white;
            }

            .submenu2 {
                position: fixed;
                top: 0;
                left: 50%;
                margin-left: -600px;
            }

            .submenu a {
                float: left;
                width: 120px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                color: black;
                font-size: 16px;

            }

            .submenu .active {
                background-color: #0368BD;
                color: white;
            }
            

           #column h3 {
				width: 100%;
				text-align: center;
				padding: 65px 0;
				font-size: 26px;
			}
			#column img {
				width: 100%;
				/*margin: 40px auto 30px;*/
			}
			  li {
                list-style: none;
            }
             .all {
               border: 1px solid #ccc;
                position: relative;
            }

            .screen {
                overflow: hidden;
                position: relative;
            }

            .screen li {
                overflow: hidden;
                float: left;
            }

           
            .screen ul {
				position: absolute;
				left: 0;
				top: 0px;
				width: 3000px;
			}

			.all ol {
				position: absolute;
				right: 10px;
				bottom: 10px;
				line-height: 20px;
				text-align: center;
			}

			.all ol li {
				float: left;
				width: 20px;
				height: 20px;
				background: #fff;
				border: 1px solid #ccc;
				margin-left: 10px;
				cursor: pointer;
			}

			.all ol li.current {
				background: yellow;
			}

			#arr {
				display: none;
			}
			#arr span {
				width: 60px;
				height: 60px;
				position: absolute;
				left: 5px;
				top: 50%;
				margin-top: -20px;
				background: #000;
				cursor: pointer;
				line-height: 60px;
				text-align: center;
				font-weight: bold;
				font-family: '黑体';
				font-size: 50px;
				color: #fff;
				opacity: 0.3;
				border: 1px solid #fff;
			}

			#arr #right {
				right: 5px;
				left: auto;
			}

			.screen ol {
				opacity: 0;
			}
			/**/

			.right {
				position: relative;
			}

			.right h4 {
				width: 400px;
				font-size: 32px;
				height: 70px;
				line-height: 70px;
				word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
			}
			.right .money {
                width: 100%;
                height: 80px;
                overflow: hidden;
                margin: 20px 0;
            }

            .right .money span {
                float: left;
                color: #e51515;

            }

            .right .money span:nth-child(1) {
                font-size: 18px;
                margin-top: 30px;
            }

            .right .money span:nth-child(2) {
                font-size: 48px;
            }

            .text {
                background-color: #f3f3f3;
            }

            .text div {
                width: 100%;
                overflow: hidden;
            }

            .text div p {
                float: left;
                margin: 10px 0;
            }

            .text div p:nth-child(1) {
                width: 20%;
                line-height: 25px;
                font-weight: 600;
                font-size: 20px;
                margin-left: 3%;
            }

            .text div p:nth-child(2) {
                width: 73%;
                line-height: 25px;
                font-size: 16px;
                font-weight: 500;
                margin-left: 2%;
            }
           .text div p:nth-child(2) {
				word-break: break-all;
				display: -webkit-box;
				-webkit-line-clamp: 1;
				-webkit-box-orient: vertical;
				overflow: hidden;
			}
			.text div:nth-child(1) p:nth-child(2) {
				word-break: break-all;
				display: -webkit-box;
				-webkit-line-clamp: 9;
				-webkit-box-orient: vertical;
				overflow: hidden;
			}
.submit{
	
	width: 100%;
height: 60px;
margin: 20px 0px;
overflow: hidden;

}
.submit p{
	float: left;
	width: 40%;
	
	background-color: #0368bd;
                height: 50px;
                line-height: 50px;
                border-radius: 5px;
                text-align: center;
                  color: white;
                font-size: 18px;
}
.submit .gou{
	margin-left: 17.5%;
	width: 25%;
}
            .submits {
               
            }

            .code {
                width: 100px;
                position: absolute;
                top: 20px;
                right: 30px;
            }

            .code img {
                width: 100px;
            }

            .code a{
            	display: block;
                width: 100px;
                background-color: #0368bd;
                height: 35px;
                line-height: 35px;
                border-radius: 5px;
                text-align: center;
                margin-top: 10px;
                color: white;
                font-size: 16px;
            }
            /*轮播弹出*/

            .phone,
            .forms {
                width: 100vw;
                height: 100vh;
                background-color: rgba(0, 0, 0, 0.9);
                position: fixed;
                top: 0;
                left: 0;
                z-index: 500;
                display: none;
            }
            /*表单*/

            .forms form::-webkit-scrollbar {
                display: none;

            }

            .forms form {
                height: 80vh;
                width: 1000px;
                background-color: white;
                padding: 10px;
                overflow: auto;
                position: fixed;
                top: 50%;
                left: 50%;
                margin-left: -500px;
                margin-top: -40vh;
                border-radius:10px ;
            }

            .forms form ul li:nth-child(1) {
                width: 900px;
                position: fixed;
                top: 10vh;
                right: 50%;
                margin-right: -450px;
                background-color: white;
            }

            /*.forms form ul li:nth-child(1) p {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                background-color: white;
                position: fixed;
                top: 8vh;
            }*/

            .forms form ul {
                width: 80%;
                margin: 0 auto;
            }

            .forms form ul li {
                width: 100%;
                overflow: auto;
                margin-bottom: 20px;
                padding: 10px 0;
            }
            .forms form ul li .item-input span{
                display: block;
            }
            .forms form ul .item-li:nth-child(1) {
				font-size: 22px;
				line-height: 80px;
				height: 80px;
				
			}

			.forms form ul .item-li:nth-child(1) h3 {
				float: left;
			}

			.forms form ul .item-li:nth-child(1) p {
				position: absolute;
				top: 20px;
				right: 5px !important;

			}

            .forms form ul .item-li div {
                float: left;
            }

            .item-li div.item-name {
                width: 20%;
                text-align: right;
                line-height: 60px;
                font-size: 18px;
            }

            .item-li div.item-input {
                width: 70%;
                margin-left: 5%;
            }

            .item-li div.item-input input {
                width: 500px;
                height: 60px;
                line-height: 60px;
                font-size: 16px;
                padding: 0 5px;
                border-color: #f5f5f5;
                border: 2px solid #f5f5f5;
            }

            .item-li div.item-input textarea {
                width: 500px;
                height: 120px;
                line-height: 60px;
                font-size: 16px;
                padding: 0 5px;
                border: 2px solid #f5f5f5;
            }

            .item-li div.item-input span {
                line-height: 25px;
                font-size: 14px;
            }

            .item-input input:hover {
                border: 2px solid #CCCCCC;
            }

            .item-li .item-input .btn {
                height: 50px;
                text-align: center;
                line-height: 50px;
                background-color: #0368bd;
                border-radius: 10px;
                color: white;
                border: none;
                margin-left: 30%;
                font-size: 18px;
            }

            .beijin {
                width: 100vw;
                height: 100vh;
                background-color: rgba(0, 0, 0, 0.5);
                position: fixed;
                top: 0;
                left: 0;
                z-index: 200;
                display: none;
            }

            .good {
                margin: 30vh auto;
                padding: 50px;
                width: 400px;
                background-color: white;
                border-radius: 10px;
            }

            .good h5,
            .good p {
                width: 100%;
                text-align: center;
            }

            .good h5 {
                font-size: 16px;
                margin: 0;
                margin-bottom: 20px;
            }

            .good p {
                font-size: 15px;
                font-weight: 600;
            }

            .qud {
                border: 1px solid red;
                color: red;
                border-radius: 10px;
                padding: 10px 0;
                margin-top: 20px;

            }

            #column img{
                width:100%;
            }
            #nav2 {
    margin-bottom: 40px;
}

.code p {
    width: 100px;
    background-color: #0368bd;
    height: 35px;
    line-height: 35px;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
    color: white;
    font-size: 16px;
}
   h3{
	width: 100%;
	text-align: center;
}



/*sfvs,zfk*/
.header {
    width: 100%;
    min-width: 1200px;
    height: 100px;
    background: #fff;
    border-bottom: 20px  solid #F2F2F2;
}.container {
    margin: 0 auto;
    width: 1200px;
    display: block;
}
.fl {
    display: block;
    float: left;
}

.logo {
    margin-top: 15px;
    width: 156px;
    height: 59px;
    display: block;
}

h1, .h1 {
    font-size: 36px;
}
.logo a {
    width: 100%;
    height: 100%;
    display: block;
    text-indent: -9999px;
    background: url(../img/logos.png) no-repeat center center;
}
.fr {
    display: block;
    float: right;
}

.nav {
    overflow: hidden;
    text-align: center;
}
.fr {
    display: block;
    float: right;
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav ul {
    margin: 0;
    overflow: hidden;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
}
ol, ul {
    list-style: none;
}

.nav li {
    margin: 0 25px;

    display: inline;
}
.nav li a {
    color: #333;
     width: 80px;
     text-align: center;
    font-size: 18px;
}

.nav li a {
    margin-top: 30px;
    padding-bottom: 20px;
    display: inline-block;
}
.nav li.on a {
    border-bottom: 4px solid #0368bd;
}
.footer_bg{width:100%;background:#1e2831;}

.footer_auto{
	padding:30px 60px;
	width:1080px;
	margin:0 auto;
	background: #1e2831;
}
.footer_auto .contactUs{
	float: left;
	width: 414px;
}
.footer_auto .contactUs img{
	float: left;
}
.footer_auto .contactUs span{
	display: block;
	margin-top: 15px;
	color: #fff;
	font-size:14px;
}
.footer_auto .listText{
	float: left;
	width: 126px;
}
.footer_auto .listText a{
	display: block;
	padding-bottom: 24px;
	color: #fff;
	font-size:15px;
}
.footer_auto .codeBox{
	float: left;
	margin-left: 100px;
}
.footer_auto .codeBox div:nth-child(1){
	margin-right: 58px;
}
.footer_auto .codeText{
	float: left;
	width: 117px;

}
.footer_auto .codeText span{
	display: block;
	margin-top: 12px;
	font-size: 14px;
	color: #fff;
	text-align: center;
}
.footer{
	width: 100%;
	background-color: #1e2831;
	height: 60px;
	z-index: 100;

}
.footer .center{
	width: 75%;
	margin: 0  auto;
}
.footer .center p{
	width: 100%;
	text-align: center;
	line-height: 60px;
	color: #fff;
	font-size: 14px;
}

#phone_height{}
	

       
           
           
#tables,
			#table {
				width: 100%;
				border-collapse: collapse;
				border: 1px solid black;
				
			}
			
			#tables>tr,
			#table>tr {
				width: 100%;
				border: 1px solid black;
			}
			
			#tables>tr>td {
				width: 25%;
				box-sizing: border-box;
				border: 1px solid black;
				height: 50px;
			}
			
			/*#table>tr>td {
				width: 25%;
				box-sizing: border-box;
				border: 1px solid black;
				height: 30px;
			}*/
			
			#tables tr td p {
				width: 100%;
				text-align: center;
				padding: 30px 0;
				font-size: 22px;	
				line-height: 25px;			
			}
			
			#table tr td p {
				width: 100%;
				text-align: center;
				line-height: 30px;
				font-size: 20px;
				padding: 20px 10px;
				box-sizing: border-box;
			}
			
			#tables tr:nth-child(1) {
				background-color: #CCCCCC;
			}
			
			#tables tr:nth-child(2) td p,
			#tables tr:nth-child(3) td p,
			#tables tr:nth-child(4) td p,
			#tables tr:nth-child(5) td p {
				font-size: 22px;
			}
			
			.column h3 {
				width: 100%;
				text-align: center;
				font-size: 30px;
				padding: 10px 0px;
			}
			
			#table tr td {
				width: 20% !important;
			}
			
			#table tr td.texts {
				width: 40% !important;
			}
			
			#bl td p {
				font-weight: bold;
			}
			

           

            #tables tr td p {
                width: 100%;
                text-align: center;
                padding: 30px 0;
                font-size: 20px;
            }
            #tables tr:nth-child(1){
                background-color: #CCCCCC;
            }
           /* #tables tr:nth-child(2) td p,#tables tr:nth-child(3) td p,#tables tr:nth-child(4) td p,#tables tr:nth-child(5) td p{
                font-size: 22px;
            }*/
           
.gous{
	 width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
}
.gou_bth,.gou_er{
	 position: fixed;
    top: 50%;
    left: 50%;
    
	width: 420px;
	height: 300px;
	background-color: white;
	border-radius:10px ;
	overflow: hidden;
	margin-left: -210px;
	margin-top: -150px;
	z-index: 11;
	display: none;
}
.gou_er{
	width: 380px;
	height: 400px;
	margin-left: -190px;
	margin-top: -200px;
}



.gou_bth .radio .lable{
	width: 20px;
	height: 20px;
	border:1px solid  #003300 ;
	border-radius:50% ;
	overflow: hidden;
	margin-right: 10px;
}
.gou_bth .radios .lable{	
	/*border:none ;*/
	background-image: url(../img/ping.png);
	 -moz-background-size:100% 100%;
			   background-size:100% 100%;
	
	
}
.gou_bth h5,.gou_bth p,.gou_er h5{
	padding: 10px 20px;
	text-align: center;
	font-size: 16px;
}
.gou_bth .no,.gou_er .no{
	padding: 10px  20px;
	height: 50px;
	width: 100%;
	box-sizing: border-box;
}
.gou_bth .no span.h5,.gou_er .no span.h5{
	
	width: 180px ;
	float: left;
	margin-left: 100px;
	text-align: center;
	font-size: 26px;
	font-weight: bold;
}
.gou_bth .money,.gou_er .money{
	padding: 10px  20px;	
	width: 100%;
	text-align: center;
	line-height: 30px;
	font-size: 16px;
	font-weight: bold;
	color: #e51515;
	box-sizing: border-box;
}
.gou_bth  .money strong,.gou_er  .money strong{
	font-size: 26px;
}


.gou_bth .no .nos,.gou_er .no .nos{
	float: right;
	width: 30px;
	height: 30px;
	background-image: url(../img/icon/ca.png);
	-moz-background-size:100% 100%;
			   background-size:100% 100%;
}
.gou_bth h5{
	font-size: 20px;
	font-weight: bold;
}
.gou_bth .radio{
	padding: 10px 20px;
	width: 100%;
	box-sizing: border-box;
	display: flex;
	justify-content: space-around;
}
.gou_bth .radio>div{
	width: 30%;	
	height: 30px;
	line-height: 30px;
	text-align: center;
	box-sizing: border-box;
	background-color: white;
	border: 1px  dashed gray ;
	color: black;
	border-radius: 5px;	
	overflow: hidden;
	position: relative;
}
.gou_bth .radio>div input{
	position: absolute;top: -7px;
	left: -7px;
	z-index: 25;
	width: 100%;
	height: 30px;
	padding: 5px 10px;
	
	line-height: 30px;
	background-color: #afaeac;
	color:white ;	
	opacity: 0;
}
.gou_bth .radio>div span{		
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: center; 
	z-index: 20;
}
.gou_bth .radio>div.on{
	background-color: #afaeac;
	border: 1px solid #afaeac;
	color:white ;
	/*border: 1px  dashed #00FF00 ;*/
	border-radius: 5px;		
}
.gou_bth .radio>div.on input{
	opacity: 1;
}
 .gou_bth .radio input::-webkit-input-placeholder{   
 /* WebKit browsers */   
color:white ; 
}   
.gou_bth .radio input:-moz-placeholder {   
/* Mozilla Firefox 4 to 18 */   
color:white ;   
}   
 .gou_bth .radio input::-moz-placeholder {   
 /* Mozilla Firefox 19+ */   
color:white ;  
}   
 .gou_bth .radio input:-ms-input-placeholder{   
 /* Internet Explorer 10+ */   
color:white ;  
}

.gou_bth p.qud{
	width: 200px;
	height: 40px;
	line-height: 40px;
	background-color: #0368bd;
	border: none;
	color: white;
	margin: 10px  auto;
	padding: 0px;
}
.gou_er .img{
	width: 100%;
	padding: 5px  20px;
	box-sizing: border-box;
}
.gou_er .img img{
	width: 200px;
	margin: 0px  auto;
}
.gou_er .img p{
	text-align: center;
}

.tis{
	 position: fixed;
    top: 50%;
    left: 50%;    
	width: 320px;
	height: 100px;
	padding: 25px 0px;
	background-color: white;
	border-radius:10px ;
	overflow: hidden;
	margin-left: -160px;
	margin-top: -75px;
	z-index: 11;
	display: none;
}
.tis p{
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
}
.disabled{
	  pointer-events: none;
    cursor: default;
}
