<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>首页</title>
		<link rel="stylesheet" type="text/css" href="__INDEX__/css/header.css" />
		<link rel="stylesheet" href="__INDEX__/css/restre.css">
		<link rel="stylesheet" type="text/css" href="__INDEX__/css/order.css" />
		<script type="text/javascript" src="__INDEX__/js/jss/jquery-1.9.1.min.js"></script>

		<style type="text/css">
			.login_background{
				 width: 100%;
    			min-width: 1080px;
    			height:100vh;
    			min-height: 800px;
    			position: fixed;
    			top: 0;
    			left: 0;
    			z-index: 50;
    			background-color: rgba(0,0,0,.3);  display: none;
			}
		.queren {
		    display: block;
		    position: absolute;
		    right: 10px;
		    bottom: 10px;
		    background-color: #0082E6;
		    color: white;
		    padding: 10px 10px !important;
		    border-radius: 5px;
		}
		.h5bth{
			position: absolute;
			top: 10px;
			right: 10px;
			padding: 5px 10px;
			background-color: #0082E6;
			color: white;
		}
		.good {
   position: fixed;
   top: 50%;
   left: 50%;
   z-index: 600;
   margin-left: -230px;
   margin-top: -150px;
    padding: 30px;
    width: 400px;
    background-color: white;
    border-radius: 10px;
    display: none;
    
}
.good h5 {
    font-size: 18px;
    margin: 0;
    margin-bottom: 20px;
}

.good h5, .good .pinglun {
    width: 100%;
    text-align: center;
}
.pinglun{
				
				display: flex;
				margin: 10px 0px;
			}
			.pinglun label{
				font-size: 16px;
				width: 100px;
			}
			.ct-star {
        display: inline-block;
        margin: 0 1px;
        width: 25px;
        height: 25px;
        background: url(__INDEX__/img/xing1.png);
        -moz-background-size:100% 100%;
			   background-size:100% 100%;
			 
        vertical-align: -2px;
        cursor: pointer;
    }
    .ct-stars{
    	 background: url(__INDEX__/img/xin.png);
        -moz-background-size:100% 100%;
			   background-size:100% 100%;
    }
   .pinglun textarea{
   	width: 250px;
   	padding: 5px;
   	line-height: 25px;
   }
.pinglunp{
    border: 1px solid red;
    color: red;
    border-radius: 10px;
    padding: 10px 0;
    margin-top: 20px;
    text-align: center;
}
		</style>
	</head>
	<script>
		(function(b, a, e, h, f, c, g, s) {
			b[h] = b[h] || function() {
				(b[h].c = b[h].c || []).push(arguments)
			};
			b[h].s = !!c;
			g = a.getElementsByTagName(e)[0];
			s = a.createElement(e);
			s.src = "//s.union.360.cn/" + f + ".js";
			s.defer = !0;
			s.async = !0;
			g.parentNode.insertBefore(s, g)
		})(window, document, "script", "_qha", 224241, false);
	</script>

	<body>
		<div style="width:100%;box-shadow:0 2px 4px 0 rgba(58,68,85,0.16);position:relative;z-index:9;background-color: rgba(0,0,0,0.1);">
			<div class="head">
				<div class="logo">
					<a href="###"></a>
				</div>
				<ul class="navs">
					<li>
						<a href="{:url('index/one')}" class="is">首页</a>
					</li>
					<li>
						<a href="{:url('demand/index')}" class="is">需求</a>
					</li>
					<li>
						<a href="{:url('cases/index')}" class="is ">案例</a>
					</li>
					<li>
						<a href="###" class="is actives">人才</a>
					</li>
				</ul>
				<div style="clear:both"></div>
			</div>
		</div>
		
		
		
		<div class="content" style="padding: 0;">
			<div class="center">
				<div class="center_left"> 
					<a href="{:url('user/resume')}">个人主页</a>
					<a href="{:url('user/index')}">基本信息</a>
					<a href="{:url('user/order')}" class="active"><em></em>我的订单</a>

					<a href="javascript:if(confirm('确实要删除该内容吗?')){location='{:url("login/exit")}'}">退出登录</a>
				</div>
				<div class="center_cen">
					<div class="cente-head ">
						<p class="p2 on"><span>我发布的需求(</span><span id="num_1"></span>)</p>
						<p class="p2"><span>我申请的任务(</span><span id="num_2">0</span>)</p>
						 <p class="p2"><span>我雇佣的(</span><span id="num_3">0</span>)</p>
						<p class="p2"><span>雇佣我的(</span><span id="num_4"></span>)</p>
					</div>
					<div class="cente_b">
						<div class="cente_ul">
							<ul class="ul1">
								{volist name="demand" id="vo"}
								<li class="li_one">
									<div class="top relative">
										<div class="top_left">
											<img src="__INDEX__/img/bai.png" />
										</div>
										<div class="top_center">
											<p><span>[需求名称]  </span><span>{$vo.name}</span></p>
											<p><span>郑州  </span><span>发布时间    </span><span>{$vo.create_time|date="Y-m-d H:i",###}</span></p>
										</div>
										<div class="top_right">
											<span>{if condition="$vo.schedule == 1"}招募中{elseif condition="$vo.schedule == 2"/}对接中{elseif condition="$vo.schedule == 3"/}执行中{elseif condition="$vo.schedule == 4"/}已完成{/if}</span>
										</div>
									</div>
									<div {if condition="$vo.apply_id"} class="bottom relative str" {else/} class="bottom relative" {/if}>
										<div class="demanddel-type">
											<p class="demanddel-t" style="font-size: 1.2em;color: #797979;">项目预算</p>
											<p style="font-size: 24px;color: #ec1313;">{$vo.money}元 </p>
											<div class="demanddel-num">
												<p class="apply1"><span>已申请</span> <span>0人</span></p>
												<p class="apply2"><span>已浏览</span> <span>0人</span></p>
											</div>
										</div>
										<p><span>所属行业</span>
											<span>
											{volist name="demandtrade" id="dtr"}
											{if condition="$dtr.id == $vo.industry"}{$dtr.name}{/if}
											{/volist}
										</span>
										</p>
										<p><span>所属类型</span>
											<span>
											{volist name="demandtype" id="dty"}
											{if condition="$dty.id == $vo.type"}{$dty.name}{/if}
											{/volist}
										</span></p>
										<p><span>开发周期</span>
											<span>
										{if condition="$vo.period == 1"}少于1周{elseif condition="$vo.period == 2"/}少于1个月{elseif condition="$vo.period == 3"/}1-3个月{elseif condition="$vo.period == 4"/}3-6个月{elseif condition="$vo.period == 5"/}超过6个月{/if}
										</span></p>
										<p><span>紧急程度</span><span>
											{if condition="$vo.urgency eq 1"}
											不紧急
											{elseif condition="$vo.urgency eq 2" /}
											一般
											{elseif condition="$vo.urgency eq 3" /}
											比较紧急
											{else /}
											非常紧急
											{/if}
										</span></p>
										<p><span>需求描述</span><span>{$vo.info}</span></p>
										<p style="margin-top: 30px;width: auto;"><span>接单方</span>
											<div class="participations pt{$vo.id}" data-id="{$vo.id}">

												{volist name="$vo.apply" id="ap"}
												<div {if condition="$ap.status eq 1"} class="participation participation_f1 participation1" {else/} class="participation participation_f1"{/if} data-id="{$ap.user_id},{$ap.demand_id}">
													<a href="#">接单方</a>
													<img src="__INDEX__/img/avatar/2.jpg"/>
													<a href="#" onclick="window.open('{:url("user/resumes",["id"=>$ap.user_id])}')" >{$ap.user_name}</a>
													<i class=" "> <img src="__INDEX__/img/icon/dui.png"/></i>
												</div>
												{/volist}
									</div>
										</p>
										<div {if condition="$vo.apply_id.xstatus eq 1"} class="bottom_bottom blue1" {elseif condition="$vo.apply_id.xstatus eq 2" /} class="bottom_bottom blue2" {else/} class="bottom_bottom blue0" {/if} style="border-top: 1px dotted #d3d0d0;border-bottom: 1px dotted #d3d0d0;">
											<p>
												<span class="sptext">发布需求</span>
												<span class="spbackground"></span>
											</p>
											<p>
												<span class="sptext">选择开发者</span>
												<span class="spbackground"></span>
											</p>
											<p>
												<span class="sptext">确认完工</span>
												<span class="spbackground"></span>
											</p>
											<!-- <p>
												<span>评价</span>
												<span class="spbackground"></span>
											</p> -->
										</div>
										{if condition="$vo.apply"}
										<div class="string string3" >
												<h3 >进展详情</h3>
												{if condition="!$vo.apply_id"}
													<div class="renyuean">
														<div class="">
															<img src="__INDEX__/img/bai.png" />
															<i>{$vo.apply_id.user_name}</i>
														</div>
														<div class="">
															<h5 class="blues" style="color: #0082E6; ">您选择的项目开发人员   <i></i></h5>
															<i style="border-left: 2px solid gray; color: gray;">
															<i>确认选择此开发者吗?</i></i><i class="kai">确认选择</i>
														</div>
													</div>
												{elseif condition="$vo.apply_id.sstatus == 0"/}
													<div class="renyuean2">
														<div class="">
															<img src="__INDEX__/img/avatar/2.jpg" />
															<i>{$vo.apply_id.user_name}</i>
														</div>
														<div class="">
															<h5 class="blues" style="color: #0082E6; "> 等待开发者确认 <i></i></h5>
														</div>
													</div>
												{elseif condition="$vo.apply_id.sstatus == 1"/}
													<div class="renyuean2">
														<div class="">
															<img src="__INDEX__/img/avatar/2.jpg" />
															<i>{$vo.apply_id.user_name}</i>
														</div>
														<div class="">
															<h5 class="blues" style="color: #0082E6; "> 已开工 <i></i></h5>
															<i style="border-left: 2px solid gray; color: gray;"><i >完成时间：</i><i class="timess">{if condition="$vo.period == 1"}少于1周{elseif condition="$vo.period == 2"/}少于1个月{elseif condition="$vo.period == 3"/}1-3个月{elseif condition="$vo.period == 4"/}3-6个月{elseif condition="$vo.period == 5"/}超过6个月{/if}</i></i>
														</div>
													</div>
												{elseif condition="$vo.apply_id.sstatus == 2"/}
													{if condition="$vo.apply_id.xstatus == 2"}
													<div class="renyuean3">
														<div class="">
															<img src="__INDEX__/img/avatar/2.jpg" />
															<i>{$vo.apply_id.user_name}</i>
														</div>
														<div class="">
															<h5 class="blues">已确认完工<i></i></h5>
															<p class="h5bth">评价 </p>
															<div class="good">
				<h5>评论</h5>
				<div class="pinglun">
			<label>评论星级</label>
			<span class="star">
        <b class="ct-star  "></b>
        <b class="ct-star  "></b>
        <b class="ct-star  "></b>
        <b class="ct-star  "></b>
        <b class="ct-star  "></b>
		</span>
		<span class="star-txt"></span>
		</div>
		<div class="pinglun">
			<label>评论内容</label>
			<textarea name="" rows="2" cols="" maxlength="50" placeholder="限定50字以内"></textarea>
		</div>
		<div class="pinglunp">
			
			确定
		</div>
			</div>
														</div>
													</div>
													{else/}
													<div class="renyuean3">
														<div class="">
															<img src="__INDEX__/img/avatar/2.jpg" />
															<i>{$vo.apply_id.user_name}</i>
														</div>
														<div class="">
															<h5 class="blues">已完工  <i></i></h5>
															<i style="border-left: 2px solid gray;color: gray;"><is>请验收：</i>
															<i class="tong" style="padding: 3px 5px;border: 1px solid gainsboro;background-color: #0190FE; border-radius:5px ;color: white;" data-id="{$vo.id}">同意</i></i>
														</div>
													</div>
													{/if}
												{/if}
										</div>
										{/if}
									</div>
								</li>
								{/volist}
								<div class="string">
									<div class="wu">
										<img src="__INDEX__/img/521511013441599704.png" />
										<p>没有记录</p>
									</div>
									<p style="font-size: 14px;"></p>
								</div>
							</ul>
							<ul class="ul2">
								{volist name="sdemand" id="vos"}
								<li class="li_one">
									<div {if condition="$vos.is_apply_id eq 2"} class="top relative liBackground" {else/} class="top relative" {/if} >
										<div class="top_left">
											<img src="__INDEX__/img/bai.png" />
										</div>
										<div class="top_center">
											<p><span>[需求名称]  </span><span>{$vos.name}</span></p>
											<p><span>郑州  </span><span>发布时间    </span><span>{$vos.create_time|date="Y-m-d H:i",###}</span></p>
										</div>
										<div class="top_right">
											<span>
											{if condition="$vos.is_apply_id eq 2"} 申请开发失败 {else/}
												{if condition="$vos.schedule == 1"}招募中{elseif condition="$vos.schedule == 2"/}对接中{elseif condition="$vos.schedule == 3"/}执行中{elseif condition="$vos.schedule == 4"/}已完成{/if}
											{/if}
											</span>
										</div>
									</div>
									<div class="bottom relative">
										<div class="demanddel-type">
											<p class="demanddel-t" style="font-size: 1.2em;color: #797979;">项目预算</p>
											<p style="font-size: 24px;color: #ec1313;">{$vos.money}元 </p>
											<div class="demanddel-num">
												<p class="apply1"><span>已申请</span> <span>{$vos.apply}人</span></p>
												<p class="apply2"><span>已浏览</span> <span>{$vos.browse}人</span></p>
											</div>
										</div>
										<p><span>所属行业</span>
											<span>
											{volist name="demandtrade" id="dtr"}
											{if condition="$dtr.id == $vos.industry"}{$dtr.name}{/if}
											{/volist}
										</span>
										</p>
										<p><span>所属类型</span>
											<span>
											{volist name="demandtype" id="dty"}
											{if condition="$dty.id == $vos.type"}{$dty.name}{/if}
											{/volist}
										</span></p>
										<p><span>开发周期</span>
											<span>
										{if condition="$vos.period == 1"}少于1周{elseif condition="$vos.period == 2"/}少于1个月{elseif condition="$vos.period == 3"/}1-3个月{elseif condition="$vos.period == 4"/}3-6个月{elseif condition="$vos.period == 5"/}超过6个月{/if}
										</span></p>
										<p><span>紧急程度</span><span>
											{if condition="$vos.urgency eq 1"}
											不紧急
											{elseif condition="$vos.urgency eq 2" /}
											一般
											{elseif condition="$vos.urgency eq 3" /}
											比较紧急
											{else /}
											非常紧急
											{/if}
										</span></p>
										<p><span>需求描述</span><span>{$vos.info}</span></p>
										<p style="margin-top: 30px;width: auto;"><span>需求方</span>
											<div class="participations">
												<div class="participation participation_f">
													<a href="#">需求方</a>
													<img src="__INDEX__/img/bai.png"/>
													<a onclick="window.open('{:url("user/resumes",["id"=>$vos.user_id])}')">{$vos.username}</a>
													<i class=" "> <img src="__INDEX__/img/icon/dui.png"/></i>
												</div>
											</div>
										</p>
										<div {if condition="$vos.is_apply_id eq 2"} class="bottom_bottom blue0" {else/} {if condition="$vos.apply_id.sstatus eq 1"} class="bottom_bottom blue1" {elseif condition="$vos.apply_id.sstatus eq 2" /} class="bottom_bottom blue2" {else/} class="bottom_bottom blue0" {/if}{/if}
										 style="border-top: 1px dotted #d3d0d0;border-bottom: 1px dotted #d3d0d0;">
											<p class="blue">
												<span class="sptext">申请中</span>
												<span class="spbackground"></span>
											</p>
											<p>
												<span class="sptext">我被雇佣</span>
												<span class="spbackground"></span>
											</p>
											<p >
												<span class="sptext">我已完工</span>
												<span class="spbackground"></span>
											</p>
											<!-- <p>
												<span class="sptext">提成佣金</span>
												<span class="spbackground"></span>
											</p> -->
										</div>


								{if condition="$vos.is_apply_id eq 1"}
								<div class="string string3">
										<h3 style="display: none;">进展详情</h3>
										{if condition="$vos.apply_id.xstatus == 1"/}
											{if condition="$vos.apply_id.sstatus == 0"/}
											<div class="renyuean">
												<div class="">
													<img src="__INDEX__/img/avatar/2.jpg" />
													<i>{$vos.username}</i>
												</div>
												<div class="">
													<h5 class="blues" style="color: #0082E6; ">硅谷 雇佣了你</h5>
													<i style="border-left: 2px solid gray; color: gray;">
													<i  >硅谷</i><i>13613820359</i></i><i class="queren " data-id="{$vos.id}"> 是否开工：确认</i>

												</div>
											</div>
											{elseif condition="$vos.apply_id.sstatus == 1"/}
											<div class="renyuean2">
												<div class="">
													<img src="__INDEX__/img/avatar/2.jpg" />
													<i>{$vos.username}</i>
												</div>
												<div class="">
													<h5 class="blues" style="color: #0082E6; "> 已开工 <i></i></h5>
													<i style="border-left: 2px solid gray; color: gray;"><i >完工时间：</i><i>{if condition="$vo.period == 1"}少于1周{elseif condition="$vo.period == 2"/}少于1个月{elseif condition="$vo.period == 3"/}1-3个月{elseif condition="$vo.period == 4"/}3-6个月{elseif condition="$vo.period == 5"/}超过6个月{/if}</i></i>
												<i class="yanshou"  data-id="{$vos.id}">请验收</i>
												</div>
											</div>
											{/if}
										{elseif condition="$vos.apply_id.xstatus == 2"/}
											<div class="renyuean3">
												<div class="">
													<img src="__INDEX__/img/bai.png" />
													<i>{$vos.username}</i>
												</div>
												<div class="">
													<h5 class="blues">需求方已验收 </h5>
													
												</div>
											</div>
										{/if}
								</div>
								{/if}
									</div>

								</li>
								{/volist}
								<div class="string">
									<div class="wu">
										<img src="__INDEX__/img/521511013441599704.png" />
										<p>没有记录</p>
									</div>
									<p style="font-size: 14px;"></p>
								</div>
							</ul>
							<ul class="ul3">
								<div class="string">
									<div class="wu">
										<img src="__INDEX__/img/521511013441599704.png" />
										<p>没有记录</p>
									</div>
									<p style="font-size: 14px;"></p>

								</div>
							</ul>
							<ul class="ul4">
								<div class="string">
									<div class="wu">
										<img src="__INDEX__/img/521511013441599704.png" />
										<p>没有记录</p>
									</div>
									<p style="font-size: 14px;"></p>
								</div>
							</ul>
						</div>

					</div>
				</div>
			</div>
		</div>
		<div class="footer" style="background-color: #1e2831; ">
			<div class="center">
				<p>2014-2017 汇谷电子科技有限公司 版权所有：ICP备12027515号-1</p>
			</div>
		</div>
					<style type="text/css">
			.beijin {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 700;
  display: none;
}
.goods {
    margin: 35vh auto;
    padding: 50px;
    width: 400px;
    background-color: white;
    border-radius: 10px;
}
.goods h5 {
    font-size: 16px;
    margin: 0;
    margin-bottom: 20px;
}

.goods h5, .goods p {
    width: 100%;
    text-align: center;
}
.goods p {
    font-size: 15px;
    font-weight: 600;
}

.goods h5, .goods p {
    width: 100%;
    text-align: center;
}
.qud {
    border: 1px solid red;
    color: red;
    border-radius: 10px;
    padding: 10px 0;
    margin-top: 20px;
}
		</style>
		<div class="beijin">
			<div class="goods">
				<h5>提示</h5>
				<p class="texts"></p>
				<p class="qud" id="qd">确定</p>
			</div>
		</div>
<div class="login_background" ></div>
		<script src="__INDEX__/js/order.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			taps(0);
$(".cente-head .p2").click(function() {
	var tt  = $(".cente-head .p2").index($(this));
	$(".cente-head .p2").removeClass("on");
	$(this).addClass("on");
	if(tt > 1) {
		tap = tt;
		window.location.href = "{:url('user/orders')}";
	} else {	
		$(".cente_ul").css("margin-left", "-" +(tt*100)+ "%");
	}
})
			/*ul1*/
			$(".ul1 .li_one .top").click(function() {
				var sr1 = $(this).parent();
				var st1 = $(this).next();
				var strs = sr1.nextAll();
				if(sr1.hasClass('li_ones')) {
					/*有 展开 删除 合并 */
					sr1.removeClass("li_ones");
					strs.css("display","block");
				} else {
					/*无 合并 添加 展开 */
					$(".ul1 .li_one").removeClass("li_ones");
					sr1.addClass("li_ones");
					strs.css("display","none");
				}
			})

			$(".ul2 .li_one .top").click(function() {
				var sr1 = $(this).parent();
				var st1 = $(this).next();
				var strs = sr1.nextAll();
				if(sr1.hasClass('li_ones')) {
					/*有 展开 删除 合并 */
					sr1.removeClass("li_ones");
					strs.css("display","block");
				} else {
					/*无 合并 添加 展开 */
					$(".ul2 .li_one").removeClass("li_ones");
					sr1.addClass("li_ones");
					strs.css("display","none");
				}
			})

			$(".kai").click(function() {
					// $(this).parent().parent().parent().removeClass("string1");
					// $(this).parent().parent().parent().addClass("string2");
					$(this).parent().parent().parent().parent().addClass("str");
					/*获取当前的 .li_one*/
					var prse = $(this).parent().parent().parent().parent().parent();

					var names = prse.parent().attr('class');
					/*获取当前的 .li_one 得下标*/
					var tt = $("."+names+" .li_one").index(prse);
					/*获取 选择的接单 的data-id*/
					var user_id = $("."+names+" .li_one:nth-child("+(tt+1)+") .str .participations .participation1").data('id');

					if (user_id==null) { $(".beijin").css("display", "block");$(".beijin .texts").text('请选择开发者');return false };
					var strs= new Array(); //定义一数组
					strs=user_id.split(","); //字符分割

						$.post("{:url('user/order_kai')}",{
							user_id:strs[0],
							demand_id:strs[1],
						},function(data){
							console.log(data);
							if (data.code==1) {
								$(".beijin").css("display", "block");$(".beijin .texts").text("提交成功");
								window.location.reload();
							}else{
								$(".beijin").css("display", "block");$(".beijin .texts").text("提交失败");
							}
						}, "json");
			})

			$(".queren").click(function() {
					/*申请方确认干活*/
					var demand_id = $(this).data('id');

						$.post("{:url('user/order_gan')}",{
							demand_id:demand_id
						},function(data){
							console.log(data);
							if (data.code==1) {
								$(".beijin").css("display", "block");$(".beijin .texts").text("提交成功");
								window.location.reload();
							}else{
								$(".beijin").css("display", "block");$(".beijin .texts").text("提交失败");
							}
						}, "json");
			})
			$(".yanshou").click(function(){
				var demand_id = $(this).data('id');

				$.post("{:url('user/order_wan')}",{
					demand_id:demand_id,
				},function(data){
					console.log(data);
					if (data.code==1) {
						$(".beijin").css("display", "block");$(".beijin .texts").text("提交成功");
						window.location.reload();
					}else{
						$(".beijin").css("display", "block");$(".beijin .texts").text("提交失败");
					}
				}, "json");
			})

			$(".renyuean2 .timess").click(function() {
				$(this).parent().parent().parent().parent().addClass("string3");
				$(this).parent().parent().parent().parent().removeClass("string2");

			})
			$(".tong").click(function() {
				var demand_id = $(this).data('id');

				$.post("{:url('user/order_que')}",{
					demand_id:demand_id,
				},function(data){
					console.log(data);
					if (data.code==1) {
						$(".beijin").css("display", "block");$(".beijin .texts").text("提交成功");
						window.location.reload();
					}else{
						$(".beijin").css("display", "block");$(".beijin .texts").text("提交失败");
					}
				}, "json");
			})
			$(".h5bth").click(function(){
				var next = $(this).next();
				$(this).next().css("display","block");
				$(this).next().addClass("you");
				$(".login_background").css("display","block");
				/*if(next.is('.good')){
					next.addClass("you");
					
				}*/
			})
			$(".login_background").click(function(){
				$(".login_background").css("display","none");
				$(".good").css("display","none");
			})
			
			 window.onload=function(){
        var aSpan=$(".good .pinglun .star");   
        var aBstar=$(".good .pinglun .star b");       
        var num=0;
        var onOff=true;for(var i= 0;i<aBstar.length;i++){
                aBstar[i].index=i;                         
                //鼠标点击
                aBstar[i].onclick=function(){
                    onOff=false;//开关为假就不执行鼠标移除的代码
                    //先清空                                    
                    for(var i=0;i<aBstar.length;i++){
                        /*aBstar[i].style.background =  "url(__INDEX__/img/xing1.png)"; aBstar[i].style.backgroundSize = "100% 100%";*/
                      aBstar[i].classList.remove("ct-stars");
                    }
                    //点击当前星星，之前的都点亮包含自己
                    num = this.index ;                 
                    for(var i=0;i<=this.index;i++){
                    	
                    	 aBstar[i].classList.add("ct-stars");
                       /* aBstar[i].style.background =  "url(__INDEX__/img/xin.png)"; aBstar[i].style.backgroundSize = "100% 100%";*/
                    }
                };
            }
    }
			 $(".good .pinglunp").click(function(){
			 	var len = $(".you .pinglun .star .ct-stars").length;
			 	var val = $(".you .pinglun textarea").val();
			 	if(len>0){
			 		if(val!=""){
			 			$(".good.you").removeClass("you");
						$(".login_background").css("display","none");
						$(".good").css("display","none");
			 		}else{
			 			$(".beijin").css("display", "block");$(".beijin .texts").text("未写评论");
			 			
			 		}
			 	}else {
			 		$(".beijin").css("display", "block");$(".beijin .texts").text("未选择星级");
			 	}
			 					 				
			})
$("#qd").click(function() {
				$(".beijin").css("display", "none");				
			})
$(".beijin").click(function() {$(".beijin").css("display", "none");				
			})
		</script>

	</body>

</html>