<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>IT联合办公</title>
		<link rel="stylesheet" type="text/css" href="__INDEX__/css/header.css" />
		<link rel="stylesheet" href="__INDEX__/css/restre.css">
		<link rel="stylesheet" type="text/css" href="__INDEX__/css/order.css" />
		<script type="text/javascript" src="__INDEX__/js/jss/jquery-1.9.1.min.js"></script>
		<style type="text/css">
		
		</style>
	</head>
	<script>
		(function(b, a, e, h, f, c, g, s) {
			b[h] = b[h] || function() {
				(b[h].c = b[h].c || []).push(arguments)
			};
			b[h].s = !!c;
			g = a.getElementsByTagName(e)[0];
			s = a.createElement(e);
			s.src = "//s.union.360.cn/" + f + ".js";
			s.defer = !0;
			s.async = !0;
			g.parentNode.insertBefore(s, g)
		})(window, document, "script", "_qha", 224241, false);
	</script>

	<body>
		<div style="width:100%;box-shadow:0 2px 4px 0 rgba(58,68,85,0.16);position:relative;z-index:99999;background-color: rgba(0,0,0,0.1);">
			<div class="head">
				<div class="logo">
					<a href="###"></a>
				</div>
				<ul class="navs">
					<li>
						<a href="{:url('index/index')}" class="is">IT联合办公</a>
					</li>
					<li>
						<a href="{:url('demand/index')}" class="is">需求</a>
					</li>
					<li>
						<a href="{:url('cases/index')}" class="is ">案例</a>
					</li>
					<li>
						<a href="###" class="is actives">人才</a>
					</li>
				</ul>
				<div style="clear:both"></div>
			</div>
		</div>
		<div class="content" style="padding: 0;">
			<div class="center">
				<div class="center_left">
					<a href="{:url('user/resume')}">个人主页</a>
					<a href="{:url('user/index')}">基本信息</a>
					<a href="{:url('user/order')}" class="active"><em></em>我的订单</a>

					<a href="javascript:if(confirm('确实要删除该内容吗?')){location='{:url("login/exit")}'}">退出登录</a>
				</div>
				<div class="center_cen">
					<div class="cente-head ">
						<p class="p2 on"><span>我发布的需求(</span><span id="num_1">5</span>)</p>
						<p class="p2"><span>我申请的任务</span><span id="num_2">(0)</span></p>
						<p class="p2"><span>我雇佣的</span><span id="num_3">(0)</span></p>
						<p class="p2"><span>雇佣我的</span><span id="num_4">(0)</span></p>
					</div>
					<div class="cente_b">
						<div class="cente_ul">
							<ul class="ul1">
								<div class="string">
									<div class="wu">
										<img src="__INDEX__/img/521511013441599704.png" />
										<p>没有记录</p>
									</div>

								</div>
							</ul>
							<ul class="ul2">
								<div class="string">
									<div class="wu">
										<img src="__INDEX__/img/521511013441599704.png" />
										<p>没有记录</p>
									</div>
								</div>
							</ul>
							<ul class="ul3">
								<li class="li_one">
									<div class="top relative">
										<div class="top_left">
											<img src="__INDEX__/img/bai.png" />
										</div>
										<div class="top_center">
											<p><span>需求名称 </span><span></span></p>
											<p><span>郑州  </span><span>发布时间    </span><span></span></p>
										</div>
										<div class="top_right">
											<span>对接中</span>
										</div>
									</div>
									<div class="bottom relative">
										<div class="demanddel-type">
											<p class="demanddel-t" style="font-size: 1.2em;color: #797979;">项目预算</p>
											<p style="font-size: 24px;color: #ec1313;">元 </p>
											<div class="demanddel-num">
												<p class="apply1"><span>已申请</span> <span>人</span></p>
												<p class="apply2"><span>已浏览</span> <span>人</span></p>
											</div>
										</div>
										<p><span>所属行业</span>
											<span>
											
										</span>
										</p>
										<p><span>所属类型</span>
											<span>
											
										</span></p>
										<p><span>开发周期</span>
											<span>
										3-6个月
										</span></p>
										<p><span>紧急程度</span><span>
											
											非常紧急
											
										</span></p>
										<p><span>需求描述</span><span></span></p>
										<p style="margin-top: 30px;width: auto;"><span>需求方</span>
											<div class="participations">
												<div class="participation participation_f">
													<a href="#">需求方</a>
													<img src="__INDEX__/img/bai.png"/>
													<a ></a>
													<i class=" "> <img src="__INDEX__/img/icon/dui.png"/></i>
												</div>
											</div>
										</p>
										<div class="bottom_bottom blue1"   style="border-top: 1px dotted #d3d0d0;border-bottom: 1px dotted #d3d0d0;">
											<p class="blue">
												<span class="sptext">申请中</span>
												<span class="spbackground"></span>
											</p>
											<p>
												<span class="sptext">我被雇佣</span>
												<span class="spbackground"></span>
											</p>
											<p >
												<span class="sptext">我已完工</span>
												<span class="spbackground"></span>
											</p>
											<!-- <p>
												<span class="sptext">提成佣金</span>
												<span class="spbackground"></span>
											</p> -->
										</div>
										<div class="string string3">

										<h3 style="display: none;">进展详情</h3>
										<div class="renyuean">
											<div class="">
												<img src="__INDEX__/img/avatar/2.jpg" />
												<i></i>
											</div>
											<div class="">
												<h5 class="blues" style="color: #0082E6; ">硅谷 雇佣了你</h5>
												<i style="border-left: 2px solid gray; color: gray;">
												<i  >硅谷</i><i>13613820359</i></i><i class="kai"> 是否开工：确认</i>
											</div>
										</div>
										<div class="renyuean2">
											<div class="">
												<img src="__INDEX__/img/avatar/2.jpg" />
												<i></i>
											</div>
											<div class="">
												<h5 class="blues" style="color: #0082E6; "> 已开工 <i></i></h5>
												<i style="border-left: 2px solid gray; color: gray;"><i >完工时间：</i><i>1~3月</i><i class="timess">请验收</i></i>
											</div>

										</div>
										<div class="renyuean3">
											<div class="">
												<img src="__INDEX__/img/bai.png" />
												<i></i>
											</div>
											<div class="">
												<h5 class="blues">已验收 <i></i></h5>
												<i style="border-left: 2px solid gray;color: gray;">
													<i class="tong" style="padding: 3px 5px;border: 1px solid gainsboro;background-color: #0190FE; border-radius:5px ;color: white;">同意</i></i>
											</div>
										</div>


								</div>
									</div>
								</li>
								<div class="string">
									<div class="wu">
										<img src="__INDEX__/img/521511013441599704.png" />
										<p>没有记录</p>
									</div>

								</div>
							</ul>
							<ul class="ul4">
								<div class="string">
									<div class="wu">
										<img src="__INDEX__/img/521511013441599704.png" />
										<p>没有记录</p>
									</div>
								</div>
							</ul>
						</div>

					</div>
				</div>
			</div>
		</div>
		<div class="footer" style="background-color: #1e2831; ">
			<div class="center">
				<p>2014-2017 汇谷电子科技有限公司 版权所有：ICP备12027515号-1</p>
			</div>
		</div>
		<script type="text/javascript">
			
			/*ul1*/
			$(".ul3 .li_one .top").click(function() {
				var sr1 = $(this).parent();
				var st1 = $(this).next();
				var strs = sr1.nextAll();
				if(sr1.hasClass('li_ones')) {
					/*有 展开 删除 合并 */
					sr1.removeClass("li_ones");
					strs.css("display","block");
				} else {
					/*无 合并 添加 展开 */
					$(".ul1 .li_one").removeClass("li_ones");
					sr1.addClass("li_ones");
					strs.css("display","none");
				}
			})
			/*申请的任务 记录*/
			
			$(".ul4 .li_one .top").click(function() {
				var sr1 = $(this).parent();
				var st1 = $(this).next();
				var strs = sr1.nextAll();
				if(sr1.hasClass('li_ones')) {
					/*有 展开 删除 合并 */
					sr1.removeClass("li_ones");
					strs.css("display","block");
				} else {
					/*无 合并 添加 展开 */
					$(".ul2 .li_one").removeClass("li_ones");
					sr1.addClass("li_ones");
					strs.css("display","none");
				}
			})
			
			$(".kai").click(function() {
				if($(this).text()!="已开工"){
					$(this).text("已开工");
					$(this).parent().parent().parent().removeClass("string1");
					$(this).parent().parent().parent().addClass("string2");
					$(this).parent().parent().parent().parent().addClass("str");
					/*获取当前的 .li_one*/
					var prse = $(this).parent().parent().parent().parent().parent();
					var names = prse.parent().attr('class');
					/*获取当前的 .li_one 得下标*/
					var tt = $("."+names+" .li_one").index(prse);
					/*获取 选择的接单 的data-id*/
					var demand_id = $("."+names+" .li_one:nth-child("+(tt+1)+") .str .participations .participation1").data('demand');
					var user_id = $("."+names+" .li_one:nth-child("+(tt+1)+") .str .participations .participation1").data('user');					
				}
			})

			$(".renyuean2 .timess").click(function() {
				$(this).parent().parent().parent().parent().addClass("string3");
				$(this).parent().parent().parent().parent().removeClass("string2");
			})
			$(".tong").click(function() {
				$(this).parent().parent().parent().parent().addClass("strings");
				$(".strings .renyuean2 div h5").text("已完工");
				$(".strings .kai").text("已完工");
				$(".strings .timess").text("已完工");
				$(".strings").prev().addClass("blue2");
			})
		</script>
		<script src="__INDEX__/js/order.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>